<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden - Admin Dashboard</title>
    <link href="../../../static/icons/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="../../../static/css/utils.css">
    <link rel="stylesheet" href="../../../static/css/dashboards.css">
</head>
<body
    class="admin-body cs-bg-white cs-grid"
    style="
            --white-color: #fff;
            --accent-color: hsl(38, 95%, 47%);
            --primary-color: hsl(0, 0%, 9%);
            --primary-color-hover: hsla(0, 100%, 95%, 1);
            --secondary-color: hsl(213, 28%, 19%);
            --secondary-color-hover: hsl(213, 28%, 14%);
            --gap: 0rem;
        "
>
    
    <!-- sidenav -->
    <aside class="admin-side-nav cs-grid cs-align-start" style="--gap: .5rem;align-content: flex-start;">
        <div class="header cs-grid">
            <div class="cs-flex cs-align-center cs-justify-between" style="--gap: 2rem">
                <div class="logo-wrapper cs-overflow-hidden">
                    <img src="../../../static/assets/imgs/resources/logo_website-e1652772171833-1.png" alt="Logo" class="logo" style="object-fit: cover;">
                </div>
                <button class="btn cs-bg-transparent cs-text-primary"><i class="fa fa-bars"></i></button>
            </div>
            <hr style="border: 1px solid hsl(0, 0%, 95%);">
        </div>
        <div class="body cs-grid" style="--gap: 2rem;">
            <div class="item-group cs-grid" style="--gap: 0rem;">
                <!-- <h3 class="item-group-title cs-font-500 cs-text-md" style="color: hsl(0, 0%, 60%)">Navigation</h3> -->
                <div class="items cs-grid" style="--gap: .1rem">
                    <ul class="item list-none list-outside">
                        <li>
                            <a href="../index.html" class="side-tab br-sm cs-flex justify-start cs-align-center" style="--gap: .5rem;">
                                <i class="fa fa-home cs-text-normal-md cs-text-primary"></i>
                                <h5 class="item-label cs-font-500 cs-text-md cs-text-cs-bg-secondary">Home</h5>
                            </a>
                        </li>
                        <li>
                            <a href="../clients.html" class="side-tab br-sm cs-flex justify-start cs-align-center" style="--gap: .5rem;">
                                <i class="fa fa-user cs-text-normal-md cs-text-primary"></i>
                                <h5 class="item-label cs-font-500 cs-text-md cs-text-cs-bg-secondary">Clients</h5>
                            </a>
                        </li>
                        <li>
                            <a href="../manager.html" class="side-tab br-sm cs-flex justify-start cs-align-center" style="--gap: .5rem;">
                                <i class="fa fa-home cs-text-normal-md cs-text-primary"></i>
                                <h5 class="item-label cs-font-500 cs-text-md cs-text-cs-bg-secondary">Manager</h5>
                            </a>
                        </li>
                        <li>
                            <a href="" class="active side-tab br-sm cs-flex justify-start cs-align-center" style="--gap: .5rem;">
                                <i class="fa fa-home cs-text-normal-md cs-text-primary"></i>
                                <h5 class="item-label cs-font-500 cs-text-md cs-text-cs-bg-secondary">Support</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer cs-grid" style="align-self: flex-end;--gap: 1rem;">
            <hr style="border: 1px solid hsl(0, 0%, 95%);">
            <div class="cs-flex justify-center" style="--gap:1rem;">
                <button class="btn icon-btn cs-bg-white cs-grid cs-justify-center cs-align-center br-sm">
                    <i class="fa fa-cog"></i>
                </button>
                <a href="../createProfile.html" class="btn icon-btn cs-bg-white cs-grid cs-justify-center cs-align-center br-sm">
                    <i class="fa fa-user"></i>
                </a>
                <a class="btn icon-btn cs-bg-white cs-grid cs-justify-center cs-align-center br-sm">
                    <i class="fa fa-user"></i>
                </a>
            </div>
            <button class="btn outlined cs-text-md cs-font-500 br-sm cs-bg-hover-color" sty>Log out</button>
        </div>
    </aside>
    <!-- sidenav -->

    <!-- main -->
    <main class="cs-grid admin-content-area" style="--gap: 1rem;">
        <!-- header area -->
            <header class="content-area-header cs-grid br-sm" style="--gap: 2rem;">
                <div class="cs-grid cs-align-center" style="align-content: center;--gap: .35rem">
                    <h1 class="section-title cs-font-700 cs-font-500 cs-text-secondary" style="line-height: 20px;margin: 0;font-size: 1.4rem;">Admin Dashboard</h1>
                    <p class="cs-flex cs-text-md" style="color: hsla(213, 28%, 60%, 100%)"><span>Home</span></p>
                </div>
                <div class="cs-grid">
                    <form action="../search.html" class="cs-grid" style="align-self: center;">
                        <div class="cs-flex form-group outline-input" style="align-items: center;--gap: 0">
                            <i class="fa fa-search cs-text-body" style="color: hsl(0, 0%, 85%);"></i>
                            <input type="text" name="search" id="search-bar" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="cs-grid justify-end cs-grid-flow-col align-center" style="justify-content: flex-end;--gap: 1rem">
                    <button class="notification-cta badge btn cs-bg-transparent">
                        <span class="count">4</span>
                        <i class="fa fa-bell"></i>
                        <div class="notification-list cs-hidden outlined cs-bg-white br-sm" style="--gap: 1rem;text-align: left;">
                            <h4 class="cs-text-normal cs-font-600 cs-text-secondary" style="margin: 0;">Nofications</h4>
                            <hr style="border: 1px solid hsl(0, 0%, 95%);">
                            <ul class="cs-grid" style="--gap: .25rem">
                                <li>
                                    <a href="./chat.html" class="cs-grid" style="--gap:.25rem;">
                                        <p class="cs-flex cs-align-baseline cs-justify-between">
                                            <span class="cs-grid cs-text-secondary cs-text-md">Nowela Mary</span>
                                            <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">1 minute ago</span>
                                        </p>
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">contract transaction failed ...</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="./chat.html" class="cs-grid" style="--gap:.25rem;">
                                        <p class="cs-flex cs-align-baseline cs-justify-between">
                                            <span class="cs-grid cs-text-secondary cs-text-md">Nowela Mary</span>
                                            <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">1 minute ago</span>
                                        </p>
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">contract transaction failed ...</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="./chat.html" class="cs-grid" style="--gap:.25rem;">
                                        <p class="cs-flex cs-align-baseline cs-justify-between">
                                            <span class="cs-grid cs-text-secondary cs-text-md">Nowela Mary</span>
                                            <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">1 minute ago</span>
                                        </p>
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">contract transaction failed ...</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="./chat.html" class="cs-grid" style="--gap:.25rem;">
                                        <p class="cs-flex cs-align-baseline cs-justify-between">
                                            <span class="cs-grid cs-text-secondary cs-text-md">Nowela Mary</span>
                                            <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">1 minute ago</span>
                                        </p>
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">contract transaction failed ...</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </button>
                    <a href="../profile.html" class="cs-flex br-md" style="--gap: 1rem;padding: .5rem 1rem;background-color: hsla(213, 28%, 70%, 10%);align-content: center;align-items: center;">
                        <div class="cs-grid" style="--gap: 0;justify-items: flex-end;align-content: center;">
                            <h4 class="cs-text-md cs-font-500" style="line-height: 14px;margin: 0;">Nola Riska</h4>
                            <p class="cs-text-sm cs-font-500" style="color: hsl(0, 0%, 60%);">Support</p>
                        </div>
                        <div class="avator br-full cs-overflow-hidden">
                            <img src="../../../static/assets/imgs/resources/profiledefault.png" style="object-fit: cover;inline-size: 100%;block-size: 100%;" alt="">
                        </div>
                    </a>
                </div>
            </header>
        <!-- header area -->
        <!-- section area -->
            <!-- section selectors -->
            <nav class="section-nav-area br-sm cs-bg-white outlined">
                <ul class="cs-grid section-nav list-none list-outside" style="--gap: .25rem;">
                    <div class="cs-flex">
                        <li class="cs-text-md cs-font-500 active">
                            <a class="active" href="">Chatrooms</a>
                        </li>
                        <li class="cs-text-md cs-font-500">
                            <a href="./community.html">Community</a>
                        </li>
                        <!-- <li class="cs-text-md cs-font-500">Chatrooms</li> -->
                    </div>
                </ul>
            </nav>
            <!-- section selectors -->

            <section class="content cs-grid br-sm" style="--gap: 1rem;">
                <div class="inbox-area cs-grid" style="--gap: 1rem">
                    <div class="inbox outlined br-sm cs-align-start cs-content-start cs-grid" style="--gap:.5rem;padding: 1rem 1rem;">
                        <div class="cs-flex cs-align-baseline cs-justify-between">
                            <h4 class="cs-text-normal cs-text-secondary" style="margin: 0;">Chatrooms</h4>
                            <span class="cs-text-md cs-text-accent" >10 chatrooms</span>
                        </div>
                        <hr style="border: 1px solid hsl(0, 0%, 95%);">
                        <ul class="list cs-grid cs-content-start" style="--gap: .25rem">
                            <li>
                                <a href="./chat.html" class="cs-grid" style="--gap:.25rem;">
                                    <p class="cs-flex cs-align-baseline cs-justify-between">
                                        <span class="cs-grid cs-text-secondary cs-text-md">Nowela Mary</span>
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">1 minute ago</span>
                                    </p>
                                    <p class="cs-flex cs-align-baseline cs-justify-start" style="--gap: .5rem;">             
                                        <span class="cs-grid cs-text-secondary cs-text-sm">(Payments)</span>                       
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, magnam!....</span>
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a href="./chat.html" class="cs-grid" style="--gap:.25rem;">
                                    <p class="cs-flex cs-align-baseline cs-justify-between">
                                        <span class="cs-grid cs-text-secondary cs-text-md">Nowela Mary</span>
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">1 minute ago</span>
                                    </p>
                                    <p class="cs-flex cs-align-baseline cs-justify-start" style="--gap: .5rem;">             
                                        <span class="cs-grid cs-text-secondary cs-text-sm">(Payments)</span>                       
                                        <span class="cs-grid cs-text-secondary cs-text-sm" style="color: var(--text-color)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, magnam!....</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="chat outlined br-sm cs-align-start cs-content-start cs-hidden" style="--gap:1rem;padding: 1rem 1rem;">
                        <div class="cs-flex cs-align-baseline cs-justify-between">
                            <h4 class="cs-text-normal cs-text-secondary" style="margin: 0;">Nowela Mary</h4>
                        </div>
                        <hr style="border: 1px solid hsl(0, 0%, 95%);">
                        <ul class="list cs-grid cs-content-start" style="--gap: .25rem">
                            <li class="cs-grid sent" style="--gap:.25rem;">
                                <p class="cs-text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, magnam!
                                </p>
                            </li>
                            <li class="cs-grid received" style="--gap:.25rem;">
                                <p class="cs-text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, magnam!
                                </p>
                            </li>
                            <li class="cs-grid received" style="--gap:.25rem;">
                                <p class="cs-text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, magnam!
                                </p>
                            </li>
                            <li class="cs-grid sent" style="--gap:.25rem;">
                                <p class="cs-text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, magnam!
                                </p>
                            </li>
                        </ul>
                        <form action="" class="cs-grid" style="grid-template-columns: 1fr .2fr;--gap: .5rem;">
                            <input type="text" name="" id="message" placeholder="Message">
                            <input class="btn cs-text-white cs-bg-secondary" type="submit" name="" value="Send">
                        </form>
                    </div>
                </div>
            </section>
        <!-- section area -->
    </main>
    <!-- main -->

    <script src="../../../static/js/admin.js"></script>
</body>
</html>