asgiref
channels
Django
django_allauth
django-rosetta
djangorestframework
django-modeltranslation
django_user_agents
celery==4.4.2
googletrans
paypal_checkout_serversdk
python_dateutil
# selenium
braintree
six
stripe
webdriver_manager
xhtml2pdf
psycopg2