asgiref
channels
Django
django_allauth
django_modeltranslation
djangorestframework
googletrans
modeltranslation
paypal_checkout_serversdk
python_dateutil
selenium
six
stripe
webdriver_manager
xhtml2pdf
