{% extends '../utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}


    <style>
        #banner {
            /* display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 100%;
            --gap: 0 1rem; */
            block-size: 400px;
        }
        #banner .item {
            margin: 0;
            inline-size: 100%;
            block-size: 100%;
        }

        #banner .item img {
            display: block;
            aspect-ratio: 1;
            block-size: 400px;
            object-fit: cover;
        }
        @media (max-width: 786px) {
            #banner,
            #banner .item img {
                block-size: 40vh;
            }
        }
    </style>

    <section class="main w-12/12 mt-5">
        <div class="page-starter grid w-full mx-auto cf-1 gap-4 overflow-hidden">
            <div class="hidden md:grid side-bar gap-3 content-start product-categories w-12/12 ">
                <div class="grid p-0 side-menu card rounded-none rounded-t-md overflow-hidden">
                    <h2 class="text-xl font-bold px-5 py-3" style="background-color: hsla(213, 28%, 90%, .8);">
                        {% trans "Product Categories" %}</h2>
                    <ul class="grid gap-0.5 px-5 py-2" data-context='{{ product_categories.context_name }}'>
                        
                        {% for category in categories_header %}  
                            <li
                                class="side-menu-item text-slate-800 hover:text-black transition-colors transition-200 ease-in" data-category-index="{{ forloop.counter }}">
                                <a class="flex items-center justify-start gap-2 py-2" href='{% url "supplier:category-detail" category.slug %}'>
                                    <img style="inline-size: 1.8rem;aspect-ratio: 1;object-fit: cover;" src="/media/{{ category.image }}" alt="{{ category.name }}">
                                    <span>{{ category.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a class="side-menu-footer bg-yellowColor flex gap-1 px-6 items-center py-3 text-white rounded-b-md" href="{% url 'supplier:category-list' %}">
                    <i class="ti-menu"></i>
                    <span>{% trans "All Categories" %}</span>
                </a>
            </div>
            <div class="hidden promotion-area w-12/12 md:grid gap-3">
                <div class="upper gap-3 rounded-md overflow-hidden" style="block-size:450px;">
                    <!-- Owl carousel -->
                    <div id="banner" style="block-size:100%;">
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                    </div>
                    <!-- Owl carousel -->
                </div>
            </div>
            <div class="mobile promotion-area w-12/12 grid md:hidden gap-3">
                <div class="upper gap-3 rounded-md overflow-hidden">
                    <!-- Owl carousel -->
                    <div id="banner">
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/011.jpg' %}" alt="Owl Image"></div>
                        <div class="item"><img src="{% static 'assets/imgs/resources/01.jpg' %}" alt="Owl Image"></div>
                    </div>
                    <!-- Owl carousel -->
                </div>
            </div>
            <div class="hidden md:grid side-bar gap-3 content-start product-categories w-12/12">
                <div class="grid p-0 side-menu card rounded-none rounded-t-md overflow-hidden">
                    <h2 class="text-xl font-bold px-5 py-3" style="background-color: hsla(213, 28%, 90%, .8);">{% trans 'Showrooms' %}</h2>
                    <ul class="grid gap-0.5 px-5 py-2" data-context='{{ product_categories.context_name }}'>
                        {% for showroom in showroows_headers %}
                            <li
                                class="side-menu-item text-slate-800 hover:text-black transition-colors transition-200 ease-in">
                                <a class="flex items-center justify-start gap-2 py-2" href="{% url 'manager:showroom-detail' showroom.slug %}"  data-showroom-index="{{forloop.counter}}">
                                    <img style="inline-size: 1.8rem;aspect-ratio: 1;object-fit: cover;" src="/media/{{ showroom.image }}" alt="{{ showroom.name }}">
                                    <span>{{ showroom.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a class="side-menu-footer bg-yellowColor flex gap-1 px-6 items-center py-3 text-white rounded-b-md" href="{% url 'manager:showrooms' %}">
                    <i class="ti-menu"></i>
                    <span>{% trans 'All Showrooms' %}</span>
                </a>
            </div>
        </div>
    </section>

    <section class="main w-12/12 mt-4 md:mt-0">
        <div class="grid w-full mx-auto cf-1 gap-2 md:gap-6">
            <div class="section-heading">
                <h2 class="sec-title text-xl capitalize md:text-2xl font-bold text-yellowColor">{% trans 'Foroden Marketplace' %}</h2>
            </div>
            <div class="section-body grid gap-4 grid-cols-1 md:grid-cols-3">

                {% for category in product_categories.results %}   
                    <div class="section-item-group grid gap-2 rounded-md card p-4" >
                        <a href='{% url "supplier:category-detail" category.category.slug %}'class="section-item-group-title flex justify-between items-center"  data-category-group-index="{{ forloop.counter }}">
                            <span class="text-lg font-bold">{{ category.category.name }}</span>
                            <span class="text-sm text-slate-800 hover:text-yellowColor font-normal">{% trans "View All" %}</span>
                        </a>
                        <div class="section-item-group-content grid gap-4 grid-cols-3">
                            
                            {% for sub_category in category.sub_categories %}
                                <div class="item">
                                    <a class="grid gap-0.5" href='{% url "supplier:subcategory-detail" category.category.slug sub_category.slug %}'  data-subcategory-index="{{ forloop.counter }}">
                                        <img loading="lazy"
                                            src="/media/{{sub_category.image}}"
                                            alt="Product" class="item-img rounded"
                                            style="width: 100%;aspect-ratio:1/1;object-fit:cover;border-radius: 5px;">
                                        <div class="item-details grid gap-0 justify-start text-left justify-center">
                                            <h5 class="text-sm font-semibold leading-5 text-center">
                                                <span>{{sub_category.name}}</span>
                                            </h5>
                                            <!-- <h6 class="text-gray-600 text-xs">120 Products</h6> -->
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if new_arrivals.results %}
    <section class="main w-12/12">
        <div class="grid md:w-full mx-auto p-2 md:p-0 cf-1 gap-4">
            <div class="section-body grid gap-2 card p-3 py-6 rounded-md">
                <div class="flex p-2 pt-0 justify-between items-baseline">
                    <div class="flex gap-5">
                        <h1 class="text-xl md:text-2xl text-yellowColor font-bold">{% trans 'New Arrivals' %}</h1>
                        <!-- <h1 class="hidden md:flex gap-1 items-baseline text-lg text-slate-400 font-bold"><span
                                class="text-lg text-xl text-slate-500">30%</span> OFF</h1> -->
                    </div>
                    <!-- <a class="justify-self-end text-base text-slate-500 hover:text-slate-700" href="">{% trans "View All" %}</a> -->
                </div>
                <div class="grid gap-1 horizontal-scroll" data-context="{{new_arrivals.context_name}}">
                    {% for new_arrival in new_arrivals.results %}
                        <div class="promotion-card grid"  data-new_arrival-index="{{forloop.counter}}">
                            <a class="grid rounded-md" href="{% url 'supplier:product-detail' new_arrival.product.slug %}">
                                <div class="grid p-2">
                                    <img loading="lazy" src="/media/{{new_arrival.main_image.image}}" alt="{{new_arrival.product.name}}" class="item-img rounded" style="width: 100%;aspect-ratio:1/.8;object-fit:cover;">
                                </div>
                                <div class="item-details grid gap-0 px-2 items-start content-start">
                                    <h5 class="text-base font-semibold leading-5">
                                        {{new_arrival.product.name}}
                                    </h5>
                                    <!-- <p class="text-base font-bold flex gap-2 items-baseline">
                                        {{new_arrival.product.currency}} <span>{{new_arrival.product.price}}</span>
                                        <s class="text-slate-400 font-normal text-sm">{{new_arrival.product.price}}</s>
                                    </p> -->
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="main w-12/12 py-3">
        <div class="grid w-full mx-auto cf-1 gap-6">
            <div class="section-heading flex justify-between">
                <h2 class="sec-title text-xl capitalize md:text-2xl font-bold text-yellowColor">{% trans 'Foroden Showrooms' %}</h2>
                <a class="justify-self-end text-base text-slate-500 hover:text-slate-700" href="">{% trans 'View All' %}</a>
            </div>
            <div class="showrooms section-body grid gap-4 horizontal-scroll items-start" style="--row-size:14%">
                
                {% for showroom in showrooms.results %}
                    <a href="{% url 'manager:showroom-detail' showroom.slug %}" class="grid card rounded overflow-hidden">
                        <div class="img-wrapper">
                            <img src="/media/{{showroom.image}}" style="object-fit: cover;" alt="{{showroom.name}}">
                        </div>
                        <div class="card-content grid gap-1 px-4 py-2 items-start">
                            <h2 class="text-base md:text-base bg-lightBackgroundColor">{{showroom.name}}</h2>
                            <!-- <p class="text-base text-slate-400 font-normal">10 Stores</p> -->
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    {% if propular_products.results %}
    <section class="main w-12/12 pt-0" style="block-size: auto">
        <div class="grid w-full mx-auto cf-1 gap-6" style="grid-template-columns: 1fr;">
            <div class="section-heading">
                <h2 class="sec-title text-xl capitalize md:text-2xl font-bold text-yellowColor">{% trans 'Popular Products' %}</h2>
            </div>
            <div class="section-body grid gap-2 md:gap-6 grid-cols-2 md:grid-cols-5 card p-4"
                data-context="{{propular_products.context_name}}">
                
                {% for product in propular_products.results %}
                    <div class="single-image-product-card overflow-hidden rounded grid gap-0.5 card-outlined">
                        <a class="grid gap-2 rounded overflow-hidden" href="{% url 'supplier:product-detail' product.product.slug %}">
                            <img loading="lazy" src="/media/{{product.images.image}}" alt="{{product.name}}"
                                class="item-img rounded" style="width: 100%;object-fit:cover;">
                            <div class="item-details grid gap-0 py-1 md:py-2 px-4 gap-2"
                                style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">
                                    {{product.product.name}}
                                </h5>
                                <p class="text-xs font-medium">
                                    <span>{{product.product.currency}}</span>
                                    <span>{{product.product.price}}</span>
                                </p>
                            </div>
                            <span class="grid items-center pb-2 px-4 font-semibold text-sm">By {{ product.supplier }}</span>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../static/owl-carousel/owl.carousel.js"></script>

    <script>
        $(document).ready(function () {
            $("#banner").owlCarousel({
                autoPlay: 5000, //Set AutoPlay to 3 seconds
                responsiveClass:true,
                items: 1,
                lazyLoad: true,
                pagination: false
            });
        });
    </script>

{% endblock %}