{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="main-content">
        <div class="content-area">
            <h3 style="margin:1.6rem 0 .4rem 0;font-weight:600;">{% trans 'My Contracts' %}</h3>
                <div class="contract outlined cs-grid" style="--gap: 1rem;align-items: flex-start;padding: 1rem 1.5rem;">
                    <div class="contract-header">
                        <div class="">
                            <h4>{% trans 'Details' %}</h4>
                        </div>
                    </div>
                    <div class="contract-body cs-grid" style="align-items: flex-start;--gap: 1rem;">
                        <div class="title flex">
                            <h4>{% trans 'Client information' %}</h4>
                            <h4>Ref No: #CNTR11414</h4>
                        </div>
                        <div class="contract card">
                            <div class="top-content flex">
                                <div class="profile flex">
                                    <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt=""
                                        class="avatar">
                                    <h4 class="client">{{contract.buyer.profile.business_name}}</h4>
                                </div>
                                <h4 class="date">{{contract.created_on}}</h4>
                            </div>
                            <div class="bottom-content flex">
                                <h4 class="location"><small>{% trans 'Requested from' %}:</small> {{contract.buyer.profile.country}}</h4>
                                <h4 class="timestamp">{% if contract.is_complete %} Complete {% else %} Not Complete {% endif %}</h4>
                            </div>
                        </div>
                        <h4>{% trans 'Contract info' %}</h4>
                        <div class="">
                            <table class="contract-table">
                                <thead>
                                    <tr>
                                        <th>{% trans 'Service' %}</th>
                                        <th>{% trans 'Price' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="">{{contract.service.name}}</span></td>
                                        <td><span class="">{{receipt.currency}} {{receipt.amount_paid}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-5">
                            <form action="" class="flex"
                                style="margin-top:.8rem;justify-content:flex-start;gap:.4rem;">
                                <div class="form-control">
                                    <input type="submit" value="{% trans 'Accept' %}" name="accept" class="btn">
                                </div>
                                <div class="form-control">
                                    <input type="submit" value="{% trans 'Reject' %}" name="reject" class="btn">
                                </div>
                                <div class="form-control">
                                    <input type="button" value="{% trans 'Print' %}" name="print" class="btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <script src="../../../static/js/dropdown.js"></script>
    <script src="../../../static/js/sidebar.js"></script>
    <script src="../../../static/js/modal.js"></script>
    <script>


    </script>
{% endblock %}