{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<style>
    .order-status h4 {
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background: #454545;
        border-radius: 40px;
        padding: 1.2em 2.4em;
        inline-size: 150px;
    }

    .order-status.completed h4 {background: #18d11f;}
    .order-status.pending h4 {background: #f99d1b;}
    .order-status.canceled h4 {background: #f01a1a;}
</style>

    <div class="main-content">
        <div class="content-area outlined" style="padding-block-start: 1.2rem; padding: .6rem .4rem;">
            <div class="content-area-top flex" style="justify-content: space-between;padding-block-start: .4rem;">
                <h3 style="font-weight:600;">{% trans 'Order #00003624' %}</h3>
            </div>
            <div class="card data-table wishlist-table" style="border-block-end: 0;">
                <table id="buyer-contracts___--___" class="display" style="width:100%;">
                    <thead>
                        <tr>
                            <th>{% trans 'Product ID' %}</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Supplier' %}</th>
                            <th>{% trans 'Quantity' %}</th>
                            <th>{% trans 'Unit Price' %}</th>
                            <th>{% trans 'Total Price' %}</th>
                            <th>{% trans 'Created At' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12563254</td>
                            <td>Reizhen Wrist Watch</td>
                            <td>Modern Electonics</td>
                            <td>01</td>
                            <td>$520</td>
                            <td>$520</td>
                            <td>24-06-2023</td>
                        </tr>
                        <tr>
                            <td>12563200</td>
                            <td>HP Commercial Printer</td>
                            <td>Modern Electonics</td>
                            <td>02</td>
                            <td>$10,020</td>
                            <td>$20,040</td>
                            <td>24-06-2023</td>
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <th>{% trans 'Ratings' %}</th>
                            <th>{% trans 'Product' %}</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Cart' %}</th>
                            <th>{% trans 'Share' %}</th>
                        </tr>
                    </tfoot> -->
                </table>
                <div class="table-pagination cs-flex cs-justify-between cs-align-center" style="--gap: 1rem;padding: 0 1rem;">
                    <div class="cs-grid cs-align-center">
                        <p class="cs-text-md" style="color: var(--text-color);">{% trans 'Showing Page' %} <span id="current-page-0"></span> {% trans 'of' %} <span id="max-page"></span>. (<span id="table-item-count"></span> {% trans 'Entries' %})</p>
                    </div>
                    <div class="table-pagination cs-flex cs-justify-end cs-align-center" style="--gap: 1rem;">
                        <button id="previous-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Previous' %}</button>
                        <span id="current-page" class="cs-text-md"></span>
                        <button id="next-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Next' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <!-- <script src="{% static 'js/modal.js' %}"></script> -->
    <script>
        // Table
        $(document).ready(function () {
            $('#table-1').DataTable();
        });

        function navigateToContract() {
            location.href = "_contract-detail.html";
        }

        const closeCard = document.querySelector('.ti-close.exit');
        if (closeCard) {
            closeCard.addEventListener('click', function (e) {
                e.target.parentElement.remove();
            });
        }
    </script>

{% endblock %}