{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="main-content" style="overflow-y: scroll;">
    <div class="cs-content-area cs-no-box-shadow outlined" style="block-size: 100vh;padding: .6rem .4rem;">
        <div class="content-area-top flex" style="justify-content: space-between;padding-block-start: .4rem;">
            <h3 style="font-weight:600;">{% trans 'Reporting & Analytics' %}</h3>
        </div>

        <div class="notifications-section flex" style="background-color: rgb(226, 226, 224);">
            <h4 class="section-togglers" data-section="sec_00" style="padding-block: 1.2rem;">Order Analytics</h4>
            <h4 class="section-togglers" data-section="sec_01" style="padding-block: 1.2rem;">Spend Management</h4>
            <h4 class="section-togglers" data-section="sec_02" style="padding-block: 1.2rem;">Supplier Performance</h4>
            <h4 class="section-togglers" data-section="sec_03" style="padding-block: 1.2rem;">Custom Reports</h4>
        </div>

        <div class="notification-section inview" id="sec_00">
            <div class="notifications">
                <table id="order-analytics" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Supplier</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Ordered At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Modern Electronics</td>
                            <td>Reizen Smart Watch</td>
                            <td>$1,500</td>
                            <td>3</td>
                            <td>$45,000</td>
                            <td>21-06-2023</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Order ID</th>
                        <th>Supplier</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Ordered At</th>
                      </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="notification-section" id="sec_01">
            <div class="notifications">
                <table id="spend-management" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>000123</td>
                            <td>Electonics</td>
                            <td>$105,000</td>
                            <td>21-06-2023</td>
                        </tr>
                        <tr>
                            <td>000123</td>
                            <td>Fashion</td>
                            <td>$1,000,000</td>
                            <td>21-06-2023</td>
                        </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Order ID</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Created At</th>
                      </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="notification-section" id="sec_02">
            <div class="notifications">
            </div>
        </div>
        <div class="notification-section" id="sec_03">
            <div class="notifications">
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    
        const section_togglers = document.querySelectorAll(".section-togglers")
        section_togglers.forEach(
            activator => activator.addEventListener("click", () => {
                let sectionToShow = document.querySelector(`#${activator.dataset.section}`)

                section_togglers.forEach(section_toggler => {
                    section_toggler.style.borderBlockEnd = "unset";
                    section_toggler.style.color = "#929293";
                })
                activator.style.color = "#363637";
                activator.style.borderBlockEnd = "2px solid #363637";
                
                let openSections = document.querySelectorAll(".notification-section.inview");
                openSections.forEach(section => section.classList.remove("inview"))

                sectionToShow.classList.add("inview")
            })
        )

        $("#order-analytics").DataTable();
        $("#spend-management").DataTable();
    })
</script>




{{ category_group|json_script:"category_group" }}

{% endblock %}