{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="main-content">
        <div class="content-area" style="padding-block-start: 1.2rem;">
            <div class="content-area-top flex" style="justify-content: space-between;padding-block-start: .4rem;">
                <h3 style="font-weight:600;">{% trans 'My Whishlist' %}</h3>
                <div class="sort-by flex">
                    <h4 style="margin-inline-end: .6rem;">Sort by: </h4>
                    <select name="sort-by" style="padding: .4rem .6rem;background-color: transparent;border-radius: 3px;">
                        <option value="">Category</option>
                        <option value="">Date</option>
                        <option value="">Others</option>
                    </select>
                </div>
            </div>
            <div class="card data-table wishlist-table">
                <table id="buyer-contracts" class="display" style="width:100%;">
                    <!-- <thead>
                        <tr>
                            <th>{% trans 'Ratings' %}</th>
                            <th>{% trans 'Product' %}</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Cart' %}</th>
                            <th>{% trans 'Share' %}</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>
                                <div class="item-ratings star-05">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </td>
                            <td>
                                <div class="item-card">
                                    <img src="/media/ProductImage/images/case-strap-3064a984-31ab-418c-955b-02cb2984ec6c-ce.jpeg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Bleer Sleek Wrist Watch</h4>
                                    <button class="item-link-btn">Visit Website <i class="ti-arrow-top-right"></i></button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-shopping-cart-full"></i> Add to Cart</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-sharethis"></i> Share</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Remove</h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="item-ratings star-03">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </td>
                            <td>
                                <div class="item-card">
                                    <img src="/media/ProductImage/images/case-strap-3064a984-31ab-418c-955b-02cb2984ec6c-ce.jpeg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Bleer Sleek Wrist Watch</h4>
                                    <button class="item-link-btn">Visit Website <i class="ti-arrow-top-right"></i></button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-shopping-cart-full"></i> Add to Cart</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-sharethis"></i> Share</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Remove</h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="item-ratings star-01">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </td>
                            <td>
                                <div class="item-card">
                                    <img src="/media/ProductImage/images/case-strap-3064a984-31ab-418c-955b-02cb2984ec6c-ce.jpeg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Bleer Sleek Wrist Watch</h4>
                                    <button class="item-link-btn">Visit Website <i class="ti-arrow-top-right"></i></button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-shopping-cart-full"></i> Add to Cart</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-sharethis"></i> Share</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Remove</h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="item-ratings">
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                    <i class="ti-star"></i>
                                </div>
                            </td>
                            <td>
                                <div class="item-card">
                                    <img src="/media/ProductImage/images/case-strap-3064a984-31ab-418c-955b-02cb2984ec6c-ce.jpeg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Bleer Sleek Wrist Watch</h4>
                                    <button class="item-link-btn">Visit Website <i class="ti-arrow-top-right"></i></button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-shopping-cart-full"></i> Add to Cart</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <button class="item-link-btn"><i class="ti-sharethis"></i> Share</button>
                                </div>
                            </td>
                            <td>
                                <div class="item-link">
                                    <h4>Remove</h4>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <th>{% trans 'Ratings' %}</th>
                            <th>{% trans 'Product' %}</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Cart' %}</th>
                            <th>{% trans 'Share' %}</th>
                        </tr>
                    </tfoot> -->
                </table>
                <div class="table-pagination cs-flex cs-justify-between cs-align-center" style="--gap: 1rem;padding: 0 1rem;">
                    <div class="cs-grid cs-align-center">
                        <p class="cs-text-md" style="color: var(--text-color);">{% trans 'Showing Page' %} <span id="current-page-0"></span> {% trans 'of' %} <span id="max-page"></span>. (<span id="table-item-count"></span> {% trans 'Entries' %})</p>
                    </div>
                    <div class="table-pagination cs-flex cs-justify-end cs-align-center" style="--gap: 1rem;">
                        <button id="previous-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Previous' %}</button>
                        <span id="current-page" class="cs-text-md"></span>
                        <button id="next-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Next' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <!-- <script src="{% static 'js/modal.js' %}"></script> -->
    <script>
        // Table
        $(document).ready(function () {
            $('#table-1').DataTable();
        });

        function navigateToContract() {
            location.href = "_contract-detail.html";
        }

        const closeCard = document.querySelector('.ti-close.exit');
        if (closeCard) {
            closeCard.addEventListener('click', function (e) {
                e.target.parentElement.remove();
            });
        }
    </script>

{% endblock %}