{% extends '../utils/layout.html' %} {% block content %}
<div class="container mx-auto mt-10 px-4">
  <div class="container mx-auto mt-10 px-4 flex items-center justify-between">
    <a
      href="{% url 'customer:key_metric_summary' %}"
      class="btn btn-primary mt-10"
    >
      Key Metrics Summary</a
    >
    <a
      href="{% url 'customer:line_or_area_charts' %}"
      class="btn btn-primary mt-10"
      >View Line and Area Charts</a
    >
    <a
      href="{% url 'customer:performance_comparison' %}"
      class="btn btn-primary mt-10"
      >Performance Comparison</a
    >
    <a
      href="{% url 'customer:customer_satisfaction_ratings' %}"
      class="btn btn-primary mt-10"
      >Customer Satisfaction</a
    >
    <a
      href="{% url 'customer:response_time_analytics' %}"
      class="btn btn-primary mt-10"
      >Response</a
    >
    <a
      href="{% url 'customer:resolution_time_analytics' %}"
      class="btn btn-primary mt-10"
      >Resolution</a
    >
  </div>
  <h1 class="text-3xl font-semibold mb-6">Customer Satisfaction Ratings</h1>

  <div class="bg-white p-4 rounded shadow-md">
    {% if average_customer_rating %}
    <p class="text-2xl font-bold">
      Average Rating: {{ average_customer_rating|floatformat:1 }}
    </p>
    {% else %}
    <p>No ratings available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
