{% extends '../utils/layout.html' %} {% load static %} {% load i18n %} {% load
format_date %} {% block content %}

<div class="container mx-auto mt-10 px-4">
  <div
    class="container mx-auto mt-10 px-4 flex items-center justify-between w-100"
  >
    <a
      href="{% url 'customer:key_metric_summary' %}"
      class="btn btn-primary mt-10"
    >
      Key Metrics Summary</a
    >
    <a
      href="{% url 'customer:line_or_area_charts' %}"
      class="btn btn-primary mt-10"
      >View Line and Area Charts</a
    >
    <a
      href="{% url 'customer:performance_comparison' %}"
      class="btn btn-primary mt-10"
      >Performance Comparison</a
    >
    <a
      href="{% url 'customer:customer_satisfaction_ratings' %}"
      class="btn btn-primary mt-10"
      >Customer Satisfaction</a
    >
    <a
      href="{% url 'customer:response_time_analytics' %}"
      class="btn btn-primary mt-10"
      >Response</a
    >
    <a
      href="{% url 'customer:resolution_time_analytics' %}"
      class="btn btn-primary mt-10"
      >Resolution</a
    >
  </div>
  <h1 class="text-3xl font-semibold mb-6">Key Metrics Summary</h1>

  <div class="grid grid-cols-2 gap-4">
    <div class="bg-white shadow-lg p-4">
      <h2 class="text-xl font-semibold mb-2">Ticket Volume</h2>
      <p class="text-4xl font-bold">{{ ticket_volume }}</p>
    </div>

    <div class="bg-white shadow-lg p-4">
      <h2 class="text-xl font-semibold mb-2">Average Response Time</h2>
      <p class="text-4xl font-bold">
        {{ average_response_time|default_if_none:"N/A" }}
      </p>
    </div>

    <div class="bg-white shadow-lg p-4">
      <h2 class="text-xl font-semibold mb-2">Resolution Time</h2>
      <p class="text-4xl font-bold">
        {{ resolution_time|default_if_none:"N/A" }}
      </p>
    </div>

    <div class="bg-white shadow-lg p-4">
      <h2 class="text-xl font-semibold mb-2">Customer Satisfaction Score</h2>
      <p class="text-4xl font-bold">
        {{ customer_satisfaction_score|default_if_none:"N/A" }}
      </p>
    </div>
  </div>

  {% if lowest_rated_representatives %}
  <div class="mt-10">
    <h2 class="text-2xl font-semibold mb-4">
      Lowest Rated Customer Care Representatives
    </h2>
    <ul class="list-group">
      {% for representative in lowest_rated_representatives %}
      <li class="list-group-item">
        {{ representative.name }} - {{ representative.ratings.score }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% if highest_rated_representatives %}
  <div class="mt-10">
    <h2 class="text-2xl font-semibold mb-4">
      Highest Rated Customer Care Representatives
    </h2>
    <ul class="list-group">
      {% for representative in highest_rated_representatives %}
      <li class="list-group-item">
        {{ representative.name }} - {{ representative.ratings.score }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
