{% extends '../utils/layout.html' %} {% block content %}
<div class="container mx-auto mt-10 px-4">
  <div class="container mx-auto mt-10 px-4 flex items-center justify-between">
    <a
      href="{% url 'customer:key_metric_summary' %}"
      class="btn btn-primary mt-10"
    >
      Key Metrics Summary</a
    >
    <a
      href="{% url 'customer:line_or_area_charts' %}"
      class="btn btn-primary mt-10"
      >View Line and Area Charts</a
    >
    <a
      href="{% url 'customer:performance_comparison' %}"
      class="btn btn-primary mt-10"
      >Performance Comparison</a
    >
    <a
      href="{% url 'customer:customer_satisfaction_ratings' %}"
      class="btn btn-primary mt-10"
      >Customer Satisfaction</a
    >
    <a
      href="{% url 'customer:response_time_analytics' %}"
      class="btn btn-primary mt-10"
      >Response</a
    >
    <a
      href="{% url 'customer:resolution_time_analytics' %}"
      class="btn btn-primary mt-10"
      >Resolution</a
    >
  </div>
  <h1 class="text-3xl font-semibold mb-6">Line and Area Charts</h1>

  <div class="mb-6">
    <canvas id="lineChart1" width="400" height="200"></canvas>
  </div>

  <div>
    <canvas id="lineChart2" width="400" height="200"></canvas>
  </div>
</div>

<!-- Load Chart.js library from CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // Access the data from the Django context
  const lineChartData1 = JSON.parse("{{ line_chart_1_data|safe }}");
  const lineChartData2 = JSON.parse("{{ line_chart_2_data|safe }}");

  // Create and render the first line chart
  const ctx1 = document.getElementById("lineChart1").getContext("2d");
  new Chart(ctx1, {
    type: "line",
    data: {
      labels: lineChartData1.map((data) => data[0]), // Assuming the first element is the date or label
      datasets: [
        {
          label: "Total Tickets",
          borderColor: "blue",
          backgroundColor: "rgba(0, 0, 255, 0.2)",
          data: lineChartData1.map((data) => data[1]), // Assuming the second element is the value
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
    },
  });

  // Create and render the second line chart
  const ctx2 = document.getElementById("lineChart2").getContext("2d");
  new Chart(ctx2, {
    type: "line",
    data: {
      labels: lineChartData2.map((data) => data[0]), // Assuming the first element is the date or label
      datasets: [
        {
          label: "Average Response Time",
          borderColor: "green",
          backgroundColor: "rgba(0, 128, 0, 0.2)",
          data: lineChartData2.map((data) => data[1]), // Assuming the second element is the value
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
    },
  });
</script>
{% endblock %}
