@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

:root {
    --brand-primary: #ecab08;
    --brand-primary-light: #f9df9c;
    --brand-secondary: #fafbfc;

    --white-color: #fff;
    --accent-color: hsl(38, 95%, 47%);
    --primary-color: hsl(0, 0%, 9%);
    --primary-color-hover: hsl(0, 0%, 20%);
    --secondary-color: hsl(213, 28%, 19%);
    --secondary-color-hover: hsl(213, 28%, 14%);

    --text-grey: #65735b;
    --text-light-grey: #d6d8d4;
    --text-white: #ffffff;

    --bg-white: #ffffff;

    --font-quicksand: "Quicksand", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    block-size: 100vh;
    overflow: hidden;
}

body {
    color: var(--text-grey);
    background: var(--brand-secondary);
    font-size: 16px;
    font-family: var(--font-quicksand);
    overflow: hidden;
    position: relative;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-1);
    text-decoration: none;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}


.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
}

.flex {
    block-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid {
    block-size: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 35px;
    block-size: 35px;
}

.avatar {
    margin: 0;
    width: 50px;
    block-size: 50px;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--text-white);
    background-color: var(--brand-primary);
}

.btn:hover {
    /* background-color: var(--brand-primary-dark); */
}

.btn-sm {
    padding: .5rem 1rem;
}

.btn-lg {
    padding: .8rem 2rem;
}


.card {
    color: var(--text-1);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    
    /* border: 1px solid hsla(213, 28%, 80%, 70%);
    background-color: hsla(0, 0%, 100%, 0.26);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2); */


    background-color: var(--bg-7);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.card .title h3 {
    margin-bottom: 0;
    letter-spacing: normal;
    color: var(--text-1);
    font-weight: bold;
}

.card .text p {
    margin-top: 0;
    color: var(--text-1);
    font-weight: bold;
}

/* .card-info {
    position: relative;
} */

.card.card-info {
    background-color: var(--white-color);
}

.card-info .exit {
    font-family: "themify";
    font-weight: 900;
    display: inline-block;
    font-size: .8rem;
    font-weight: bold;
    color: var(--brand-primary);
    margin: 8px 15px;
    position: absolute;
    top: 5px;
    right: 0;
}

.br-0 {
    border-radius: 0;
}

.br-10 {
    border-radius: 10px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.pb-5 {
    padding-bottom: .5rem;
}


/* Logout dropdown */
.dropdown {
    display: inline;
    width: fit-content;
    block-size: auto;
    position: relative;
    z-index: 99999;
    overflow: visible;
}

.dropdown-menu::before {
    content: "";
    background-color: #fff;
    box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, .0375);
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    left: 45%;
    width: 20px;
    block-size: 20px;
}

.dropdown-menu {
    border: none;
    position: absolute;
    top: 100%;
    z-index: 9999;
    display: none;

    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .0975);
    min-width: 12.5rem;
    block-size: auto;
    padding: 0 !important;
    margin: 0;
    background: #fff;
    border-radius: 10px;
}

.dropdown-menu-default {
    left: 50%;
    transform: translateX(-54%);
}

.dropdown-menu{
    position: absolute;
    right: 100% !important;
    transform: translateX(50%) !important;
}

.dropdown-men {
    position: absolute;
    left: 100% !important;
    transform: translateX(-50%) !important;
}

.dropdown-menu .dropdown-items {
    margin: 0;
    padding: 0;
    list-style: none;
    block-size: 1.6em;
    background: transparent;
    border-radius: 10px;
}

.dropdown-menu .dropdown-items .dropdown-item:nth-child(1):hover,
.dropdown-menu .dropdown-items .dropdown-item:nth-child(2):hover {
    border-bottom: unset;
}

.dropdown-menu .dropdown-item.footer:last-child {
    border-top: 1px solid #f0efef;
}

.dropdown-menu .dropdown-items .dropdown-item {
    margin: unset;
    block-size: auto;
    padding: 5px 25px;
    cursor: pointer;
}

.dropdown-menu .dropdown-items .dropdown-item i {
    color: #262626;
}

.dropdown-menu .dropdown-items .dropdown-item a {
    text-decoration: none;
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    font-family: 'Lato', sans-serif;
}

.dropdown-menu .dropdown-items .dropdown-item:last-child a {
    color: #000000;
    font-weight: bolder;
}

.dropdown-menu .dropdown-items .dropdown-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdown-menu .dropdown-items .dropdown-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-menu .dropdown-items .dropdown-item:hover i,
.dropdown-menu .dropdown-items .dropdown-item:hover a {
    color: var(--brand-primary);
}

/* Logout dropdown */

.form-control input,
.form-control button {
    border: none;
    border-radius: .2rem;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    border: 1px solid var(--brand-primary);
}

.form-control button i {
    font-weight: bold;
}

.app-container {
    background-color: var(--brand-secondary);
    padding: 2rem;
    overflow: hidden;
}

.app-content {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: 1rem;
    align-items: stretch;
    block-size: 90vh;
}

.app-logo {
    display: flex;
    align-items: center;
}

.app-logo * {
    cursor: pointer;
    color: var(--text-1);
    font-size: 1.3rem;
    font-weight: bold;
}

.app-logo i {
    font-weight: bolder;
    margin-right: .5rem;
}

.app-logo span {
    font-size: 1.25rem;
}

.sidebar {
    block-size: 100%;
    color: var(--secondary-color);
    display: grid;
    gap: 1.2rem;
    align-content: flex-start;
    align-items: flex-start;
    /* background-color: var(--brand-primary); */
}

.sidebar-body {
    display: grid;
    gap: 1.3rem;
}


.outlined {
    border: 1px solid hsla(213, 28%, 80%, 70%);
}

.sidebar.card {
    margin: 0;
    margin-right: .5rem;
}

.sidebar-header {
    margin-bottom: .5rem;
}

.sidebar-body .link {
    padding: .5rem;
    display: grid;
    gap: .5rem;
}

.sidebar-body .link .flex {
    justify-content: space-between;
}

.sidebar-body .link .icon {
    font-weight: bold;
    margin-right: .5rem;
}

.sidebar-body .link .ti-angle-down {
    font-weight: bold;
    color: hsl(213, 28%, 25%);
}

.sidebar-body .link .ti-angle-down.active {
    color: hsl(213, 28%, 18%);
}

.sidebar-body .link .text {
    font-weight: normal;
}

.sidebar-body .sub-menu {
    display: none;
    padding-left: 2rem;
    display: grid;
    gap: .5rem;
}

.sidebar-body .sub-menu .link {
    color: hsl(213, 28%, 30%);
    padding: .1rem 0;
}

.main {
    width: 100%;
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    padding: 0;
    block-size: 100%;
}

.main-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    block-size: 80vh;
    align-content: flex-start;
    position: relative;
}

.main-content.split {
    grid-template-columns: 1fr .3fr;
}
.content-area {
    overflow-y: scroll;
    scrollbar-width: none;
    /* block-size: ; */
}
.content-area ::-webkit-scrollbar {
    display: none;
}

.main-content .alert {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    inline-size: 20vw;
    z-index: 100;
    /* display: none; */
    /* animation-delay: 10s;
    animation-name: alertOut;
    animation-duration: 1s;
    animation-timing-function: ease-int; */
}
/* @keyframes alertPut {
    from {display: block;}
    to {display: none;}
    
} */


.main-content .top {
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.4rem;
    block-size: 30vh;
    margin-top: .4rem;
}

.top .card {
    margin: 0;
}

.top {
    width: 78%;
    padding: 0;
}

.top .top-cards.flex {
    gap: .8rem;
    margin-bottom: .8rem;
}

.top {
    block-size: 100%;
    padding: 0;
    display: grid;
}

.top .card {
    padding-bottom: 2.0rem;
}

.top .wrapper {
    gap: .4rem;
    justify-content: flex-start;
    margin-top: .8rem;
}

.top-selling-product {
    margin: .4rem 0;
}

.top-selling-product i {
    color: var(--bg-white);
    background-color: var(--brand-primary);
    border-radius: 50%;
    padding: .8rem;
}

.top-selling-product-details h4 {
    font-size: 14px;
    font-weight: 700;
}

.top-selling-product-details h6 {
    font-size: 10px;
    font-weight: 600;
}

.right {
    display: grid;
    gap: 1rem;
    align-content: flex-start;
}
.right-card {
    display: grid;
    gap: .8rem;
}


.right-card h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: hsl(213, 28%, 19%);
}
.right-card .body {
    display: grid;
    gap: .5rem;
}

.right-card h4 {
    font-size: 16px;
    color: hsl(213, 28%, 30%);
    font-weight: normal;
    background-color: hsla(213, 28%, 80%, 0.2);
    padding: .5rem .5rem;
    border-radius: 5px;
}

/* Navbar */
/* .navbar {
    width: auto;
    block-size: auto;
} */

.navbar .flex {
    justify-content: space-between;
    overflow: visible;
}
.navbar.card {
    padding: .25rem 1rem;
    margin: 0;
}

.main .navbar {
    display: grid;
    grid-template-columns: 1fr .5fr;
    align-items: center;
}
.main .navbar > * {
}

.navbar nav {
    margin-left: 1.5rem;
    overflow: hidden;
    overflow: visible;
}



.navbar .toggle {
    font-size: 25px;
    display: none;
}

.navbar nav .nav-links.flex {
    justify-content: flex-end;
}

.navbar nav .nav-links>* {
}

.navbar nav .nav-links .link>* {
    font-weight: bold;
}

.navbar nav .nav-links .link.bell {}

.navbar nav .nav-links .link.bell,
.navbar nav .nav-links .link.settings,
.navbar nav .nav-links .link.customer-display,
.navbar nav .nav-links .link.pos {
    padding: .5rem 1rem;
    margin: 0;
}

.navbar nav .nav-links .link.bell:hover,
.navbar nav .nav-links .link.settings:hover,
.navbar nav .nav-links .link.customer-display:hover,
.navbar nav .nav-links .link.pos:hover {
    color: var(--brand-primary-dark);
}


.navbar nav .nav-links .dropdown img {
    border: 2px solid var(--brand-primary);
    margin-left: .5rem;
    margin-right: .5rem;
}

.navbar nav div {
    margin-right: 0 !important;
}

/* Navbar */
.search-form {
    inline-size: 100%;
    display: grid;
}

.form-control {
    display: grid;
    grid-template-columns: 2fr .2fr;
    border-radius: 5px;
}

.search-form input,
.search-form button {
    font-size: 1rem;
}


.search-form .form-control * {
    padding: .6rem;
    margin: 0;
}

.search-form .form-control button {
    margin: 0;
}

.top-card {
    margin: .2rem;
    width: 25%;
    border-radius: 5px;
}

.top-cards.flex {
    justify-content: flex-start;
}

.top-card.flex {
    justify-content: flex-start;
}

.top-card:nth-child(4) {
    margin-right: 0;
}

.card-content .ti {
    font-size: large;
    font-weight: bold;
}

.card-content-left {
    color: var(--bg-white);
    background-color: var(--brand-primary);
    border-radius: .5rem;
    margin-right: 1rem;
    padding: .6rem 1rem;
}

.card-content-right {
    color: var(--brand-primary-dark);
}

.filter-content {
    width: 100%;
}

.filter-content.flex {
    justify-content: space-between;
}

.filter-cards {
    border: 1px solid var(--brand-primary);
}

.filter-cards.duration.card {
    width: fit-content;
    block-size: fit-content;
}

.filter-cards.transaction.flex {
    width: 50%;
    justify-content: space-between;
}

.filter-cards.transaction a {
    width: 50%;
    block-size: 3rem;
}

.filter-cards.date {
    width: fit-content;
    block-size: 3rem;
}

.filter-cards .form-control {
    color: var(--brand-primary);
    background: none;
}

.filter-cards .form-control * {
    block-size: 100%;
    border-radius: .5rem;
}

.filter-cards .form-control input {
    padding-left: .5rem;
}

.filter-cards .form-control button {
    color: var(--brand-primary);
    background-color: var(--text-white);
}

.filter-cards .form-control button.active {
    color: var(--text-white);
    background-color: var(--brand-primary);
}

.filter-cards .form-control button:hover {
    background-color: var(--brand-primary-light);
}

.filter-cards .form-control button.active:hover {
    background-color: var(--brand-primary-dark);
}

.filter-cards .form-control button.day {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.filter-cards .form-control button.week,
.filter-cards .form-control button.month {
    border-radius: 0;
    border-radius: 0;
}

.filter-cards .form-control button.pick-date,
.filter-cards .form-control button.year {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.filter-card {
    box-shadow: unset;
    cursor: pointer;
}

.filter-card:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.filter-card:last-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.filter-card.active {
    color: var(--bg-white);
    background-color: var(--brand-primary);
}

.date-range-picker .date-range-filter {
    padding: 0.5em;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
}

.date-range-picker .hidden {
    visibility: hidden;
}

.date-range-picker img {
    width: 36px;
    block-size: 16px;
    margin: 0 5px;
}

.filter-cards.date {
    border: none;
    background-color: transparent;
    box-shadow: unset;
    width: fit-content;
    block-size: fit-content;
}

.product-form .form-control input,
.product-form .form-control textarea,
.product-form .form-control select {
    color: var(--text-grey);
    background-color: var(--bg-white);
    width: 100%;
    font-size: .8rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
}

.content-area {
    --gap: 1rem;
    display: grid;
    align-content: flex-start;
    gap: var(--gap);
}

.upper-content-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1rem 0;

}

.lower-content-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.product-form .form-control input:focus {
    outline: none;
}

.product-name-category {
    justify-content: flex-start;
    gap: .4rem;
    border: 1px solid red;
}

.product-save-cancel {
    justify-content: flex-start;
    gap: .4rem;
}

.product-save-cancel .form-control .btn {
    padding: .6rem 2.2rem;
}

.data-visual {
    justify-content: space-between;
    gap: 1.4rem;
}


.data-table {
    display: grid;
    gap: 1rem;
}

.products-table td:last-child {
    color: var(--accent-color);
    cursor: pointer;
}



.modal {
    block-size: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    transform: translate(-50%, -50%);
    box-shadow: -5px 5px 10px 4px rgba(0, 0, 0, .1);
    border-radius: 10px;
    background-color: #fff;
    /* display: none; */
}

.modal .modal-head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ecab08;
    padding: 2%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .modal-body {
    padding: .8rem;
}

.modal .modal-foot {
    background-color: var(--gray-6);
    padding: 2% 5%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .modal-head h2 {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}

.modal .modal-head i {
    cursor: pointer;
    border-radius: 5px;
    padding: .6rem;
    color: #fff;
    background-color: #c08b06;
    font-weight: bolder;
    font-size: 20px;
}

.modal .modal-head button {
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--bg-5);
    outline: none;
    background: var(--bg-5);
    border-radius: 5px;
}

.modal .form-control input,
.modal .form-control textarea,
.modal .form-control select {
    color: rgb(96, 96, 96);
    background-color: var(--bg-white);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
}

.modal .form-control input:focus {
    outline: none;
}

.ti-angle-down {
    color: #fff;
}

.contract-body .title {
    justify-content: space-between;
}

.contract.card {
    padding: 0;
    box-shadow: unset;
}

.contract.card .profile .avatar {
    margin-right: .4rem;
}

.contract.card .top-content.flex {
    padding: .4rem .8rem;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: space-between;
}

.contract.card .bottom-content.flex {
    padding: .4rem .8rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
}

tr {
    cursor: pointer;
}

.contract-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.contract-table td,
.contract-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.ti-angle-down.toggle {
    transform: rotate(180deg);
}