img {
    border-radius: 5px !important;
}
body {
    background-color: hsl(0, 0%, 99%);
    scroll-behavior: smooth;
    direction: ltr;
}
body.rtl {
    direction: rtl;
}

body.menuOpen {
    overflow: hidden;
    inline-size: 100vw;
    block-size: 100vh;
}

body::after {
    display: none;
    content: "";
    position: absolute;
    inset: 0;
    inline-size: 100vw;
    block-size: 100vh;
    background-color: hsla(0, 0%, 9%, 0.9);
    z-index: 50;
}

body.menuOpen::after {
    display: block;
}


.lang-flag.flex {
    justify-content: space-between;
}

.search {
    /* width: 100%; */
    position: relative;
}

.search-bar {
    width: inherit;
    padding: .6rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    border: none;
    outline: none;
}

.search-form-mobile {
    display: none;
}

.search-form-mobile.open {
    display: grid;
}

.search-form-mobile input {
    border: none;
    outline: none;
    background-color: #fff;
}

.search-bar:focus {
    outline: none;
}

.search-icon {
    width: auto;
    margin: 0;
    font-size: 24px;
    color: rgb(23, 23, 23);
    background: rgb(236, 171, 8);
    outline: none;
    border: none;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.search-icon:hover {
    color: #fff;
}


/* header area */

.temp-nav * {
    transition: all .2s ease-in;
}

.desktop .temp-nav {
    grid-template-columns: .8fr 2fr .7fr;
}

.header-left {
    justify-content: start;
}

.logo {
    width: 100%;
    aspect-ratio: 10/2;
}

.search-wrapper {
    grid-template-columns: 3fr 1fr;
}

.search-form {
    grid-template-columns: 2fr .2fr;
}

.header-right .flag {
    width: 25px;
    aspect-ratio: 1;
}

.header-right li {
    position: relative;
    /* isolation: isolate; */
}

.dropdown-list {
    opacity: 0;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 1000;
    display: none;
}

.header-right li:hover {
    background-color: hsl(0, 0%, 12%);
}

.header-right li:hover .dropdown-list {
    display: grid;
    opacity: 1;
}

.header-right .dropdown-list li:hover {
    background-color: hsl(213, 28%, 16%);
}

.desktop nav {
    position: relative;
    max-block-size: 8vh;
    z-index: 100;
}

.desktop nav.cs-fixed {
    position: fixed;
    inset: 0;
}

nav.cs-fixed li:hover * {
    color: white;
}


/* mobile nav */
.mobile .temp-nav {
    grid-template-columns: 1fr 1fr;
}

.mobile-menu {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: -100%;
    display: grid;
    block-size: 100vh;
    inline-size: 85vw;
    overflow: hidden;
    overflow: auto;
    scroll-behavior: smooth;
    transition: all 0.2 ease-in;
    z-index: 2000;
}

.mobile-menu.open {
    inset-inline-start: 0;
}

.mobile-menu .logo-wrapper {
    inline-size: 100%;
    inline-size: 40vw;
}

/* header area */

/* page starter */

.page-starter {
    grid-template-columns: .8fr 2fr .7fr;
}

@media (max-width: 786px) {
    .page-starter {
        grid-template-columns: 1fr;
    }
}



/* 
.promotion-area {
    block-size: auto;
    grid-template-rows: 40vh 25vh;
}


.mobile.promotion-area {
    block-size: auto;
    grid-template-rows: 35vh 20vh;
    padding: .5rem;
}

.promotion-area div {
    border-radius: 5px;
}

.promotion-area .lower,
.promotion-area .upper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mobile.promotion-area .upper {
    grid-template-columns: 1fr;
}

.mobile.promotion-area .lower {
    grid-template-columns: 1fr 1fr;
}

.promotion-area .upper {
    grid-template-columns: 2fr 1fr;
    grid-row: 1/2;
}

.promotion-area .upper .banner,
.promotion-area .upper .cards {
    grid-row: 1/-1;
}

.promotion-area .lower>* {
    grid-row: 1/-1;
}

.promotion-area .lower .banner-lower {
    grid-column: 2/-1;
}

.promotion-area img {
    align-self: 16/9;
    block-size: 100%;
} */

/* 
.promotion-area .lower .banner-lower {
    block-size: 50vh;
} */

/* page starter */


/* .perm-nav {
    padding: .6rem 0;
}

.perm-nav a {
    color: #fff;
}

.perm-nav.flex {
    justify-content: space-between;
}

.nav-item {
    padding: .4rem 1.2rem .4rem 0;
}

.nav-item a {
    color: #c4c4c4;
    font-weight: 600;
    font-size: 20px;
}

.nav-item a:hover {
    color: #fff;
} */
/* 
.main .cf-1 {
    block-size: 28rem;
    margin-top: 1.2rem;
    padding: .8rem 0;
}

.product-categories,
.carousel-sliders,
.show-rooms {
    margin: .8rem;
    block-size: 100%;
}

.product-categories,
.show-rooms {
    width: 20%;
    position: relative;
}

.carousel-sliders {
    margin: 0 1.2rem;
}

.side-menu {
    width: 100%;
    block-size: 100%;
    margin: 0;
    border-radius: 20px;
}

.side-menu-footer {
    background: var(--brand-primary);
    padding: .4rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.side-menu-item {
    padding: .4rem 0 .4rem 0;
}

.side-menu-item a {
    font-weight: 500;
    padding: .4rem 0 .4rem 0;
}

.side-menu-item i {
    font-size: 22px;
    font-weight: 800;
    margin-right: .4rem;
}

.side-menu-footer a {
    font-size: 22px;
    color: #fff;
}

.side-menu-footer i {
    font-size: 22px;
    font-weight: 800;
    margin-right: .4rem;
}
*/

.carousel-sliders,
.sliders,
.slider {
    block-size: 70vh;
}

.slider img {
    width: 100%;
    block-size: 100% !important;
    object-fit: cover;
    aspect-ratio: 1/2;
}



/*
.sec-title {
    margin-top: 2rem;
}

.content.grid {
    grid-template-columns: repeat(3, 1fr);
}

.title {
    margin-bottom: .6rem;
}

.title a {
    padding: .2rem .4rem;
    border-radius: 10px;
    font-weight: 600;
    color: var(--brand-primary);
    background: #faefd5;
}

.item-img {
    width: 100%;
    block-size: 6rem;
    border-radius: .4rem;
}

.weekly-deals .card {
    padding: .6rem;
    width: 25%;
}

.weekly-deals .left {
    block-size: 350px;
    width: 80%;
    margin-right: .6rem;
}

.weekly-deals .left .item .item-img {
    block-size: 100%;
}

.weekly-deals .right {
    width: auto;
} */

.section-item-group * {
    transition: all 0.2s ease-in-out;
}

.section-item-group-content .item img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}


.multi-image-product-card {
    grid-template-columns: 2fr 1fr;
}

.multi-image-product-card .sub-images>div {
    max-block-size: 7rem;
    aspect-ratio: 1;
    overflow: hidden;
}

.multi-image-product-card img {
    width: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 2.5px;
}

.single-image-product-card img {
    block-size: 25vh;
    min-inline-size: 100%;
    aspect-ratio: 1.6/1;
}

.single-image-product-card {
    position: relative;
}
.single-image-product-card .card-badge {
    position: absolute;
    inset-block-start: 5px;
    inset-inline-start: 5px;
    background-color: hsl(38 95% 47% / 1);
    color: white;
    padding: .35rem .75rem;
    font-size: .9rem;
    font-weight: 600;
    z-index: 100;
}

@media (max-width: 786px) {
    .single-image-product-card img {
        block-size: 20vh;
        aspect-ratio: 1.6/1;
    }
}

/* product page */

.product-detail * {
    /* border: 1px solid #000; */
    justify-content: flex-start;
    width: 100%;
}
.promotion-area .small-item {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
    overflow: hidden;
    gap: .25rem;
    border-radius: 0;
}

.promotion-area .small-item .card-img-wrapper {
    grid-column: 1/-1;
    grid-row: 1/2;
    border-radius: 0;
}

.promotion-area .small-item .body {
    grid-column: 1/-1;
    grid-row: 2/-1;
    gap: .35rem;
    padding: .25rem;
}

.promotion-area .small-item .body * {
    block-size: 1;
}


/* single product page */
@media (min-width: 786px) {
    .product-detail {
        grid-template-columns: 1fr 2fr;
    }
}

.product-images-list img {
    transform: scale(1);
}

.product-images-list img.active {
    transform: scale(1.1);
}

.store-card {
    display: grid;
    position: relative;
}

.store-card .img-wrapper {
    width: 100%;
    block-size: 100%;
    overflow: hidden;
}

.store-card img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.store-card .card-details {
    position: absolute;
    inset: 0;
    width: 100%;
    block-size: 100%;
    background-color: hsla(213, 28%, 19%, 0.219);

    display: grid;
    align-content: flex-end;
    transition: all .2s ease-in;
}

.store-card:hover .card-details {
    background-color: hsla(213, 28%, 19%, 0.5);
}

/* Start Footer */
.fc {
    padding: 0 0;
    block-size: 500px;
    overflow: hidden;
}

.fc .cl {
    margin: .6rem;
    width: 33.3%;
    block-size: 100%;
}

.fc .cl1 img {
    width: 90px;
    block-size: 45px;
}

.fc h1 {
    text-transform: uppercase;
    font-weight: 800;
}

.fc .cl ul li {
    margin: .4rem 0;
}

footer .cl {
    margin: 0 !important;
}

footer a:hover {
    text-decoration: underline;
}

/* supplier page */
/* .client-infor {
    grid-template-columns: 1fr;
    align-items: flex-start;
}

@media (max-width: 786px) {
    .client-infor {
        grid-template-columns: 1fr;
    }
} */

.showrooms img {
    max-block-size: 20vh;
}

@media (max-width: 786px) {    
    .showrooms img {
        max-block-size: 15vh;
    }
}

.about-intro {
    padding: 8rem;
}

.about-us-content {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 0 2rem;
}


.about-us-content::after {
    content: "";
    position: absolute;
    inset: 50% 5%;
    width: 120vw;
    aspect-ratio: 2/1;
    background-color: hsla(38, 94%, 47%, 0.1);
    transform: translate(-15%, -50%) rotate(35deg);
    z-index: -1;
}

.about-us-content * {
    z-index: 1;
}

.about-us-content .img-wrapper {
    block-size: 90vh;
}

.about-us-content img {
    aspect-ratio: 1/2;
    object-fit: cover;
}


.stats {
    padding: 5rem 2rem;
}

.stats-card {
    padding: 2rem 3rem;
    background-color: hsl(213, 35%, 18%);
    border-radius: 10px;
}

.stats .num {
    font-size: 2.5rem;
    block-size: 3rem;
}

@media (max-width: 786px) {
    .about-intro {
        padding: 4rem 2rem;
    }

    .about-us-content {
        padding: 0;
    }

    .about-us-content .img-wrapper {
        inline-size: 100vw;
        block-size: 40vh;
    }

    .about-us-content img {
        aspect-ratio: 2/1.5;
    }

    .about-description {
        padding: 2rem;
    }

    .about-us-content::after {
        display: none;
    }

    .stats {
        padding: 2rem 1rem;
    }

    .stats-card {
        padding: 1rem 1.5rem;
    }

    .stats .num {
        font-size: 2rem;
    }
}


/* subcategory page */
/* .store-list-sm {
    border: 1px solid #000 !important;
    justify-content: start;
    justify-content: flex-start;
}

.store-card-sm {
    justify-self: start;
    justify-content: start;
}
.store-list-sm > * {
    border: 1px solid rgb(153, 25, 25);
}

.store-card-sm .products {
    /* grid-template-columns: repeat(auto-fit, minmax(1fr, 3fr));
    grid-auto-flow: column;
    justify-content: center;
} */


.sec-title {
    color: hsl(38, 95%, 47%) !important;
}

.separator {
    --line-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(185, 21%, 75%);
    gap: .75rem;
}

.separator::after,
.separator::before {
    content: "";
    inline-size: var(--line-width);
    border: 1px solid hsl(0, 0%, 90%);
}

form input.error {
    --danger-color: hsl(0, 100%, 35%);
    border: 2px solid var(--danger-color);
}

.breadcrumb {
    margin-block: 1.5rem;
}
.membership-card {
    
}


.footer-md-hide {
    display: none;
}

@media (min-width: 786px) {
    .footer-md-hide {
        display: grid;gap: 2rem; grid-template-columns: 1fr 2fr;
    }
    .promotion-page-starter {
        grid-template-columns: 3fr .6fr;
    }
    .promotion-page-starter .categories {
        display: grid;
    }
}

.promotion-page-starter .categories {
    display: none;
}
.promotion-page-starter {
    grid-template-columns: 1fr;
}

.promotion-page-starter .coursel,
.promotion-page-starter .slider-container,
.promotion-page-starter .slider,
.promotion-page-starter .slider img {
    block-size: 40vh;
}

.promotion-page-starter .slider .item {
    position: relative;
}

.promotion-page-starter .slider .item-content {
    position: absolute;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    padding: .75rem 1rem;
    border-radius: .5rem;
    inline-size: 60%;
    justify-content: flex-start;
    gap: .25rem;


    background: rgba(255, 255, 255, 0.856);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}