body {
    background-color: hsl(0, 0%, 99%);
}

.lang-flag.flex {
    justify-content: space-between;
}

.search {
    /* width: 100%; */
    position: relative;
}

.search-bar {
    width: inherit;
    padding: .6rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    border: 1px solid transparent;
}

.search-bar:focus {
    outline: none;
}

.search-icon {
    width: auto;
    margin: 0;
    font-size: 24px;
    color: rgb(23, 23, 23);
    background: rgb(236, 171, 8);
    outline: none;
    border: none;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.search-icon:hover {
    color: #fff;
}


/* header area */

.temp-nav * {
    transition: all .2s ease-in;
}

.temp-nav {
    grid-template-columns: .8fr 2fr .7fr;
}

.header-left {
    justify-content: start;
}

.logo {
    width: 100%;
    aspect-ratio: 10/2;
}

.search-wrapper {
    grid-template-columns: 3fr 1fr;
}

.search-form {
    grid-template-columns: 2fr .2fr;
}

.header-right .flag {
    width: 25px;
    aspect-ratio: 1;
}

.header-right li {
    position: relative;
    /* isolation: isolate; */
}

.dropdown-list {
    opacity: 0;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 100;
    display: none;
}

.header-right li:hover {
    background-color: hsl(0, 0%, 12%);
}

.header-right li:hover .dropdown-list {
    display: grid;
    opacity: 1;
}

.header-right .dropdown-list li:hover {
    background-color: hsl(213, 28%, 16%);
}

/* header area */

/* page starter */

.page-starter {
    grid-template-columns: .8fr 2fr .7fr;
}


.promotion-area {
    height: 90vh;
    grid-template-rows: 40vh 30vh;
}

.promotion-area div {
    border-radius: 5px;
}

.promotion-area .lower,
.promotion-area .upper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.promotion-area .upper {
    grid-template-columns: 2fr 1fr;
    grid-row: 1/2;
}

.promotion-area .upper .banner,
.promotion-area .upper .cards {
    grid-row: 1/-1;
}

.promotion-area .lower > * {
    grid-row: 1/-1;
}

.promotion-area .lower .banner-lower {
    grid-column: 2/-1;
}

.promotion-area img {
    align-self: 16/9;
    height: 100%;
}

/* 
.promotion-area .lower .banner-lower {
    height: 50vh;
} */

/* page starter */


/* .perm-nav {
    padding: .6rem 0;
}

.perm-nav a {
    color: #fff;
}

.perm-nav.flex {
    justify-content: space-between;
}

.nav-item {
    padding: .4rem 1.2rem .4rem 0;
}

.nav-item a {
    color: #c4c4c4;
    font-weight: 600;
    font-size: 20px;
}

.nav-item a:hover {
    color: #fff;
} */
/* 
.main .cf-1 {
    height: 28rem;
    margin-top: 1.2rem;
    padding: .8rem 0;
}

.product-categories,
.carousel-sliders,
.show-rooms {
    margin: .8rem;
    height: 100%;
}

.product-categories,
.show-rooms {
    width: 20%;
    position: relative;
}

.carousel-sliders {
    margin: 0 1.2rem;
}

.side-menu {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 20px;
}

.side-menu-footer {
    background: var(--brand-primary);
    padding: .4rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.side-menu-item {
    padding: .4rem 0 .4rem 0;
}

.side-menu-item a {
    font-weight: 500;
    padding: .4rem 0 .4rem 0;
}

.side-menu-item i {
    font-size: 22px;
    font-weight: 800;
    margin-right: .4rem;
}

.side-menu-footer a {
    font-size: 22px;
    color: #fff;
}

.side-menu-footer i {
    font-size: 22px;
    font-weight: 800;
    margin-right: .4rem;
}
*/

.carousel-sliders,
.sliders,
.slider {
    height: 70vh;
}

.slider img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    aspect-ratio: 1/2;
}



/*
.sec-title {
    margin-top: 2rem;
}

.content.grid {
    grid-template-columns: repeat(3, 1fr);
}

.title {
    margin-bottom: .6rem;
}

.title a {
    padding: .2rem .4rem;
    border-radius: 10px;
    font-weight: 600;
    color: var(--brand-primary);
    background: #faefd5;
}

.item-img {
    width: 100%;
    height: 6rem;
    border-radius: .4rem;
}

.weekly-deals .card {
    padding: .6rem;
    width: 25%;
}

.weekly-deals .left {
    height: 350px;
    width: 80%;
    margin-right: .6rem;
}

.weekly-deals .left .item .item-img {
    height: 100%;
}

.weekly-deals .right {
    width: auto;
} */

.section-item-group * {
    transition: all 0.2s ease-in-out;
}

.section-item-group-content .item img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}


.multi-image-product-card {
    grid-template-columns: 2fr 1fr;
}

.multi-image-product-card .sub-images>div {
    max-height: 7rem;
    aspect-ratio: 1;
    overflow: hidden;
}

.multi-image-product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5px;
}

.single-image-product-card img {
    max-height: 35vh;
}

.promotion-area .small-item {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
    overflow: hidden;
    gap: .25rem;
    border-radius: 0;
}

.promotion-area .small-item .card-img-wrapper {
    grid-column: 1/-1;
    grid-row: 1/2;
    border-radius: 0;
}
.promotion-area .small-item .body {
    grid-column: 1/-1;
    grid-row: 2/-1;
    gap: .35rem;
    padding: .25rem;
}
.promotion-area .small-item .body * {
    line-height: 1;
}


/* single product page */
@media (min-width: 786px) {
    .product-detail {
        grid-template-columns: 1fr 2fr;
    }
}

.product-images-list img {
    transform: scale(1);
}
.product-images-list img.active {
    transform: scale(1.1);
}

.store-card {
    display: grid;
    position: relative;
}

.store-card .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.store-card img {
    width: 100%;
    aspect-ratio:2/1;
    object-fit:cover;
}

.store-card .card-details {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(213, 28%, 19%, 0.219);

    display: grid;
    align-content: flex-end;
    transition: all .2s ease-in;
}

.store-card:hover .card-details {
    background-color: hsla(213, 28%, 19%, 0.5);
}

/* Start Footer */
.foot {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #f3f3f3;
}

.fc {
    padding: 2.4rem 0;
    height: 400px;
    overflow: hidden;
}

.fc .cl {
    margin: .6rem;
    width: 33.3%;
    height: 100%;
}

.fc .cl1 img {
    width: 90px;
    height: 45px;
}

.fc h1 {
    text-transform: uppercase;
    font-weight: 800;
}

.fc .cl ul li {
    margin: .4rem 0;
}

footer .cl {
    margin: 0 !important;
}

footer a:hover {
    text-decoration: underline;
}
