<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden - {{ view_name }}</title>
</head>
<body>


    <div class="flex">
        <a href="{% url 'manager:home' %}" data-link="products">Home</a>
        <a href="{% url 'supplier:products' %}" data-link="products">Products</a>
        <a href="{% url 'manager:showrooms' %}" data-link="products">Showrooms</a>
        <a href="{% url 'manager:services' %}" data-link="products">Services</a>
        <a href="{% url 'manager:support' %}" data-link="products">Support</a>
        <a href="{% url 'manager:about-us' %}" data-link="products">About Us</a>
    </div>

    <h3>Sub Categories</h3>
    <ul data-context='{{ related_subcategories.context_name }}'>
        {% for sub_category in related_subcategories.results %}
        <li class="flex">

            <a href='{% url "supplier:subcategory-detail" sub_category.category sub_category.slug %}' data-subcategory-index="{{ forloop.counter }}">
                <img style="width: 10px; aspect-ratio: 1;" src="/media/{{sub_category.image}}" alt="">
                <span>{{ sub_category.name }}</span>
            </a>
        </li>
        {% endfor %}
        <br>

        <li class="flex" data-category-index="{{ forloop.counter }}">
            <a href="{% url 'supplier:category-list' %}">View All
            </a>
        </li>
    </ul>

    <div data-context="{{ subcategory_data.context_name }}">
        <span style="display: flex;gap: .5rem; align-items: center;">
            <a href='{% url "supplier:category-detail" subcategory_data.results.category.slug %}' id="category_name">{{ subcategory_data.results.category.name }}</a>
            <span>/</span>
            <p id="sub_category_name">{{ subcategory_data.results.sub_category.name }}</p>
        </span>
        <h4 id="sub_category_product_count">{{ subcategory_data.results.count }} Products</h4>

    </div>


    <h3>Products</h3>
    <ul data-context='{{ products.context_name }}'>
        {% for product in products.results %}
            <a href="{% url 'supplier:product-detail' product.product.slug %}">
                <li style="display: grid;">
                    <img style="width: 10vw; aspect-ratio: 1;" src="/media/{{product.image.image}}" alt="">
                    <span>{{ product.product.name }}</span>
                </li>
            </a>
        {% endfor %}
    </ul>
    
</body>
</html>