{% extends '../utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<style>
    .split {
        grid-template-columns: 1fr;
    }
    @media (min-width: 786px) {
        .split {
            grid-template-columns: .6fr 2fr;
        }
    }
</style>

        <section class="main w-12/12 py-6" style="block-size: auto">
            <div class="split grid w-full mx-auto cf-1 gap-4">
                <div class="hidden md:grid side-bar gap-3 content-start product-categories w-12/12 ">
                    <div class="grid p-0 side-menu card rounded-md overflow-hidden">
                        <h2 class="text-xl font-bold px-5 py-3 text-lighterBackgroundColor" style="background-color: hsla(213, 28%, 90%, .8);">{{ object.name }}</h2>
                        <ul class="grid gap-0.5 px-5 py-2" data-context='{{ sub_categories.context_name }}' >
                            {% for sub_category in sub_categories.results %}                            
                                <li class="side-menu-item text-slate-800 hover:text-black transition-colors transition-200 ease-in" data-sub-category-index="{{ forloop.counter }}">
                                    <a class="flex items-center justify-start gap-2 py-2" href='{% url "supplier:subcategory-detail" object.slug sub_category.slug %}'>
                                        <!-- <i class="ti-folder"></i> -->
                                        <span>
                                            {{ sub_category.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- <a class="side-menu-footer bg-yellowColor flex gap-1 px-6 items-center py-3 text-white rounded-b-md" href="{% url 'supplier:category-list' %}">
                        <i class="ti-menu"></i>
                        <span>All Categories</span>
                    </a> -->
                </div>
                <div class="grid md:hidden gap-1 horizontal-scroll items-start" style="--row-size: 56%;">
                    {% for sub_category in sub_categories.results %}  
                        <a href="{% url 'supplier:subcategory-detail' object.slug sub_category.slug %}" class="sub-link grid place-items-center px-3 py-1 text-slate-700 text-base rounded-full" style="background-color: hsla(213, 28%, 90%, .8);">{{ sub_category.name }}</a>
                    {% endfor %}
                </div>
                <div class="section-body grid gap-2 md:gap-2 grid-cols-2 md:grid-cols-5 items-start content-start" data-context="{{propular_products.context_name}}">
                    {% for product in products.results %}
                    <div class="single-image-product-card overflow-hidden rounded grid gap-0.5 card-outlined">
                        <a class="grid gap-2 p-1 rounded overflow-hidden" href="{% url 'supplier:product-detail' product.product.slug %}">
                            <img loading="lazy" src="/media/{{product.images.image}}" alt="{{product.name}}"
                                class="item-img rounded" style="width: 100%;aspect-ratio:1/1.2;object-fit:cover;">
                            <div class="item-details grid gap-0 py-1 md:py-2 px-2 gap-2"
                                style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">
                                    {{product.product.name|slice:":40"}}..
                                </h5>
                                <p class="text-xs font-medium">
                                    <span>{{product.product.currency}}</span>
                                    <span>{{product.product.price}}</span>
                                </p>
                            </div>
                            <span class="grid items-center pb-2 px-2 font-semibold text-sm">By {{ product.supplier.profile.business_name }}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <script>
            const sub_links = document.querySelectorAll('.sub-link');
            sub_links.forEach(link => {
                if (link.textContent.length >= 18) {
                    link.textContent = link.textContent.slice(0,18) + " ..."
                }
            })
        </script>

{% endblock %}