{% extends '../utils/layout.html' %}
{% load static %}
{% block content %}

        <section class="main w-12/12 py-6" style="height: auto">
            <div class="grid w-full mx-auto cf-1 gap-4" style="grid-template-columns: .6fr 2fr;">
                <div class="grid side-bar gap-3 content-start product-categories w-12/12 ">
                    <div class="grid p-0 side-menu card rounded-md overflow-hidden">
                        <h2 class="text-xl font-bold px-5 py-3" style="background-color: hsla(213, 28%, 90%, .8);">{{ object.name }}</h2>
                        <ul class="grid gap-0.5 px-5 py-2" data-context='{{ sub_categories.context_name }}' >
                            {% for sub_category in sub_categories.results %}                            
                                <li class="side-menu-item text-slate-800 hover:text-black transition-colors transition-200 ease-in" data-sub-category-index="{{ forloop.counter }}">
                                    <a class="flex items-center justify-start gap-2 py-2" href='{% url "supplier:subcategory-detail" object.slug sub_category.slug %}'>
                                        <i class="ti-folder"></i>
                                        <span>
                                            {{ sub_category.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="side-menu-footer bg-yellowColor flex gap-1 px-6 items-center py-3 text-white rounded-b-md" href="{% url 'supplier:category-list' %}">
                        <i class="ti-menu"></i>
                        <span>All Categories</span>
                    </a>
                </div>
                <div class="section-body grid gap-6 grid-cols-4" data-context="{{propular_products.context_name}}">
                    {% for product in products.results %}
                        <div class="single-image-product-card overflow-hidden rounded-md flex gap-0.5 card-outlined">
                            <div class="grid gap-1">
                                <a class="grid gap-2" href="{% url 'supplier:product-detail' product.product.slug %}">
                                    <img src="/media/{{product.images.image}}" style="object-fit: cover;" alt="{{product.name}}" class="item-img rounded-sm" >
                                    <div class="item-details grid gap-0 py-1 px-4 gap-2" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                        <p class="grid justify-start text-left">            
                                            <h5 class="text-sm font-bold leading-5">    
                                                {{product.product.name}}
                                            </h5>
                                            <p class="text-xs font-medium">
                                                <span>{{product.product.currency}}</span>
                                                <span>{{product.product.price}}</span>
                                            </p>
                                        </p>
                                    </div>
                                    <span class="py-1 px-4 font-semibold text-sm">By {{ product.supplier }}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}