<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden - {{ view_name }}</title>
</head>
<body>


    <div class="flex">
        <a href="{% url 'manager:home' %}" data-link="products">Home</a>
        <a href="{% url 'supplier:products' %}" data-link="products">Products</a>
        <a href="{% url 'manager:showrooms' %}" data-link="products">Showrooms</a>
        <a href="{% url 'manager:services' %}" data-link="products">Services</a>
        <a href="{% url 'manager:support' %}" data-link="products">Support</a>
        <a href="{% url 'manager:about-us' %}" data-link="products">About Us</a>
    </div>

    <h4 data-store-name="{{store.name}}">{{store.name}}</h4>
    <p data-store-location="{{store.location}}">{{product_count.results}} Product(s)</p>

    <h3>Products</h3>
    <ul data-context='{{ products.context_name }}'>
        {% for product in products.results %}
            <a href="{% url 'supplier:product-detail' product.slug %}">
                <li class="flex">
                    <img style="width: 10px; aspect-ratio: 1;" src="/media/{{product.image}}" alt="">
                    <span>{{ product.name }}</span>
                </li>
            </a>
        {% endfor %}
    </ul>

    <h3>Showrooms</h3>
    <ul data-context='{{ showrooms.context_name }}' style="display: grid;grid-template-columns: repeat(5, 1fr); gap: 2rem;">
        {% for showroom in showrooms.results %}
            <li data-showroom-index="{{forloop.counter}}">
                <a href="{% url 'manager:showroom-detail' showroom.slug %}">
                    <img style="width: 100%" src="/media/{{ showroom.image }}" alt="">
                    <p>{{ showroom.name }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>


    <h3>Related store</h3>
    <ul data-context='{{ related_stores.context_name }}' style="display: grid;grid-template-columns: repeat(10, 1fr); gap: 2rem;">
        {% for related_store in related_stores.results %}
            <li>
                <a href="{% url 'supplier:store-detail' related_store.slug %}" data-related_store-index="{{forloop.counter}}">
                    <img style="width: 100%" src="/media/{{ related_store.image }}" alt="">
                    <p>{{ related_store.name }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>