{% extends '../utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<script src="https://js.braintreegateway.com/web/dropin/1.18.0/js/dropin.min.js"></script>

<section class="main w-12/12 py-6" style="block-size: auto;">

    <div class="mx-auto w-10/12 rounded-md py-4 px-6 grid gap-20">
        <div class="grid justify-betweeen px-2 gap-3">
            <div class="grid">
                <h2 class="text-2xl font-bold text-lghterBackgroundColor">{% trans '1.' %} {% trans 'Membership Package' %}</h2>
            </div>
            <div class="grid ml-6 gap-1">
            <p class="text-lg text-slate-600">{% trans 'Selected plan' %}: <span class="text-slate-900 text-lghterBackgroundColor font-semibold">{{ object.name }}</span></p>
                <p class="text-lg text-slate-600">{% trans 'Price' %}: <span class="text-slate-900 text-lghterBackgroundColor font-semibold">{{ object.currency }} {{ object.price }}</span></p>
                <p class="text-lg text-slate-600">{{ object.description }}</span></p>
            </div>

            <ul class="list grid gap-2 px-4 py-4">
                {% for feature in features.results %}
                    <li class="flex text-lg gap-3 items-center text-slate-700"><i class="fa fa-check"></i> {{feature.name}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid justify-betweeen px-2 gap-2">
            <div class="grid">
                <h2 class="text-2xl font-bold text-lghterBackgroundColor">{% trans '2.' %} {% trans 'Select Payment Method' %}</h2>
            </div>

            <div class="payment-methods grid gap-4 justify-start">
                <form autocomplete="off">
                    {% if braintree_error %}
                      <div class="alert alert-danger fade in">
                          <button class="close" data-dismiss="alert">&times;</button>
                          {{ braintree_error|safe }}
                      </div>
                    {% endif %}
                    <div class="braintree-notifications"></div>
                    <div id="braintree-dropin"></div>
                    <input style="background-color: #0783ca" id="submit-button" class="btn btn-success btn-lg btn-block" type="button" value="Pay now!" />
                </form>
            </div>
        </div>
    </div>

</section>

<script>
    var braintree_client_token = "{{ braintree_client_token }}";
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: braintree_client_token,
      container: '#braintree-dropin',
      card: {
        cardholderName: {
            required: false
        }
      }
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (err, payload) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "payment:braintree-payment" %}',
                    data: {'paymentMethodNonce': payload.nonce,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'}
                }).done(function (result) {
                   //do accordingly
                });
            });
        });
    });
</script>
{% endblock %}