<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foroden Contract Payment Receipt</title>


    <style>

        tr {
            cursor: pointer;
        }

        td {
            color: #165983;
        }

        .receipt-table td,
        .receipt-table th {
            border: 1px dashed #e7e4e4;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>
<body>
        <table>
            <tr>
                <td style="border: none;"><h1 style="color: #165983;border: none;">Foroden Contract Payment Receipt</h1></td>
                <td style="border: none;"><h2 style="border: none;">Ref No: #CNTR11414</h2></td>
            </tr>
        </table>
        <h4 style="border: none;">Buyer information</h4>
        <table class="receipt-table">
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Full Name</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="">FutuTech</span></td>
                    <td><span class="">Phillip Mugisa</span></td>
                    <td><span class="">Uganda</span></td>
                </tr>
            </tbody>
        </table>
        <h4 style="border: none;">Supplier information</h4>
        <table class="receipt-table">
            <thead>
                <tr>
                    <th>Business Name</th>
                    <th>Full Name</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="">FutuTech</span></td>
                    <td><span class="">Phillip Mugisa</span></td>
                    <td><span class="">Uganda</span></td>
                </tr>
            </tbody>
        </table>
        <h4 style="border: none;">Receipt info</h4>
        <table class="receipt-table">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="">Product Deliveries</span></td>
                    <td><span class="">USD 1000.00</span></td>
                    <td><span class="">Not Complete</span></td>
                    <td><span class="">Sept. 5, 2022</span></td>
                </tr>
            </tbody>
        </table>
</body>

</html>