{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    <link rel="stylesheet" href="{% static 'icons/themify-icons.css' %}">
    <link href="{% static 'icons/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"  type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <title>Golden - {% trans 'Contract Receipt' %}</title>
</head>

<style>
    .main-content {
        inline-size: 90%;
        margin: 2.5% auto;
    }
    @media (min-width: 786px) {
        .main-content {
            inline-size: 60%;
        }
    }
</style>

<body>
    <div class="main-content"style="block-size: 100%">
        <div class="content-area">
                <div class="contract outlined cs-grid" style="--gap: 1rem;align-items: flex-start;padding: 1rem 1.5rem;">
                    <div class="contract-header">
                        <div class="">
                            <h4>{% trans 'Contract Details' %}</h4>
                        </div>
                    </div>
                    <div class="contract-body cs-grid" style="align-items: flex-start;--gap: 1rem;">
                        <div class="title flex">
                            <h4>{% trans 'Buyer information' %}</h4>
                            <h4>Ref No: {{ contract.ref_no }}</h4>
                        </div>
                        <div class="contract card">
                            <div class="top-content flex">
                                <div class="profile flex">
                                    <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt=""
                                        class="avatar">
                                    <h4 class="client">{{contract.buyer.profile.business_name}}</h4>
                                </div>
                                <h4 class="date">{{contract.buyer.first_name}} {{contract.buyer.last_name}}</h4>
                            </div>
                            <div class="bottom-content flex">
                                <h4 class="location"><small>{% trans 'Location' %}:</small> {{contract.buyer.profile.country}}</h4>
                                <!-- <h4 class="timestamp">Status: {% if contract.is_complete %} Complete {% else %} Not Complete {% endif %}</h4> -->
                            </div>
                        </div>
                        <div class="title flex">
                            <h4>{% trans 'Supplier information' %}</h4>
                        </div>
                        <div class="contract card">
                            <div class="top-content flex">
                                <div class="profile flex">
                                    <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt=""
                                        class="avatar">
                                    <h4 class="client">{{contract.supplier.profile.business_name}}</h4>
                                </div>
                                <h4 class="date">{{contract.supplier.first_name}} {{contract.supplier.last_name}}</h4>
                            </div>
                            <div class="bottom-content flex">
                                <h4 class="location"><small>{% trans 'Location' %}:</small> {{contract.supplier.profile.country}}</h4>
                                <!-- <h4 class="timestamp">Status: {% if contract.is_complete %} Complete {% else %} Not Complete {% endif %}</h4> -->
                            </div>
                        </div>
                        <h4>{% trans 'Contract info' %}</h4>
                        <div class="">
                            <table class="contract-table">
                                <thead>
                                    <tr>
                                        <th>{% trans 'Service' %}</th>
                                        <th>{% trans 'Price' %}</th>
                                        <th>{% trans 'Status' %}</th>
                                        <th>{% trans 'Created On' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="">{{contract.service.name}}</span></td>
                                        <td><span class="">{{contract.service.currency}} {{contract.service.price}}</span></td>
                                        <td><span class="">{% if contract.is_complete %} Complete {% else %} Not Complete {% endif %}</span></td>
                                        <td><span class="">{{contract.created_on}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>