{% extends '../utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<style>
    .package {
        border: 1px solid rgb(219, 219, 219);
        cursor: pointer;
    }
    .active {
        border: none;
        outline: 2px solid hsl(38 95% 47% / 1);
        transform: scale(1.1);
    }
</style>

    <section class="grid">
        <div class="grid px-8 py-8 rounded auth-area w-11/12 md:w-10/12 gap-10 mx-auto my-10" style="border: 1px solid hsl(0, 0%, 95%);">
            <div class="grid gap-6">
                <h1 class="text-xl md:text-2xl font-bold text-lighterBackgroundColor">{% trans "1. Choose your Package" %}</h1>
                <hr class="border-t border-solid border-slate-200">
                <div class="grid gap-4 px-4">
                    <h1 class="text-lg md:text-xl font-semibold text-lighterBackgroundColor">i. {% trans "Virtual Showrooms" %}</h1>
                    <div class="grid md:flex gap-8 justify-center md:justify-start py-4 md:px-6">
                        <div class="package active grid gap-3 p-6 md:p-8 rounded-md">
                            <h2 class="text-lg md:text-xl font-bold text-lighterBackgroundColor">{% trans 'One Virtual Showroom' %}</h2>
                            <hr class="border-t border-solid border-slate-300">
                            <div class="grid gap-2">
                                <div class="flex gap-2">
                                    <input type="radio" name="one-showroom" id="one-showroom-monthly">
                                    <label class="text-base font-semibold" for="one-showroom-monthly">600 USD <span class="font-normal text-sm text-slate-600">{% trans "per month" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="one-showroom" id="one-showroom-monthly-6" checked>
                                    <label class="text-base font-semibold" for="one-showroom-monthly-6">300 USD <span class="font-normal text-sm text-slate-600">{% trans "per 6 months" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="one-showroom" id="one-showroom-yearly">
                                    <label class="text-base font-semibold" for="one-showroom-yearly">600 USD <span class="font-normal text-sm text-slate-600">{% trans "per year" %}</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="package grid gap-3 p-6 md:p-8 rounded-md">
                            <h2 class="text-lg md:text-xl font-bold text-lighterBackgroundColor">{% trans 'Multiple Virtual Showrooms' %}</h2>
                            <hr class="border-t border-solid border-slate-300">
                            <div class="grid gap-2">
                                <div class="flex gap-2">
                                    <input type="radio" name="multiple-showroom" id="multiple-showroom-monthly">
                                    <label class="text-base font-semibold" for="multiple-showroom-monthly">100 USD <span class="font-normal text-sm text-slate-600">{% trans "per month" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="multiple-showroom" id="multiple-showroom-monthly-6" checked>
                                    <label class="text-base font-semibold" for="multiple-showroom-monthly-6">400 USD <span class="font-normal text-sm text-slate-600">{% trans "per 6 months" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="multiple-showroom" id="multiple-showroom-yearly">
                                    <label class="text-base font-semibold" for="multiple-showroom-yearly">800 USD <span class="font-normal text-sm text-slate-600">{% trans "per year" %}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid gap-4 px-4">
                    <h1 class="text-lg md:text-xl font-semibold text-lighterBackgroundColor">ii. {% trans "Digital Marketing" %}</h1>
                    <div class="grid md:flex gap-8 justify-center md:justify-start py-4 md:px-6">
                        <div class="package grid gap-3 p-6 md:p-8 rounded-md">
                            <h2 class="text-lg md:text-xl font-bold text-lighterBackgroundColor">{% trans 'One Virtual Showroom' %}</h2>
                            <hr class="border-t border-solid border-slate-300">
                            <div class="grid gap-2">
                                <div class="flex gap-2">
                                    <input type="radio" name="digital-one-showroom" id="digital-one-showroom-monthly">
                                    <label class="text-base font-semibold" for="digital-one-showroom-monthly">50 USD <span class="font-normal text-sm text-slate-600">{% trans "per month" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="digital-one-showroom" id="digital-one-showroom-monthly-6" checked>
                                    <label class="text-base font-semibold" for="digital-one-showroom-monthly-6">250 USD <span class="font-normal text-sm text-slate-600">{% trans "per 6 months" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="digital-one-showroom" id="digital-one-showroom-yearly">
                                    <label class="text-base font-semibold" for="digital-one-showroom-yearly">500 USD <span class="font-normal text-sm text-slate-600">{% trans "per year" %}</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="package grid gap-3 p-6 md:p-8 rounded-md">
                            <h2 class="text-lg md:text-xl font-bold text-lighterBackgroundColor">{% trans 'Multiple Virtual Showrooms' %}</h2>
                            <hr class="border-t border-solid border-slate-300">
                            <div class="grid gap-2">
                                <div class="flex gap-2">
                                    <input type="radio" name="digital-multiple-showroom" id="digital-multiple-showroom-monthly">
                                    <label class="text-base font-semibold" for="digital-multiple-showroom-monthly">100 USD <span class="font-normal text-sm text-slate-600">{% trans "per month" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="digital-multiple-showroom" id="digital-multiple-showroom-monthly-6" checked>
                                    <label class="text-base font-semibold" for="digital-multiple-showroom-monthly-6">500 USD <span class="font-normal text-sm text-slate-600">{% trans "per 6 months" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="digital-multiple-showroom" id="digital-multiple-showroom-yearly">
                                    <label class="text-base font-semibold" for="digital-multiple-showroom-yearly">1000 USD <span class="font-normal text-sm text-slate-600">{% trans "per year" %}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid gap-4 px-4">
                    <h1 class="text-lg md:text-xl font-semibold text-lighterBackgroundColor">ii. {% trans "Local Marketing" %}</h1>
                    <div class="grid md:flex gap-8 justify-center md:justify-start py-4 md:px-6">
                        <div class="package grid gap-3 p-6 md:p-8 rounded-md">
                            <h2 class="text-lg md:text-xl font-bold text-lighterBackgroundColor">{% trans 'In Every Country' %}</h2>
                            <hr class="border-t border-solid border-slate-300">
                            <div class="grid gap-2">
                                <div class="flex gap-2">
                                    <input type="radio" name="one-showroom" id="one-showroom-monthly">
                                    <label class="text-base font-semibold" for="one-showroom-monthly">500 USD <span class="font-normal text-sm text-slate-600">{% trans "per month" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="one-showroom" id="one-showroom-monthly-6" checked>
                                    <label class="text-base font-semibold" for="one-showroom-monthly-6">2500 USD <span class="font-normal text-sm text-slate-600">{% trans "per 6 months" %}</span></label>
                                </div>
                                <div class="flex gap-2">
                                    <input type="radio" name="one-showroom" id="one-showroom-yearly">
                                    <label class="text-base font-semibold" for="one-showroom-yearly">5000 USD <span class="font-normal text-sm text-slate-600">{% trans "per year" %}</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid gap-4">
                <h1 class="text-xl md:text-2xl font-bold text-lighterBackgroundColor">2. Choose your Payment Method</h1>
                <hr class="border-t border-solid border-slate-200">
                <div class="grid gap-3 py-3">
                    <div class="payment-methods grid gap-4 justify-start">
                        <div class="flex gap-2">
                            <div id="paypal-button"></div>
                        </div>
                        <form autocomplete="off">
                            {% if braintree_error %}
                            <div class="alert alert-danger fade in">
                                <button class="close" data-dismiss="alert">&times;</button>
                                {{ braintree_error|safe }}
                            </div>
                            {% endif %}
                            <div class="braintree-notifications"></div>
                            <div id="braintree-dropin"></div>
                            <input style="background-color: #0783ca;color: white;" id="braintree-submit-button" class="btn btn-success btn-lg btn-block" type="button" value="Pay now!" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const packages = document.querySelectorAll(".package");
            packages.forEach(package => {
                package.addEventListener('click', (e) => {
                    packages.forEach(_package => {
                        if (_package.classList.contains('active')) _package.classList.remove('active');
                    })
                    if (e.target.classList.contains('package')) {
                        e.target.classList.add('active');
                    } else {
                        e.target.closest('.package').classList.add('active');
                    }
                })
            })

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        })





    </script>

{% endblock %}