{% extends '../utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="main w-12/12 py-6 pt-0" style="block-size: auto;">
    <div class="grid justify-center content-center md:px-0 px-4 text-center gap-4 capitalize h-60 md:h-80" style="background-color: #0F172A;">
        <h3 class="md:text-6xl text-3xl text-white font-bold">{% trans 'Simple, predictable pricing' %}</h3>
        <p class="md:text-xl text-base text-slate-300 font-semibold">{% trans 'Reach more businesses with our different promotion deals' %}</p>
    </div>

    <div class="main w-12/12 py-10 grid gap-6" style="block-size: auto; background-color: hsl(210, 30%, 95%)">
        <div class="grid justify-center items-center">
            <h3 class="md:text-3xl text-xl font-bold text-lghterBackgroundColor">{% trans 'Memberships Packages' %}</h3>
        </div>
        <div class="grid gap-4 md:grid-cols-3 gap-5 md:gap-10 justify-stretch md:justify-between w-11/12 py-5 mx-auto" data-context="memberships.context_name">
            {% for plan in memberships.results %}
            <div class="membership-card p-4 p-6 card grid gap-2 rounded-xl scale-95 hover:scale-100 transition-200 transition-all ease-in" style="background-image: linear-gradient(to right top,hsl(216, 83%, 12%),#00213a,hsl(199, 100%, 11%),hsl(190, 100%, 11%),hsl(180, 100%, 10%));">
                <div class="header grid px-4 py-4">
                    <h2 class="md:text-3xl text-xl font-bold text-white">{{plan.plan.name}}</h2>
                    </div>
                    <div class="price grid px-4 py-4">
                        <h2 class="font-bold text-yellowColor">
                            <span class="text-4xl">$</span>
                            <span class="text-3xl">450</span>
                            <span class="text-lg">/ month</span>
                        </h2>
                    </div>
                    <ul class="list grid gap-2 px-4 py-4">
                        {% for feature in plan.features %}
                            <li class="flex text-lg gap-3 items-center text-slate-200"><i class="fa fa-check"></i> {{feature.name}}</li>
                        {% endfor %}
                    </ul>
                    <div class="justify-self-start px-4">
                        <a class="text-lg text-slate-200 flex gap-2 hover:gap-3 items-center" href="{% url 'payment:memberships-details' plan.plan.slug %}"><span>{% trans 'Get Started' %}</span> <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="stats bg-lghterBackgroundColor grid gap-4 grid-cols-1 md:grid-cols-4 w-12/12 mx-auto justify-start">
        <div class="grid gap-1 stats-card">
            <span class="num font-semibold text-white">50,000</span>
            <span class="text-xl md:text-2xl text-white font-semibold">{% trans 'Suppliers' %}</span>
            <span class="text-slate-300">{% trans 'All over the world.' %}</span>
        </div>
        <div class="grid gap-1 stats-card">
            <span class="num font-semibold text-white">5</span>
            <span class="text-xl md:text-2xl text-white font-semibold">{% trans 'Showrooms' %}</span>
            <span class="text-slate-300">{% trans 'All over the world.' %}</span>
        </div>
        <div class="grid gap-1 stats-card">
            <span class="num font-semibold text-white">100</span>
            <span class="text-xl md:text-2xl text-white font-semibold">{% trans 'Countries' %}</span>
            <span class="text-slate-300">{% trans 'Using Foroden.' %}</span>
        </div>
        <div class="grid gap-1 stats-card">
            <span class="num font-semibold text-white">20,000</span>
            <span class="text-xl md:text-2xl text-white font-semibold">{% trans 'Buyers' %}</span>
            <span class="text-slate-300">{% trans 'Trading Everyday.' %}</span>
        </div>
    </div>
</section>
{% endblock %}