{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'icons/themify-icons.css' %}">
    <link href="{% static 'icons/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet"  type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="{% static 'js/tinymce/js/tinymce/tinymce.min.js' %}"></script>


    <title>Golden - {% trans 'Supplier Dashboard' %}</title>
</head>

<body>
    <div class="app-container container">
        <div class="app-content">
            <div class="sidebar cs-grid">
                <div class="upper cs-grid" style="gap: 1rem;">
                    <div class="sidebar-header cs-text-accent">
                        <div class="cs-app-logo flex">
                            <i class="fa fa-bars" id="menu-expander"></i>
                            <span class="toggle-able" >{%  trans "SUPPLIER" %}</span>
                        </div>
                    </div>
                    <div class="cs-sidebar-body">
                        <ul class="main-menu">
                            <li class="link active">
                                <a href="{% url 'supplier:dashboard' %}">
                                    <span><img src="/static/graphics/home.png" alt=""></span>
                                    <span class="text toggle-able">{%  trans 'Dashboard' %}</span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="#">
                                    <span><img src="/static/graphics/layer.png" alt=""></span>
                                    <span class="text toggle-able">{%  trans 'Stores' %}</span>
                                </a>
                                <!-- <ul class="sub-menu">
                                    <li class="link"><a href="{% url 'supplier:dashboard-storescreate' %}"> {%  trans 'Create store' %}</a></li>
                                    <li class="link"><a href="{% url 'supplier:dashboard-stores' %}"> {%  trans 'Manage store' %}</a></li>
                                </ul> -->
                            </li>
                            <li class="link">
                                <a href="#">
                                    <span><img src="/static/graphics/parcel.png" alt=""></span>
                                    <span class="text toggle-able">{%  trans 'Services' %}</span>
                                    <!-- <i class="ti-angle-down"></i> -->
                                </a>
                                <!-- <ul class="sub-menu">
                                    <li class="link"><a href="{% url 'supplier:dashboard-servicescreate' %}"> {%  trans 'Create service' %}</a></li>
                                    <li class="link"><a href="{% url 'supplier:dashboard-services' %}"> {%  trans 'Manage service' %}</a></li>
                                </ul> -->
                            </li>

                            <li class="link">
                                <a href="#">
                                    <span><img src="/static/graphics/baby-carriage.png" alt=""></span>
                                    <span class="text toggle-able">{%  trans 'Products' %}</span>
                                </a>
                                <!-- <ul class="sub-menu">
                                    <li class="link"><a href="{% url 'supplier:dashboard-productscreate' %}"> {%  trans 'Create products' %}</a></li>
                                    <li class="link"><a href="{% url 'supplier:dashboard-products' %}"> {%  trans 'Manage products' %}</a></li>
                                </ul> -->
                            </li>
                            <li class="link">
                                <a href="{% url 'supplier:dashboard-contracts' %}">
                                    <span><img src="/static/graphics/contract.png" alt=""></span>
                                    <span
                                        class="text toggle-able">{%  trans 'Contracts' %}
                                    </span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'supplier:dashboard-payments' %}">
                                    <span><img src="/static/graphics/purse.png" alt=""></span>
                                        <span
                                            class="text toggle-able">{%  trans 'Payments' %}
                                        </span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'supplier:dashboard-advertise' %}">
                                    <span><img src="/static/graphics/megaphone.png" alt=""></span>
                                    <span
                                        class="text toggle-able">{%  trans 'Advertise' %}
                                    </span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'supplier:dashboard-messenger' %}">
                                    <span><img src="/static/graphics/facebook-messenger.png" alt=""></span>
                                    <span
                                        class="text toggle-able">{%  trans 'Chat & Messenger' %}
                                    </span>
                                </a>
                            </li>
                            <li class="link">
                                <a href="{% url 'supplier:dashboard-notification' %}">
                                    <span><img src="/static/graphics/ring.png" alt=""></span>
                                    <span
                                        class="text toggle-able">{%  trans 'Push Notifications' %}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="sidebar-footer" style="align-self: flex-end;">
                    <a href="{% url 'auth_app:logout' %}" class="cs-grid btn outlined cs-text-md cs-font-500 br-sm cs-bg-hover-color cs-text-secondary" style="place-items: center;">{% trans 'Logout' %}</a>
                </div> -->
            </div>
            <div class="main">
                <div class="cs-navbar card cs-no-box-shadow">
                    <div class="left">
                        <h4>Good Morning {{ request.user.username }}!</h4>
                    </div>
                    <div class="right">
                        <!-- <div class="link customer-display cs-text-accent" style="justify-self: flex-start; align-self: center;padding: .5rem 1rem;font-weight: bold;">
                            <div class="lg-hidden md-show" id="show_sidebar">
                                <i class="ti-layout-grid2"></i>
                            </div>
                        </div> -->
                        <nav style="justify-self: flex-end;">
                            <ul class="nav-links cs-nav-links flex">
                                <!-- <li class="link customer-display cs-text-accent">
                                    <a href="{% url 'manager:home' %}">
                                        {% trans "Visit Site" %}
                                    </a>
                                </li>
                                <li class="link customer-display cs-text-accent">
                                    <a href="{% url 'supplier:business_profile' %}">
                                        {% trans "Business Profile" %}
                                    </a>
                                </li> -->
                                <li class="icon flex">
                                    <i class="ti-bell"></i>
                                </li>
                                <div class="cs-text-accent">
                                    <a href="#" class="flex" style="margin-inline-start: 1rem;">
                                        <img src="{% static 'assets/imgs/resources/profiledefault.png' %}" alt="user_image"
                                            class="avatar cs-avatar" id="toggle_cs_dropdown_menu" data-target="cs_dropdown_menu" >
                                    </a>
                                    <div class="cs-dropdown-menu hide" id="cs_dropdown_menu">
                                        <ul class="cs-dropdown-items">
                                            <li class="cs-dropdown-item"><i class="ti-link"></i> <a href="{% url 'manager:home' %}">{% trans "Visit Site" %}</a></li>
                                            <li class="cs-dropdown-item"><i class="ti-user"></i> <a href="{% url 'supplier:business_profile' %}">{% trans "Business Profile" %}</a></li>
                                            <li class="cs-dropdown-item"><i class="ti-settings"></i> <a
                                                    href="#">Settings</a></li>
                                            </li>
                                            <li class="cs-dropdown-item footer"><a href="{% url 'auth_app:logout' %}">{% trans 'Logout' %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            if (window.location.href.includes('/ar/')) {
                document.body.classList.add('rtl');
            }
        })

        const toggleDropdownMenu = document.querySelector("#toggle_cs_dropdown_menu");
        toggleDropdownMenu.addEventListener("click", (event) => {
            document.querySelector(`#${event.target.dataset.target}`).classList.toggle("hide");
        });

        // const toggleSideNav = document.querySelector("#menu-expander");
        // let isToggled = false;
        // toggleSideNav.addEventListener("click", (event) => {
        //     if(isToggled){
        //         isToggled = false;
        //         document.querySelector(".app-content").style.gridTemplateColumns = ".5fr 2fr";
        //         document.querySelectorAll(".toggle-able").forEach(toggleAble => {
        //             toggleAble.classList.toggle("toggle-able");
        //             console.log(toggleAble)
        //         });
        //         console.log(isToggled)
        //     }else{
        //         isToggled = true;
        //         document.querySelector(".app-content").style.gridTemplateColumns = ".5fr 2fr";
        //         document.querySelectorAll(".toggle-able").forEach(toggleAble => {
        //             toggleAble.classList.toggle("toggle-able");
        //         });
        //         console.log(isToggled)
        //     }
        // });

        document.querySelector("#menu-expander").addEventListener("click", () => {
                document.querySelector(".app-content").classList.toggle("expanded")
            })

        document.querySelectorAll(".cs-sidebar-body .main-menu .link").forEach(
            tab => tab.addEventListener("mouseover", () => {
                document.querySelector(".app-content").classList.add("expanded")
            })
        )

        document.querySelectorAll(".cs-sidebar-body .main-menu .link").forEach(
            tab => tab.addEventListener("mouseout", () => {
                
                if (document.querySelector(".app-content").classList.contains("expanded"))
                    document.querySelector(".app-content").classList.remove("expanded")
            })
        )

        // document.querySelector("#show_sidebar").addEventListener("click", () => {
        //     document.querySelector(".sidebar").classList.toggle("inview")
        // })
    </script>    

    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/supplierDash.js' %}"></script>

</body>

</html>
