{% extends './utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- section area -->
        <!-- section selectors -->
        <nav data-page="manager" class="section-nav-area br-sm cs-bg-white outlined">
            <ul class="cs-grid section-nav list-none list-outside overflow-hidden" style="--gap: .5rem;">
                <ul class="cs-flex">
                    <li id="manager-overview-activator" class="cs-text-md cs-font-500">Overview</li>
                    <li id="manager-showroom-activator" class="cs-text-md cs-font-500">Showrooms</li>
                    <li id="manager-services-activator"class="cs-text-md cs-font-500">Services</li>
                    <li id="manager-memberships-activator"class="cs-text-md cs-font-500">Membership</li>
                </ul>
                <ul class="nav-emph-cta" style="justify-self: flex-end;align-self: center;margin-inline-end: .5rem;">
                    <li id="nav-emph-cta" class="cs-flex cs-text-md cs-bg-secondary cs-font-500 br-sm emph" style="--text-color: #fff;--gap: .5rem;align-items: center;">
                        <i class="fa fa-plus"></i>
                        <span>Create</span>
                    </li>
                    <ul class="cs-hidden cs-bg-white outlined br-sm cta-emph" style="--gap: .15rem;">
                        <li class="cs-flex cs-text-md cs-bg-secondary cs-font-500 emph">
                            <a style="--gap: .5rem;align-items: center;" class="cs-flex cs-text-white cs-text-md" href="{% url 'app_admin:category-create' %}">

                            <i class="fa fa-plus"></i>
                            <span>Product Category</span>
                            </a>
                        </li>
                        <li class="cs-flex cs-text-md cs-bg-secondary cs-font-500 emph">
                            <a style="--gap: .5rem;align-items: center;" class="cs-flex cs-text-white cs-text-md" href="{% url 'app_admin:subcategory-create' %}">
                                <i class="fa fa-plus"></i>
                                <span>Sub Category</span>
                            </a>
                        </li>
                        <li class="cs-flex cs-text-md cs-bg-secondary cs-font-500 emph">
                            <a style="--gap: .5rem;align-items: center;" class="cs-flex cs-text-white cs-text-md" href="{% url 'app_admin:showroom-create' %}">

                            <i class="fa fa-plus"></i>
                            <span>Showroom</span>
                            </a>
                        </li>
                        <li class="cs-flex cs-text-md cs-bg-secondary cs-font-500 emph">
                            <a style="--gap: .5rem;align-items: center;" class="cs-flex cs-text-white cs-text-md" href="{% url 'app_admin:service-create' %}">
                                <i class="fa fa-plus"></i>
                                <span>Service</span>
                            </a>
                        </li>
                    </ul>
                </ul>
            </ul>
        </nav>
        <!-- section selectors -->

            <!-- when in display -> cs-grid -->
            <!-- when not in display -> cs-hidden -->

        <section id="manager-overview-section" class="cs-hidden content br-sm" style="--gap: 1rem;">
            <div class="cs-grid horizontal-scroll" style="padding: .1rem 0;--gap: 1rem;--row-size: 21%;" data-context="{{statistics.name}}">
                {% for statistic in statistics.results %}
                    <div class="stats-summary-card cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: .8rem;">
                        <h4 class="cs-text-md cs-font-500" style="margin: 0;color: var(--text-color);">
                            {{statistic.name}}
                        </h4>
                        <div class="cs-flex cs-justify-between" style="--gap: 1rem;">
                            <div class="cs-grid">
                                <p class="cs-text-body cs-font-bold cs-text-secondary" style="margin: 0;">
                                    {{statistic.count}}
                                </p>
                                <span class="cs-text-sm" style="color: var(--text-color);">
                                    {{statistic.description}}</span>
                            </div>
                            <a id="{% if 'Total Memberships' == statistic.name %}manager-memberships-overview-activator{% elif 'Total Stores' == statistic.name %}manager-stores-overview-activator{% elif 'Total Services' == statistic.name %}manager-services-overview-activator{% else %}manager-showroom-overview-activator{% endif %}" class="cs-text-sm cs-text-accent cs-font-500" style="align-self: flex-end;cursor: pointer;">View All</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cs-grid" style="padding: .1rem 0;--gap: 1rem;--row-size: 21%;grid-template-columns: repeat(2, 1fr);">
                <div class="stats-summary-card cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: .8rem;">
                    <div class="cs-grid cs-justify-between" style="--gap: 1rem;grid-template-columns: 1fr 1fr;">
                        <div class="cs-grid">
                            <p class="cs-text-normal cs-font-bold cs-text-secondary" style="margin: 0;">
                                Requests
                            </p>
                            <span class="cs-text-sm" style="color: var(--text-color);">Requests Statistics</span>
                        </div>
                        <div id="request-selectors" class="selectors cs-flex cs-align-start" style="--gap: .5rem;">
                            <button style="padding: 0.25rem .75rem;" class="active btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="day">Day</button>
                            <button style="padding: 0.25rem .75rem;" class="btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="week">Week</button>
                            <button style="padding: 0.25rem .75rem;" class="btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="month">Month</button>
                            <button style="padding: 0.25rem .75rem;" class="btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="year">Year</button>
                        </div>
                    </div>
                    <div>
                        <canvas id="requests"></canvas>
                    </div>
                </div>
                <div class="stats-summary-card cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: .8rem;">
                    <div class="cs-grid">
                        <p class="cs-text-normal cs-font-bold cs-text-secondary" style="margin: 0;">
                            Users
                        </p>
                        <span class="cs-text-sm" style="color: var(--text-color);">Users Statistics</span>
                    </div>
                    <div>
                        <canvas id="users" style="max-block-size: 266px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="cs-grid" style="--gap: 1rem;align-content: flex-start;padding: .5rem;grid-template-columns: 1fr;">
                <div class="cs-grid br-md cs-justify-start" style="--gap: 1rem;padding: 0 0;align-content: flex-start;">
                    <p class="cs-text-normal cs-font-bold cs-text-secondary" style="margin: 0;">
                        Top showroom
                    </p>
                    <div class="cs-grid cs-justify-start horizontal-scroll" style="--gap: 1rem;--row-size: 21%;">
                        <a href="" class="cs-flex cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="padding: .5rem 1rem;--gap:.5rem;">
                            <div class="avator br-full cs-overflow-hidden">
                                <img loading="lazy" src="{% static 'assets/imgs/resources/profiledefault.png" style="object-fit: cover;inline-size: 100%;block-size: 100%;" alt="">
                            </div>
                            <div class="cs-grid">
                                <h5 class="cs-text-secondary" style="margin: 0;">Cameron Fashions</h5>
                                <span class="cs-text-accent cs-text-sm">View Profile</span>
                            </div>
                        </a>
                        <a href="" class="cs-flex cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="padding: .5rem 1rem;--gap:.5rem;">
                            <div class="avator br-full cs-overflow-hidden">
                                <img loading="lazy" src="{% static 'assets/imgs/resources/profiledefault.png" style="object-fit: cover;inline-size: 100%;block-size: 100%;" alt="">
                            </div>
                            <div class="cs-grid">
                                <h5 class="cs-text-secondary" style="margin: 0;">Cameron Fashions</h5>
                                <span class="cs-text-accent cs-text-sm">View Profile</span>
                            </div>
                        </a>
                        <a href="" class="cs-flex cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="padding: .5rem 1rem;--gap:.5rem;">
                            <div class="avator br-full cs-overflow-hidden">
                                <img loading="lazy" src="{% static 'assets/imgs/resources/profiledefault.png" style="object-fit: cover;inline-size: 100%;block-size: 100%;" alt="">
                            </div>
                            <div class="cs-grid">
                                <h5 class="cs-text-secondary" style="margin: 0;">Cameron Fashions</h5>
                                <span class="cs-text-accent cs-text-sm">View Profile</span>
                            </div>
                        </a>
                        <a href="" class="cs-flex cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="padding: .5rem 1rem;--gap:.5rem;">
                            <div class="avator br-full cs-overflow-hidden">
                                <img loading="lazy" src="{% static 'assets/imgs/resources/profiledefault.png" style="object-fit: cover;inline-size: 100%;block-size: 100%;" alt="">
                            </div>
                            <div class="cs-grid">
                                <h5 class="cs-text-secondary" style="margin: 0;">Cameron Fashions</h5>
                                <span class="cs-text-accent cs-text-sm">View Profile</span>
                            </div>
                        </a>
                        <a href="" class="cs-flex cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="padding: .5rem 1rem;--gap:.5rem;">
                            <div class="avator br-full cs-overflow-hidden">
                                <img loading="lazy" src="{% static 'assets/imgs/resources/profiledefault.png" style="object-fit: cover;inline-size: 100%;block-size: 100%;" alt="">
                            </div>
                            <div class="cs-grid">
                                <h5 class="cs-text-secondary" style="margin: 0;">Cameron Fashions</h5>
                                <span class="cs-text-accent cs-text-sm">View Profile</span>
                            </div>
                        </a>
                        <a href="" class="cs-flex cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="padding: .5rem 1rem;--gap:.5rem;">
                            <div class="avator br-full cs-overflow-hidden">
                                <img loading="lazy" src="{% static 'assets/imgs/resources/profiledefault.png" style="object-fit: cover;inline-size: 100%;block-size: 100%;" alt="">
                            </div>
                            <div class="cs-grid">
                                <h5 class="cs-text-secondary" style="margin: 0;">Cameron Fashions</h5>
                                <span class="cs-text-accent cs-text-sm">View Profile</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="manager-showroom-section" class="content cs-hidden br-sm" style="--gap: 1rem;padding: .5rem 0;">
            <table>
                <thead>
                    <tr class="cs-bg-hover-color cs-text-md cs-text-secondary cs-font-600">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Stores</th>
                        <th>Products</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr class="cs-bg-hover-color cs-text-md cs-text-secondary cs-font-600">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Stores</th>
                        <th>Products</th>
                    </tr>
                </tfoot>
            </table>
            <div class="table-pagination cs-flex cs-justify-between cs-align-center" style="--gap: 1rem;padding: 0 1rem;">
                <div class="cs-grid cs-align-center">
                    <p class="cs-text-md" style="color: var(--text-color);">Showing Page <span id="current-page-0"></span> of <span id="max-page"></span>. (<span id="table-item-count"></span> Entries)</p>
                </div>
                <div class="table-pagination cs-flex cs-justify-end cs-align-center" style="--gap: 1rem;">
                    <button id="previous-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">Previous</button>
                    <span id="current-page" class="cs-text-md"></span>
                    <button id="next-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">Next</button>
                </div>
            </div>
        </section>

        <section id="manager-services-section" class="content cs-hidden br-sm" style="--gap: 1rem;padding: .5rem 0;">
            <table>
                <thead>
                    <tr class="cs-bg-hover-color cs-text-md cs-text-secondary cs-font-600">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <!-- <th>Delete</th> -->
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr class="cs-bg-hover-color cs-text-md cs-text-secondary cs-font-600">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <!-- <th>Delete</th> -->
                    </tr>
                </tfoot>
            </table>
            <div class="table-pagination cs-flex cs-justify-between cs-align-center" style="--gap: 1rem;padding: 0 1rem;">
                <div class="cs-grid cs-align-center">
                    <p class="cs-text-md" style="color: var(--text-color);">Showing Page <span id="current-page-0"></span> of <span id="max-page"></span>. (<span id="table-item-count"></span> Entries)</p>
                </div>
                <div class="table-pagination cs-flex cs-justify-end cs-align-center" style="--gap: 1rem;">
                    <button id="previous-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">Previous</button>
                    <span id="current-page" class="cs-text-md"></span>
                    <button id="next-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">Next</button>
                </div>
            </div>
        </section>

        <section id="manager-memberships-section" class="cs-hidden content br-sm" style="--gap: 1rem;">
            <table>
                <thead>
                    <tr class="cs-bg-hover-color cs-text-md cs-text-secondary cs-font-600">
                        <th>No.</th>
                        <th>Client</th>
                        <th>Membership</th>
                        <th>Paid On</th>
                        <th>Expires On</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr class="cs-bg-hover-color cs-text-md cs-text-secondary cs-font-600">
                        <th>No.</th>
                        <th>Client</th>
                        <th>Membership</th>
                        <th>Paid On</th>
                        <th>Expires On</th>
                    </tr>
                </tfoot>
            </table>
            <div class="table-pagination cs-flex cs-justify-between cs-align-center" style="--gap: 1rem;padding: 0 1rem;">
                <div class="cs-grid cs-align-center">
                    <p class="cs-text-md" style="color: var(--text-color);">Showing Page <span id="current-page-0"></span> of <span id="max-page"></span>. (<span id="table-item-count"></span> Entries)</p>
                </div>
                <div class="table-pagination cs-flex cs-justify-end cs-align-center" style="--gap: 1rem;">
                    <button id="previous-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">Previous</button>
                    <span id="current-page" class="cs-text-md"></span>
                    <button id="next-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">Next</button>
                </div>
            </div> 
        </section>

        <!-- modals -->
        <div id="manager-service-modal" class="modal cs-hidden elevated outlined cs-align-start" style="align-content: flex-start;--gap: .5rem;">
            <div class="modal-header cs-grid cs-align-start" style="--gap: 1rem;">
                <div class="cs-flex cs-justify-between cs-align-center">
                    <h3 style="margin: 0;" class="cs-text-body cs-text-secondary cs-font-600">
                        Service Detials
                    </h3>
                    <button class="btn cs-bg-transparent" id="manager-service-modal-deactivator">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
            <hr class="cs-block" style="border: 1px solid hsl(0, 0%, 95%);">
            <div class="modal-body cs-grid" style="--gap: 1rem;">
                <div class="cs-grid cs-justify-between" style="grid-template-columns: 1fr;--gap: 1rem;">
                    <div class="cs-grid cs-content-start" style="--gap: .5rem;">
                        <div class="body-group cs-flex cs-align-baseline" style="--gap: .5rem;">
                            <h4 class="cs-text-normal cs-font-500" style="color: var(--text-color);margin: 0;">Name:</h4>
                            <p class="cs-text-normal cs-text-secondary" id="modal-service-name"></p>
                        </div>
                        <div class="body-group cs-flex cs-align-baseline" style="--gap: .5rem;">
                            <p class="cs-text-medium cs-font-500" style="color: var(--text-color);" id="modal-service-description"></p>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid hsl(0, 0%, 95%);">
                <div class="modal-cta cs-flex cs-justify-center" style="--gap: 1rem;">
                    <a href="" class="btn cs-grid cs-justify-center cs-align-center cs-bg-secondary cs-text-white cs-text-md br-sm">
                        Edit
                    </a>
                    <button class="btn cs-grid cs-justify-center cs-align-center cs-bg-danger cs-text-white cs-text-md br-sm" data-serviceId="1" id="suspend-btn">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        
        <div id="operation-confirm-modal" class="modal sm cs-hidden elevated outlined cs-align-start" style="align-content: flex-start;--gap: .5rem;">
            <div class="modal-header cs-grid cs-align-start" style="--gap: 1rem;">
                <div class="cs-flex cs-justify-between cs-align-center">
                    <h3 style="margin: 0;" class="cs-text-body cs-text-secondary cs-font-600">
                        Confirm Operation
                    </h3>
                </div>
            </div>
            <hr class="cs-block" style="border: 1px solid hsl(0, 0%, 95%);">
            <p class="cs-text-normal cs-text-secondary" id="confirm-msg"></p>
            <div class="modal-cta cs-flex" style="--gap: 1rem;margin-block-start: .5rem;">
                <form action="" method="post">
                    <button class="btn cs-grid cs-justify-center cs-align-center cs-bg-danger cs-text-white cs-text-md br-sm">
                        Continue
                    </button>
                </form>
                <button class="btn cs-grid cs-justify-center cs-align-center cs-bg-secondary cs-text-white cs-text-md br-sm" id="cancel-operation">
                    Cancel
                </button>
            </div>
        </div>
        <!-- modals -->

    <!-- section area -->

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            let mChart1 = createChart('Requests.',
                'line',
                ['10/08/2000', '10/08/2000', '10/08/2000','10/08/2000'],
                [80, 100, 46, 70],
                'requests'
            );

            let mChart2 = createChart('Users',
                'doughnut',
                ['Admin', 'Suppliers', 'Buyers'],
                [20, 200, 100],
                'users'
            );

            let mChart3 = createChart('Requests by location',
                'bar',
                ['Africa', 'Europe', 'Asia'],
                [20, 200, 100],
                'requests-by-location'
            );


            const actionBtns = document.querySelectorAll('.selectors button');
            for (let i = 0; i < actionBtns.length; i++) {
                actionBtns[i].addEventListener('click', e => {
                    actionBtns.forEach(btn => {
                        if (btn.classList.contains('active')) btn.classList.remove('active');
                    });

                    actionBtns[i].classList.add('active');

                    if (actionBtns[i].getAttribute('id') === "day") {

                        mChart1.destroy();
                        mChart1 = createChart('Revenue per day.',
                            'line',
                            ['10/08/2000', '10/08/2000', '10/08/2000','10/08/2000'],
                            [80, 100, 46, 70],
                            'requests'
                        );

                    } else if (actionBtns[i].getAttribute('id') === "week") {

                        mChart1.destroy();
                        mChart1 = createChart('Revenue per week.',
                            'line',
                            ['week 1', 'week 1', 'week 1','week 1'],
                            [80, 100, 46, 70],
                            'requests'
                        );

                    } else if (actionBtns[i].getAttribute('id') === "month") {

                        mChart1.destroy();
                        mChart1 = createChart('Revenue per month.',
                            'line',
                            ['08/2000', '08/2000', '08/2000','08/2000'],
                            [80, 100, 46, 70],
                            'requests'
                        );

                    } else if (actionBtns[i].getAttribute('id') === "year") {

                        mChart1.destroy();
                        mChart1 = createChart('Revenue per year.',
                            'line',
                            ['2000', '2000', '2000','2000'],
                            [40, 50, 46, 70],
                            'requests'
                        );
                    } else {
                        // console.log("");
                    }
                });
            }
        });
    </script>


{% endblock %}