{% extends './utils/layout.html' %}
{% load static %}
{% load i18n %}
{% load format_date %}
{% block content %}
    <!-- section area -->
        <!-- section selectors -->
        <nav class="section-nav-area br-sm cs-bg-white outlined">
            <ul class="cs-grid section-nav list-none list-outside" style="--gap: .25rem;">
                <div class="cs-flex">
                    <li class="cs-text-md cs-font-500 active">
                        <a href="{% url 'app_admin:promotions' %}">General Promotions</a>
                    </li>
                    <li class="cs-text-md cs-font-500">
                        <a href="{% url 'app_admin:email-promotions' %}">Email Promotions</a>
                    </li>
                </div>
                <ul class="nav-emph-cta" style="justify-self: flex-end;align-self: center;margin-inline-end: .5rem;">
                    <li id="nav-emph-cta" class="cs-flex cs-text-md cs-bg-secondary cs-font-500 br-sm emph">
                        <a href="{% url 'app_admin:promotions-create' %}" class="cs-flex cs-text-white" style="--text-color: #fff;--gap: .5rem;align-items: center;">
                            <i class="fa fa-plus"></i>
                            <span>Create</span>
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>
        <!-- section selectors -->

        <section class="content cs-grid br-sm outlined" style="--gap: 1rem;padding: 1rem;">
            {% if not text_promotions and not banner_promotions %}
                <p class="cs-text-normal cs-font-bold cs-text-secondary" style="margin: 0;">
                    {% trans "No Email Promotions Found" %}
                </p>
            {% endif %}
            {% if text_promotions %}
            <div class="cs-grid" style="gap: .5rem;">
                <p class="cs-text-normal cs-font-bold cs-text-secondary" style="margin: 0;">
                    {% trans "Text Promotions" %}
                </p>
                <div class="cs-grid" style="gap: 1rem; grid-template-columns: repeat(4, 1fr);">
                    {% for promotion in text_promotions %}
                        <a href="{% url 'app_admin:promotions-edit' promotion.slug %}" class="stats-summary-card cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: .5rem;">
                            <h4 class="cs-text-normal cs-font-700" style="margin: 0;color: var(--text-color);">
                                {{ promotion.name }}
                            </h4>
                            <div class="cs-flex cs-justify-between" style="--gap: 1rem;">
                                <div class="cs-grid" style="--gap: .25rem">
                                    <span class="cs-text-md" style="color: var(--text-color);">
                                        {{ promotion.description }}
                                    </span>
                                    <span class="cs-text-secondary cs-text-sm cs-font-700">{{ promotion.type }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
            {% if banner_promotions %}
            <div class="cs-grid" style="gap: 1rem;">
                <p class="cs-text-normal cs-font-bold cs-text-secondary" style="margin: 0;">
                    {% trans "Banner Promotions" %}
                </p>
                <div class="cs-grid" style="gap: 1rem; grid-template-columns: repeat(4, 1fr);">
                    {% for promotion in banner_promotions %}
                    <a href="{% url 'app_admin:promotions-edit' promotion.slug %}" class="stats-summary-card w-img cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: 0rem;">
                        <div class="img-wrapper">
                            <img src="/media/{{promotion.image}}" alt="">
                        </div>
                        <div class="cs-grid description" style="--gap: .25rem;">
                            <h4 class="cs-text-normal cs-font-bold" style="margin: 0;color: var(--text-color);">
                                {{ promotion.name }}
                            </h4>
                            <div class="cs-flex cs-justify-between" style="--gap: 1rem;">
                                <div class="cs-grid" style="--gap: .25rem">
                                    <span class="cs-text-md" style="color: var(--text-color);">
                                        {{ promotion.description }}
                                    </span>
                                    <span class="cs-text-secondary cs-text-sm cs-font-700">{{ promotion.type }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </section>
    <!-- section area -->
{% endblock %}