{% extends '../utils/layout.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% block content %}

    <section class="grid container gap-6 items-start md:grid-cols-2 w-11/12 md:w-10/12 py-10">
        <div class="grid px-6 md:px-8 py-8 rounded auth-area gap-4" style="border: 1px solid hsl(0, 0%, 80%);">
            <div class="grid gap-1">
                <h3 class="text-2xl font-medium text-lghterBackgroundColor" style="font-family: serif">{% trans 'Welcome Back' %}</h3>
                <p class="text-base text-slate-700">{% trans 'Thousands of products await.' %}</p>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                            <div class="flex justify-between content-center text-normal br-sm font-600" style="border: 1px solid rgb(236, 35, 35);color: rgb(236, 35, 35); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                                <p>{{ message }}</p>
                                <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                            <div class="flex justify-between content-center text-normal br-sm font-600" style="border: 1px solid hsl(116, 66%, 50%);color: hsl(116, 66%, 50%); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                                <p>{{ message }}</p>
                                <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="grid gap-3 justify-content">
                <form action="{% url 'auth_app:login' %}" method="POST" class="grid gap-4">
                    {% csrf_token %}
                    <div class="form-group grid gap-1">
                        <label for="username" class="text-lghterBackgroundColor font-semibold text-base">{% trans 'Username' %}</label>
                        <input class="py-4" style="width: 100%;" type="text" id="username" name="username" autocomplete="username" required>
                    </div>
                    <div class="form-group grid gap-1">
                        <label for="password" class="text-lghterBackgroundColor font-semibold text-base">{% trans 'Password' %}</label>
                        <input class="py-4" style="width: 100%;" type="password" id="password" name="password" autocomplete="current-password" required>
                    </div>
                    <div class="form-group">
                        <input class="bg-backgroundColor hover:bg-backgroundColorHover text-white" style="width: 100%;" type="submit" value="{% trans 'Login' %}">
                    </div>
                </form>
            </div>
            <div class="separator">
                <span>{% trans "Or" %}</span>
            </div>
            <div class="sign-in-with grid gap-2">
                <a href="{% provider_login_url 'google' %}" class="flex justify-center gap-5 md:gap-10 items-center bg-white shadow-md font-semibold md:px-6 py-3 items-center" style="border: thin solid rgba(136, 136, 136, 0.192);color: #444;white-space: nowrap;">
                    <i class="fa fa-google"></i>
                    <span>{% trans 'Continue With Google' %}</span>
                </a>
                <a href='{% provider_login_url "facebook" method="oauth2" %}' class="flex justify-center gap-5 md:gap-10 px-6 py-3 items-center rounded bg-white shadow-md font-semibold text-white" style="white-space: nowrap;background-color: #3A63BE;">
                    <i class="text-xl fa fa-facebook"></i>
                    <span class="text-base">{% trans "Continue With Facebook"  %}</span>
                </a>
                <a href='{% provider_login_url "facebook" method="oauth2" %}' class="flex justify-center gap-5 md:gap-10 px-6 py-3 items-center rounded bg-white shadow-md font-semibold text-white" style="white-space: nowrap;border: thin solid rgba(136, 136, 136, 0.192);color: #444;">
                    <i class="text-xl fa fa-facebook"></i>
                    <span class="text-base">{% trans "Continue With LinkedIn"  %}</span>
                </a>
            </div>
        </div>
        <div class="grid container px-8 py-8 rounded auth-area gap-4" style="border: 1px solid hsl(0, 0%, 80%);">
            <div class="grid gap-1">
                <h3 class="text-2xl font-medium text-lghterBackgroundColor" style="font-family: serif">{% trans 'Welcome To Foroden' %}</h3>
                <p class="text-base font-normal text-slate-700">{% trans 'Join the biggest community of over 70,000 Business People.' %}</p>
            </div>
            <div class="separator" style="--line-width: 25%;">
                <span>{% trans 'Sign Up As' %}</span>
            </div>
            <div class="sign-in-with grid grid-cols-1 md:grid-cols-2 grid-cols-1 gap-2">
                <a href="{% url 'auth_app:signup' %}?Supplier=1" style="color: white;" class="flex justify-center gap-10 bg-yellowColor text-white px-6 py-3 items-center rounded color text-lghterBackgroundColor">
                    <span>{% trans 'Supplier' %}</span>
                </a>
                <a href="{% url 'auth_app:signup' %}?Buyer=1" class="flex justify-center gap-10 bg-lghterBackgroundColor text-white px-6 py-3 items-center rounded color text-white">
                    <span>{% trans 'Buyer' %}</span>
                </a>
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LeQ0n4mAAAAADBZXh8ZXLMX4hW6PKUjqvBHwSTz"></div>
    </section>

{% endblock %}