<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/utils.css"> -->
    <link rel="stylesheet" href="../static/css/_main.css">
    <link rel="stylesheet" href="../static/icons/themify-icons.css">

    <title>Golden - GOLDEN</title>
</head>

<body>
    <div class="app-container container">
        <div class="app-content flex">
            <div class="sidebar card">
                <div class="sidebar-header">
                    <div class="app-logo">
                        <i class="ti-layout-grid2"></i>
                        <span>Seller's Portal</span>
                    </div>
                </div>
                <div class="sidebar-body">
                    <ul class="main-menu">
                        <li class="link">
                            <a href="_dashboard.html">
                                <span class="flex">
                                    <span><i class="icon ti-home"></i><span class="text">Dashboard</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-folder"></i><span class="text">Stores</span></span><i
                                        class="ti-angle-down" style="color:#fff;"></i>
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="link"><a href="_create-store.html"> Create store</a></li>
                                <li class="link"><a href="_manage-store.html"> Manage store</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-receipt"></i><span class="text">Products</span></span><i
                                        class="ti-angle-down" style="color:#fff;"></i>
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="link"><a href="_manage-product.html"> Manage products</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="_contract.html">
                                <span class="flex">
                                    <span><i class="icon ti-layout-accordion-list"></i><span
                                            class="text">Contracts</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-footer"></div>
            </div>
            <div class="main">
                <div class="navbar">
                    <div class="flex">
                        <div class="logo">
                            <form class="search-form">
                                <div class="form-control">
                                    <input type="search" name="" id="" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <nav>
                            <ul class="nav-links flex">
                                <li class="link bell"><i class="ti-bell"></i></li>
                                <li class="link settings"><i class="ti-settings"></i></li>
                                <li class="link customer-display"><i class="ti-screen"></i></li>

                                <div class="dropdown">
                                    <div class="flex">
                                        <img src="../static/assets/imgs/resources/profiledefault.png" alt=""
                                            class="avatar" id="toggle-dropdown">
                                        <h4>Phillip M.</h4>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu">
                                        <ul class="dropdown-items">
                                            <li class="dropdown-item"><i class="ti-help"></i> <a href="#">Help</a></li>
                                            <li class="dropdown-item"><i class="ti-settings"></i> <a
                                                    href="#">Settings</a></li>
                                            </li>
                                            <li class="dropdown-item footer"><a href="#">Sign Out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="main-content">
                    <h3 style="margin:1.6rem 0 .4rem 0;font-weight:600;">My Contracts</h3>
                    <div class="card">
                        <div class="contract">
                            <div class="contract-header">
                                <div class="flex">
                                    <h4>Details</h4>
                                    <a href="#"><i class=""></i></a>
                                </div>
                            </div>
                            <div class="contract-body">
                                <div class="">
                                    <div class="flex">
                                        <h4>Client information</h4>
                                        <h4>Ref No: #74651239</h4>
                                    </div>
                                    <div class="contract card">
                                        <div class="top-content flex">
                                            <div class="flex">
                                                <img src="../static/assets/imgs/resources/profiledefault.png" alt=""
                                                    class="avatar">
                                                <h4 class="client">John Smith</h4>
                                            </div>
                                            <h4 class="date">Yesterday</h4>
                                        </div>
                                        <div class="bottom-content flex">
                                            <h4 class="location"><small>Requested from:</small> Kampala</h4>
                                            <h4 class="timestamp">30 hours ago</h4>
                                        </div>
                                    </div>
                                    <h4>Contract info</h4>
                                    <div class="">
                                        <table class="">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span class="">Customer representation</span></td>
                                                    <td><span class="">1200</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/sidebar.js"></script>
    <script src="../static/js/modal.js"></script>
    <script>


    </script>

</body>

</html>