<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/utils.css"> -->
    <link rel="stylesheet" href="../static/css/_main.css">
    <link rel="stylesheet" href="../static/icons/themify-icons.css">


    <title>Golden - GOLDEN</title>
</head>

<body>
    <div class="app-container container">
        <div class="app-content flex">
            <div class="sidebar card">
                <div class="sidebar-header">
                    <div class="app-logo">
                        <i class="ti-layout-grid2"></i>
                        <span>Seller's Portal</span>
                    </div>
                </div>
                <div class="sidebar-body">
                    <ul class="main-menu">
                        <li class="link">
                            <a href="_dashboard.html">
                                <span class="flex">
                                    <span><i class="icon ti-home"></i><span class="text">Dashboard</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-folder"></i><span class="text">Stores</span></span><i
                                        class="ti-angle-down" style="color:#fff;"></i>
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="link"><a href="_create-store.html"> Create store</a></li>
                                <li class="link"><a href="_manage-store.html"> Manage store</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-receipt"></i><span class="text">Products</span></span><i
                                        class="ti-angle-down" style="color:#fff;"></i>
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="link"><a href="_manage-product.html"> Manage products</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="_contract.html">
                                <span class="flex">
                                    <span><i class="icon ti-layout-accordion-list"></i><span
                                            class="text">Contracts</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-footer"></div>
            </div>
            <div class="main">
                <div class="navbar">
                    <div class="flex">
                        <div class="logo">
                            <form class="search-form">
                                <div class="form-control">
                                    <input type="search" name="" id="" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <nav>
                            <ul class="nav-links flex">
                                <li class="link bell"><i class="ti-bell"></i></li>
                                <li class="link settings"><i class="ti-settings"></i></li>
                                <li class="link customer-display"><i class="ti-screen"></i></li>

                                <div class="dropdown">
                                    <div class="flex">
                                        <img src="../static/assets/imgs/resources/profiledefault.png" alt=""
                                            class="avatar" id="toggle-dropdown">
                                        <h4>Phillip M.</h4>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu">
                                        <ul class="dropdown-items">
                                            <li class="dropdown-item"><i class="ti-help"></i> <a href="#">Help</a></li>
                                            <li class="dropdown-item"><i class="ti-settings"></i> <a
                                                    href="#">Settings</a></li>
                                            </li>
                                            <li class="dropdown-item footer"><a href="#">Sign Out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="main-content">
                    <h3 style="margin:1.6rem 0 .4rem 0;font-weight:600;">Create New Store</h3>
                    <div class="card product-form">
                        <div class="create-form">
                            <form action="">
                                <div class="" style="position:relative;z-index:5;height:auto;width:100%;">
                                    <div
                                        style="background-color:#fafbfc;padding:0 .2rem;width:fit-content;height:auto;position:absolute;z-index:10;top:1%;left:0%;transform: translate(50%, -50%);">
                                        <h3 class="flex" style="margin:0;">Store Information</h3>
                                    </div>
                                    <div class="product-name-category"
                                        style="justify-content:flex-start;height:fit-content;width:100%;border:1px solid rgb(238, 234, 234);border-radius:0;padding:.8rem .6rem;">
                                        <div class="" style="margin-top:.8rem;">
                                            <div class="form-control">
                                                <label for="produt-name">Store Name</label>
                                                <input type="text" name="product-name" id="product-name"
                                                    placeholder="Lancaster Fashions">
                                            </div>
                                            <div class="form-control">
                                                <label for="product-image">Service Image</label>
                                                <input type="file" name="product-image" id="product-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-save-cancel flex mt-5" style="margin-top:.8rem;">
                                    <div class="form-control">
                                        <input type="submit" value="Create" name="btn-create" class="btn">
                                    </div>
                                    <div class="form-control">
                                        <input type="submit" value="Cancel" name="btn-cancel" class="btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/sidebar.js"></script>
</body>

</html>