<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/utils.css"> -->
    <link rel="stylesheet" href="../static/css/_main.css">
    <link rel="stylesheet" href="../static/icons/themify-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <title>Golden - GOLDEN</title>
</head>

<body>
    <div class="app-container container">
        <div class="app-content flex">
            <div class="sidebar card">
                <div class="sidebar-header">
                    <div class="app-logo">
                        <i class="ti-layout-grid2"></i>
                        <span>Seller's Portal</span>
                    </div>
                </div>
                <div class="sidebar-body">
                    <ul class="main-menu">
                        <li class="link">
                            <a href="_dashboard.html">
                                <span class="flex">
                                    <span><i class="icon ti-home"></i><span class="text">Dashboard</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-receipt"></i><span class="text">Products</span></span><i
                                        class="ti-angle-down" style="color:#fff;"></i>
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="link"><a href="_create-product.html"> Create products</a></li>
                                <li class="link"><a href="_manage-product.html"> Manage products</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-layout-accordion-list"></i><span
                                            class="text">Contracts</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-user"></i><span class="text">Customer Manager</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-footer"></div>
            </div>
            <div class="main">
                <div class="navbar">
                    <div class="flex">
                        <div class="logo">
                            <form class="search-form">
                                <div class="form-control">
                                    <input type="search" name="" id="" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <nav>
                            <ul class="nav-links flex">
                                <li class="link bell"><i class="ti-bell"></i></li>
                                <li class="link settings"><i class="ti-settings"></i></li>
                                <li class="link customer-display"><i class="ti-screen"></i></li>

                                <div class="dropdown">
                                    <div class="flex">
                                        <img src="../static/assets/imgs/resources/profiledefault.png" alt=""
                                            class="avatar" id="toggle-dropdown">
                                        <h4>Phillip M.</h4>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu">
                                        <ul class="dropdown-items">
                                            <li class="dropdown-item"><i class="ti-help"></i> <a href="#">Help</a></li>
                                            <li class="dropdown-item"><i class="ti-settings"></i> <a
                                                    href="#">Settings</a></li>
                                            </li>
                                            <li class="dropdown-item footer"><a href="#">Sign Out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="main-content">
                    <div class="top flex">
                        <div class="left content">
                            <div class="top-cards flex">
                                <div class="top-card card flex">
                                    <div class="card-content card-content-left">
                                        <span><i class="ti ti-money"></i></span>
                                    </div>
                                    <div class="card-content card-content-right">
                                        <h4>Sales</h4>
                                        <h6>5000</h6>
                                    </div>
                                </div>
                                <div class="top-card card flex">
                                    <div class="card-content card-content-left">
                                        <span><i class="ti ti-money"></i></span>
                                    </div>
                                    <div class="card-content card-content-right">
                                        <h4>Returns</h4>
                                        <h6>200</h6>
                                    </div>
                                </div>
                                <div class="top-card card flex">
                                    <div class="card-content card-content-left">
                                        <span><i class="ti ti-credit-card"></i></span>
                                    </div>
                                    <div class="card-content card-content-right">
                                        <h4>Income</h4>
                                        <h6>£850,000</h6>
                                    </div>
                                </div>
                                <div class="top-card card flex">
                                    <div class="card-content card-content-left">
                                        <span><i class="ti ti-credit-card"></i></span>
                                    </div>
                                    <div class="card-content card-content-right">
                                        <h4>Losses</h4>
                                        <h6>£20,000</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-content flex">
                                <div class="filter-cards duration card flex p-0">
                                    <div class="form-control flex action">
                                        <button class="btn act-btn active br-0 m-0 day">Today</button>
                                    </div>
                                    <div class="form-control flex action">
                                        <button class="btn act-btn br-0 m-0 week">Week</button>
                                    </div>
                                    <div class="form-control flex action">
                                        <button class="btn act-btn br-0 m-0 month">Month</button>
                                    </div>
                                    <div class="form-control flex action">
                                        <button class="btn act-btn br-0 m-0 year">Year</button>
                                    </div>
                                </div>
                                <div class="filter-cards date card flex p-0"
                                    style="border: 1px solid var(--brand-primary);">
                                    <form action="" class="pick-date-form flex">
                                        <div class="form-control flex action">
                                            <input type="date" name="" id="">
                                            <button class="btn active pick-date"><i class="ti-link"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="right content">
                            <div class="card m-0">
                                <h4>Top 5 selling products</h4>
                                <div class="wrapper flex">
                                    <div class="top-selling-product">
                                        <span><i class="ti ti-wallet"></i></span>
                                    </div>
                                    <div class="top-selling-product-details">
                                        <h4>Headphone & Tablet</h4>
                                        <h6>£13k</h6>
                                    </div>
                                </div>
                                <div class="wrapper flex">
                                    <div class="top-selling-product">
                                        <span><i class="ti ti-wallet"></i></span>
                                    </div>
                                    <div class="top-selling-product-details">
                                        <h4>Cosmetic & Jewellery</h4>
                                        <h6>£475k</h6>
                                    </div>
                                </div>
                                <div class="wrapper flex">
                                    <div class="top-selling-product">
                                        <span><i class="ti ti-wallet"></i></span>
                                    </div>
                                    <div class="top-selling-product-details">
                                        <h4>Fashion</h4>
                                        <h6>£27k</h6>
                                    </div>
                                </div>
                                <div class="wrapper flex">
                                    <div class="top-selling-product">
                                        <span><i class="ti ti-wallet"></i></span>
                                    </div>
                                    <div class="top-selling-product-details">
                                        <h4>Home furniture</h4>
                                        <h6>£64k</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="data-visual flex">
                        <div class="card">
                            <h4>Your revenue trend</h4>
                            <div>
                                <canvas id="revenue"></canvas>
                            </div>
                        </div>
                        <div class="card">
                            <h4>Top selling categories</h4>
                            <div>
                                <canvas id="most-bought" style="max-height: 266px;"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/sidebar.js"></script>

    <script>

        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'Sales',
                backgroundColor: '#ecab08',
                borderColor: '#ecab08',
                data: [0, 1000, 1500, 890, 2500, 3000, 4500],
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const revenue = new Chart(
            document.getElementById('revenue'),
            config
        );


        const data2 = {
            labels: [
                'Gadgets',
                'Computing',
                'Fashion',
                'Jewellery'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100, 78],
                backgroundColor: [
                    'rgb(255, 205, 86)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                    'rgb(25, 55, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const config2 = {
            type: 'doughnut',
            data: data2,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'right',
                    }
                }
            },
        };

        const mostBought = new Chart(
            document.getElementById('most-bought'),
            config2
        );

    </script>
</body>

</html>