<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/utils.css"> -->
    <link rel="stylesheet" href="../static/css/_main.css">
    <link rel="stylesheet" href="../static/icons/themify-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>


    <title>Golden - GOLDEN</title>
</head>

<body>
    <div class="app-container container">
        <div class="app-content flex">
            <div class="sidebar card">
                <div class="sidebar-header">
                    <div class="app-logo">
                        <i class="ti-layout-grid2"></i>
                        <span>Seller's Portal</span>
                    </div>
                </div>
                <div class="sidebar-body">
                    <ul class="main-menu">
                        <li class="link">
                            <a href="_dashboard.html">
                                <span class="flex">
                                    <span><i class="icon ti-home"></i><span class="text">Dashboard</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-folder"></i><span class="text">Stores</span></span><i
                                        class="ti-angle-down" style="color:#fff;"></i>
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="link"><a href="_create-store.html"> Create store</a></li>
                                <li class="link"><a href="_manage-store.html"> Manage store</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="#">
                                <span class="flex">
                                    <span><i class="icon ti-receipt"></i><span class="text">Products</span></span><i
                                        class="ti-angle-down" style="color:#fff;"></i>
                                </span>
                            </a>
                            <ul class="sub-menu">
                                <li class="link"><a href="_manage-product.html"> Manage products</a></li>
                            </ul>
                        </li>
                        <li class="link">
                            <a href="_contract.html">
                                <span class="flex">
                                    <span><i class="icon ti-layout-accordion-list"></i><span
                                            class="text">Contracts</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-footer"></div>
            </div>
            <div class="main">
                <div class="navbar">
                    <div class="flex">
                        <div class="logo">
                            <form class="search-form">
                                <div class="form-control">
                                    <input type="search" name="" id="" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <nav>
                            <ul class="nav-links flex">
                                <li class="link bell"><i class="ti-bell"></i></li>
                                <li class="link settings"><i class="ti-settings"></i></li>
                                <li class="link customer-display"><i class="ti-screen"></i></li>

                                <div class="dropdown">
                                    <div class="flex">
                                        <img src="../static/assets/imgs/resources/profiledefault.png" alt=""
                                            class="avatar" id="toggle-dropdown">
                                        <h4>Phillip M.</h4>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu">
                                        <ul class="dropdown-items">
                                            <li class="dropdown-item"><i class="ti-help"></i> <a href="#">Help</a></li>
                                            <li class="dropdown-item"><i class="ti-settings"></i> <a
                                                    href="#">Settings</a></li>
                                            </li>
                                            <li class="dropdown-item footer"><a href="#">Sign Out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="main-content">
                    <h3 style="margin:1.6rem 0 .4rem 0;font-weight:600;">My Stores</h3>
                    <div class="card card-info" id="orders-help">
                        <i class="ti-close exit"></i>
                        <div class="title">
                            <small>Please, select a store from the table</small>
                        </div>
                        <div class="text">
                            <small>To add products to it.</small>
                        </div>
                    </div>
                    <div class="card data-table products-table">
                        <table id="table-1" class="display" style="width:100%;margin-top:.5rem;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Products</th>
                                    <th>Services</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="select">
                                    <td>STRE11414</td>
                                    <td>Lancaster Fashions</td>
                                    <td>1000</td>
                                    <td>10</td>
                                    <td style="color: unset;">08/16/2022</td>
                                </tr>
                                <tr class="select">
                                    <td>STRE11200</td>
                                    <td>Go Green Solutions</td>
                                    <td>500</td>
                                    <td>47</td>
                                    <td style="color: unset;">08/04/2022</td>
                                </tr>
                                <tr class="select">
                                    <td>STRE11210</td>
                                    <td>Modern Electronics</td>
                                    <td>1560</td>
                                    <td>1</td>
                                    <td style="color: unset;">08/04/2022</td>
                                </tr>
                                <tr class="select">
                                    <td>STRE11240</td>
                                    <td>LMK Shells</td>
                                    <td>40</td>
                                    <td>3</td>
                                    <td style="color: unset;">08/11/2022</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/dropdown.js"></script>
    <script src="../static/js/sidebar.js"></script>
    <script src="../static/js/modal.js"></script>
    <script>
        // Table
        $(document).ready(function () {
            $('#table-1').DataTable();
        });


        // Open Modal
        const rows = document.querySelectorAll('.select');
        rows.forEach(row => {
            row.style.cursor = "pointer";
            row.addEventListener('click', navigateToStore);

        });

        function navigateToStore() {
            location.href = "_create-product.html";
        }

        const closeCard = document.querySelector('.ti-close.exit');
        if (closeCard) {
            closeCard.addEventListener('click', function (e) {
                e.target.parentElement.remove();
            });
        }

    </script>

</body>

</html>