<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/utils.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/icons/themify-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" >

    <title>Golden - GOLDEN</title>
</head>

<script>
    tailwind.config = {
      theme: {
        screens : {
            sm: '480px',
            md: '768px',
            lg: '976px',
            xl: '1440px',
        },
        extend: {
            colors: {
                yellowColor: 'hsl(38, 95%, 47%)',
                yellowColorHover: 'hsl(38, 95%, 44%)',
                backgroundColor: 'hsl(0, 0%, 9%)',
                backgroundColorHover: 'hsl(0, 0%, 5%)',
                lghterBackgroundColor: 'hsl(213, 28%, 19%)',
                lghterBackgroundColorhover: 'hsl(213, 28%, 16%)'
                // headerBg: 'hsla(0, 100%, 97%, .8)',
                // hoverBackgroundColor: 'hsla(0, 100%, 95%, 1)',
            },
            width: {
                'full': '95%',
            }
        },
        // fontSize: {
            // 'xs': '.85rem',
            // 'sm': '.975rem',
            // 'tiny': '.975rem',
            // 'base': '1.1rem',
            // 'lg': '1.325rem',
            // 'xl': '1.35rem',
            // '2xl': '1.6rem',
            // '3xl': '1.975rem',
            // '4xl': '2.35rem',
            // '5xl': '3rem',
            // '6xl': '4rem',
            // '7xl': '6rem',
        // }
      }
    }
  </script>

<body>
    <header class="top-nav">
        <div class="w-12/12 bg-backgroundColor">
            <div class="w-full mx-auto">
                <!-- The temporary navbar -->
                <div class="temp-nav py-3 grid content-center w-12/12 gap-1">
                    <div class="header-left grid items-center">
                        <div class="logo-wrapper">
                            <img src="../static/assets/imgs/resources/logo_trans.png" alt="Logo" class="logo" style="object-fit: cover;">
                        </div>
                    </div>
                    <form action="" class="search-form grid w-12/12 gap-0 justify-items-stretch">
                        <input type="search" name="search-bar" id="search-bar" class="py-3 px-6 rounded-tl-md rounded-bl-md focus:outline-none text-lghterBackgroundColor"
                            placeholder="Search">

                            <button type="submit" class="grid place-items-center bg-yellowColor rounded-tr-md rounded-br-md">
                            <i class="ti-search"></i>
                        </button>
                    </form>
                    <ul class="header-right list-none list-outside flex justify-end text-white">
                        <li class="grid place-items-center h-full positive-relative">
                            <a href="" onClick="(function(){
                            })();return false;" class="flex gap-1 px-4 gap-2 text-sm items-center">
                                <span class="item-name grid place-items-center py-2">
                                    <i class="ti-world font-bold"></i>
                                </span>
                                <span class="grid place-items-center py-2">
                                    EN
                                </span>
                            </a>
                            <ul class="dropdown-list   list-none list-outside bg-lghterBackgroundColor overflow-hidden rounded-md text-base">
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">English</a>
                                </li>
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">Arabic</a>
                                </li>
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">French</a>
                                </li>
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">Nederlands</a>
                                </li>
                            </ul>
                        </li>
                        <li class="grid place-items-center h-full positive-relative">
                            <a href="" onClick="(function(){
                            })();return false;" class="flex gap-1 px-4 gap-2 text-sm items-center">
                                <span class="item-name grid place-items-center py-2">
                                    My Account
                                </span>
                                <span class="grid items-center py-2">
                                    <i class="ti-angle-down font-bold"></i>
                                </span>
                            </a>
                            <ul class="dropdown-list   list-none list-outside bg-lghterBackgroundColor overflow-hidden rounded-md text-base">
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">Profile</a>
                                </li>
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">Dashboard</a>
                                </li>
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">Wishlists</a>
                                </li>
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">Settings</a>
                                </li>
                                <li>
                                    <a class="grid items-center py-3 px-8" href="">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- The permanent/sticky navbar -->
    <nav class="w-12/12 bg-lghterBackgroundColor sticky top-0 z-50">
        <div class="w-full mx-auto flex justify-between  overflow-hidden">
            <ul class="flex text-base text-white">
                <li><a class="grid py-3 px-4 hover:bg-lghterBackgroundColorhover transition-colors transition-200 ease-in" href="#">Home</a></li>
                <li><a class="grid py-3 px-4 hover:bg-lghterBackgroundColorhover transition-colors transition-200 ease-in" href="#">About us</a></li>
                <li><a class="grid py-3 px-4 hover:bg-lghterBackgroundColorhover transition-colors transition-200 ease-in" href="#">Services</a></li>
                <li><a class="grid py-3 px-4 hover:bg-lghterBackgroundColorhover transition-colors transition-200 ease-in" href="#">Products</a></li>
                <li><a class="grid py-3 px-4 hover:bg-lghterBackgroundColorhover transition-colors transition-200 ease-in" href="#">Showrooms</a></li>
                <li><a class="grid py-3 px-4 hover:bg-lghterBackgroundColorhover transition-colors transition-200 ease-in" href="#">Contact</a></li>
            </ul>
            
            <ul class="flex text-base text-white">
                <li><a class="grid py-3 px-4 bg-yellowColor hover:bg-yellowColorHover font-semibold transition-colors transition-200 ease-in" href="#">Sell On Foroden</a></li>
            </ul>
        </div>
    </nav>

    <main class="grid gap-2 md:gap-8">
        <div class="breadcrumb flex flex-wrap justify-start gap-2 md:w-10/12 mx-auto px-5 pt-8">
            <a class="text-gray-600 hover:text-gray-900" href="./index.html">Home</a>
            <a>/</a>
            <a class="text-gray-600 hover:text-gray-900" href='./index.html'>Fashion</a>
            <a>/</a>
            <a class="text-gray-600 hover:text-gray-900" href='./subcategory.html'>Man's Clothes</a>
            <a>/</a>
            <span class="text-lightBackgroundColor">Short Sleeve Dewy Print</span>
        </div>
        <section class="main w-12/12 py-6 pt-0" style="height: auto;">
            <div class="grid gap-6 md:gap-10 p-5 product-detail w-full md:w-10/12 mx-auto">
                <div class="product-images grid gap-2" data-context="{{product_images.context_name}}">
                    <div class="img-magnifier img-wrapper overflow-hidden" >
                        <img  style="object-fit: cover;" src="" alt="">
                    </div>
                    <hr>
                    <div class="product-images-list grid gap-2" style="grid-template-columns: repeat(5, 1fr);">
                        <img style="aspect-ratio: 1;object-fit: cover;cursor: pointer;" src="https://images.unsplash.com/photo-1591047139829-d91aecb6caea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNsb3RoZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                        <img style="aspect-ratio: 1;object-fit: cover;cursor: pointer;" src="https://images.unsplash.com/photo-1562157873-818bc0726f68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2xvdGhlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                        <img style="aspect-ratio: 1;object-fit: cover;cursor: pointer;" src="https://images.unsplash.com/photo-1620799140408-edc6dcb6d633?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNsb3RoZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                        <img style="aspect-ratio: 1;object-fit: cover;cursor: pointer;" src="https://images.unsplash.com/photo-1537274942065-eda9d00a6293?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNsb3RoZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                </div>
                <div class="grid gap-4 justify-start content-start">
                    <div class="grid md:grid-flow-col justify-between gap-1">                        
                        <h3 class="text-xl md:text-2xl font-bold text-lghterBackgroundColor">
                            Short Sleeve Dewy Print</h3>
                        <p class="text-bold justify-start text-lghterBackgroundColor" style="display:grid;grid-auto-flow: column; align-items: baseline;gap: .25rem;">
                            <span class="text-base md:text-lg">USD</span>
                            <span class="text-xl md:text-2xl font-bold">120.40</span>
                        </p>
                    </div>
                    <div class="grid md:gap-1 py-2 justify-items-start" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                        <p class="text-base font-normal text-slate-800">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth</p>
                    </div>
                    <div class="grid gap-4">
                        <p class="text-slate-700 flex gap-2" data-context="{{product_supplier.context_name}}">
                            <span>Supplier: </span>
                            <a href="" class="font-semibold">Alexander Fashions</a>
                        </p>
                        <p class="text-slate-700 flex flex-wrap gap-3 justify-start items-center" data-context="{{product_stores.context_name}}">
                            <span>Stores: </span>
                            <a href="" class="grid px-4 py-1 bg-slate-200 rounded-full text-backgroundColor">Kampala Styles</a>
                            <a href="" class="grid px-4 py-1 bg-slate-200 rounded-full text-backgroundColor">Nairobi Fashion</a>
                        </p>
                    </div>
                    <div class="cta flex flex-wrap gap-3 my-3">
                        <button class="flex place-items-center gap-3 px-5 md:px-7 py-2 text-base md:py-3 bg-yellowColor hover:bg-yellowColorHover duration-200 transition-all ease-in rounded-full text-white font-semibold">
                            <span class="text-white"><i class="fa fa-address-book"></i></span>
                            <span>Contact Supplier</span>
                        </button>
                        <button class="flex place-items-center gap-3 px-5 md:px-7 py-2 text-base md:py-3 bg-lghterBackgroundColor hover:bg-lghterBackgroundColorHover duration-200 transition-all ease-in rounded-full text-white font-semibold">
                            <span class="text-white"><i class="fa fa-file"></i></span>
                            <span>Make Contract</span>
                        </button>
                        <button class="flex place-items-center gap-3 px-5 md:px-7 py-2 text-base md:py-3 bg-backgroundColor hover:bg-backgroundColorHover duration-200 transition-all ease-in rounded-full text-white font-semibold">
                            <span class="text-white"><i class="fa fa-shopping-cart"></i></span>
                            <span>Add To Wishlist</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="main w-12/12 py-6 md:py-10" style="background-color: #FFFFFF;">
            <div class="grid w-full mx-auto cf-1 gap-4 md:gap-6 w-full md:w-10/12 mx-auto">
                <div class="section-heading">
                    <h2 class="sec-title text-xl md:text-2xl font-bold text-lghterBackgroundColor">Products Just For you</h2>
                </div>
                <div class="section-body grid md:gap-3 grid-cols-2 md:grid-cols-5">
                    <div class="single-image-product-card overflow-hidden rounded flex gap-0.5 card-outlined">
                            <a class="grid gap-2" href="./product.html">
                                <img src="../static/assets/imgs/resources/prod.jpg" alt="Product" class="item-img rounded" style="width: 100%;aspect-ratio:1/1.2;object-fit:cover;" >
                                <div class="item-details grid gap-0 justify-center py-2 md:py-3 px-4 gap-2" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                    <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">    
                                        OEM Basketball Shoes High Quality Outdoor Sports Shoes
                                    </h5>
                                    <p class="text-xs font-medium">
                                        <span>USD</span>
                                        <span>200</span>
                                    </p>
                                </div>
                                <span class="grid items-center pb-2 px-4 font-semibold text-sm">By CorEats Mixes, Inc.</span>
                            </a>
                    </div>
                    <div class="single-image-product-card overflow-hidden rounded flex gap-0.5 card-outlined">
                            <a class="grid gap-2" href="./product.html">
                                <img src="../static/assets/imgs/resources/prod.jpg" alt="Product" class="item-img rounded" style="width: 100%;aspect-ratio:1/1.2;object-fit:cover;" >
                                <div class="item-details grid gap-0 justify-center py-2 md:py-3 px-4 gap-2" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                    <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">    
                                        OEM Basketball Shoes High Quality Outdoor Sports Shoes
                                    </h5>
                                    <p class="text-xs font-medium">
                                        <span>USD</span>
                                        <span>200</span>
                                    </p>
                                </div>
                                <span class="grid items-center pb-2 px-4 font-semibold text-sm">By CorEats Mixes, Inc.</span>
                            </a>
                    </div>
                    <div class="single-image-product-card overflow-hidden rounded flex gap-0.5 card-outlined">
                            <a class="grid gap-2" href="./product.html">
                                <img src="../static/assets/imgs/resources/prod.jpg" alt="Product" class="item-img rounded" style="width: 100%;aspect-ratio:1/1.2;object-fit:cover;" >
                                <div class="item-details grid gap-0 justify-center py-2 md:py-3 px-4 gap-2" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                    <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">    
                                        OEM Basketball Shoes High Quality Outdoor Sports Shoes
                                    </h5>
                                    <p class="text-xs font-medium">
                                        <span>USD</span>
                                        <span>200</span>
                                    </p>
                                </div>
                                <span class="grid items-center pb-2 px-4 font-semibold text-sm">By CorEats Mixes, Inc.</span>
                            </a>
                    </div>
                    <div class="single-image-product-card overflow-hidden rounded flex gap-0.5 card-outlined">
                            <a class="grid gap-2" href="./product.html">
                                <img src="../static/assets/imgs/resources/prod.jpg" alt="Product" class="item-img rounded" style="width: 100%;aspect-ratio:1/1.2;object-fit:cover;" >
                                <div class="item-details grid gap-0 justify-center py-2 md:py-3 px-4 gap-2" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                    <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">    
                                        OEM Basketball Shoes High Quality Outdoor Sports Shoes
                                    </h5>
                                    <p class="text-xs font-medium">
                                        <span>USD</span>
                                        <span>200</span>
                                    </p>
                                </div>
                                <span class="grid items-center pb-2 px-4 font-semibold text-sm">By CorEats Mixes, Inc.</span>
                            </a>
                    </div>
                    <div class="single-image-product-card overflow-hidden rounded flex gap-0.5 card-outlined">
                            <a class="grid gap-2" href="./product.html">
                                <img src="../static/assets/imgs/resources/prod.jpg" alt="Product" class="item-img rounded" style="width: 100%;aspect-ratio:1/1.2;object-fit:cover;" >
                                <div class="item-details grid gap-0 justify-center py-2 md:py-3 px-4 gap-2" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                    <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">    
                                        OEM Basketball Shoes High Quality Outdoor Sports Shoes
                                    </h5>
                                    <p class="text-xs font-medium">
                                        <span>USD</span>
                                        <span>200</span>
                                    </p>
                                </div>
                                <span class="grid items-center pb-2 px-4 font-semibold text-sm">By CorEats Mixes, Inc.</span>
                            </a>
                    </div>
                    <div class="single-image-product-card overflow-hidden rounded flex gap-0.5 card-outlined">
                        <a class="grid gap-2" href="./product.html">
                            <img src="../static/assets/imgs/resources/prod.jpg" alt="Product" class="item-img rounded" style="width: 100%;aspect-ratio:1/1.2;object-fit:cover;" >
                            <div class="item-details grid gap-0 justify-center py-2 md:py-3 px-4 gap-2" style="border-bottom: 1px solid hsla(213, 28%, 19%, .1);border-top: 1px solid hsla(213, 28%, 19%, .1)">
                                <h5 class="text-sm font-bold leading-5 text-lightBackgroundColor">    
                                    OEM Basketball Shoes High Quality Outdoor Sports Shoes
                                </h5>
                                <p class="text-xs font-medium">
                                    <span>USD</span>
                                    <span>200</span>
                                </p>
                            </div>
                            <span class="grid items-center pb-2 px-4 font-semibold text-sm">By CorEats Mixes, Inc.</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="../static/js/scripts.js"></script>
</body>

</html>