{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<script src="{% static 'fullcalendar-6.1.8/dist/index.global.min.js' %}"></script>
<script src="{% static 'js/fullcalendar-6-custom/fullcalendar.js' %}"></script>

<div class="main-content" style="overflow-y: scroll;">
    <div class="cs-content-area cs-no-box-shadow" style="block-size: fit-content;">
        <div class="calendar-wrapper outlined" style="padding: .6rem .4rem;">
            <div id='calendar'></div>
        </div>
    </div>
</div>

<script src="{% static 'js/createChart.js' %}"></script>


{% endblock %}