{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="main-content" style="overflow-y: scroll;">
    <div class="cs-content-area cs-no-box-shadow outlined" style="block-size: 100vh;padding: .6rem .4rem;">
        <div class="content-area-top flex" style="justify-content: space-between;padding-block-start: .4rem;">
            <h3 style="font-weight:600;">{% trans 'Reporting & Analytics' %}</h3>
        </div>

        <div class="notifications-section flex" style="background-color: rgb(226, 226, 224);">
            <h4 class="section-togglers" data-section="sec_00" style="padding-block: 1.2rem;">Order Analytics</h4>
            <h4 class="section-togglers" data-section="sec_01" style="padding-block: 1.2rem;">Spend Management</h4>
            <!-- <h4 class="section-togglers" data-section="sec_02" style="padding-block: 1.2rem;">Supplier Performance</h4> -->
            <h4 class="section-togglers" data-section="sec_03" style="padding-block: 1.2rem;">Custom Reports</h4>
        </div>

        <div class="notification-section inview" id="sec_00" style="display: flex;flex-direction:column;justify-content: flex-start;align-items: flex-start;">
            <div class="filter-content flex">
                <div class="filter-cards duration card flex p-0">
                    <div class="form-control flex action">
                        <button class="btn act-btn active br-0 m-0 day" id="day">Today</button>
                    </div>
                    <div class="form-control flex action">
                        <button class="btn act-btn br-0 m-0 week" id="week">Week</button>
                    </div>
                    <div class="form-control flex action">
                        <button class="btn act-btn br-0 m-0 month" id="month">Month</button>
                    </div>
                    <div class="form-control flex action">
                        <button class="btn act-btn br-0 m-0 year" id="year">Year</button>
                    </div>
                </div>
                <div class="filter-cards date card flex p-0">
                    <form action="" class="pick-date-form flex">
                        <div class="form-control flex action">
                            <input type="date" name="" id="">
                            <button class="btn active pick-date"><i class="ti-link"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="data-visualization" style="inline-size: 100%;">
                <div class="cs-stats stats-summary-card cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: .8rem;padding: .5rem;">
                    <div style="display: grid;">
                        <canvas id="engagement" style="max-block-size: 266px;"></canvas>
                        <span class="cs-text-md cs-font-bold cs-text-secondary" style="color: var(--secondary-color);justify-self: center;">{% trans 'Engagement Analytics' %}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="notification-section" id="sec_01" style="display: flex;flex-direction:column;justify-content: flex-start;align-items: flex-start;">
            hi
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
    
        const section_togglers = document.querySelectorAll(".section-togglers")
        section_togglers.forEach(
            activator => activator.addEventListener("click", () => {
                let sectionToShow = document.querySelector(`#${activator.dataset.section}`)

                section_togglers.forEach(section_toggler => {
                    section_toggler.style.borderBlockEnd = "unset";
                    section_toggler.style.color = "#929293";
                })
                activator.style.color = "#363637";
                activator.style.borderBlockEnd = "2px solid #363637";
                
                let openSections = document.querySelectorAll(".notification-section.inview");
                openSections.forEach(section => section.classList.remove("inview"))

                sectionToShow.classList.add("inview")
            })
        )

        $("#order-analytics").DataTable();
        $("#spend-management").DataTable();
        const customReportsTable = $("#custom-reports").DataTable();


        // Extend dataTables search
        $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var min = $('#min-date').val();
                var max = $('#max-date').val();
                var createdAt = data[3] || 0; // Our date column in the table
                if (
                (min == "" || max == "") ||
                (moment(createdAt).isSameOrAfter(min) && moment(createdAt).isSameOrBefore(max))
                ) {
                return true;
                }
                return false;
            }
        );

        $('.date-range-filter').change(function() {
            customReportsTable.draw();
        });

        function printDataTable(mTitle) {
            const title = document.createElement('h3');
            title.style.textDecoration = "underline";
            title.textContent = mTitle;
            const divToPrint = document.querySelector("#custom-reports");
            divToPrint.append(title);
            let htmlToPrint = '' +
                '<style type="text/css">' +
                    'table {' +
                        'border-collapse:collapse;' +
                    '}' +
                    'table th, table td {' +
                        'border:1px solid #000;' +
                        'padding:0.5em;' +
                    '}' +
                '</style>';
            htmlToPrint += divToPrint.outerHTML;
            const newWin = window.open("");
            newWin.document.write(htmlToPrint);
            newWin.print();
            newWin.close();
            title.textContent = "";
        }

        document.querySelector("#print-custom-reports").addEventListener('click', ()=> {
            printDataTable("Custom Report:");
        });
    })

</script>


<script src="{% static 'js/createChart.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        const category_group = JSON.parse(document.getElementById('category_group').textContent);

        let engagement = createChart('Engagement.',
            'bar',
            ['10/08/2000', '10/08/2000', '10/08/2000','10/08/2000'],
            [80, 100, 46, 70],
            'engagement'
        );

        let mChart2 = createChart('Users.',
            'line',
            ['10/08/2000', '10/08/2000', '10/08/2000','10/08/2000'],
            [80, 100, 46, 70],
            'users'
        );
    });
</script>





{{ category_group|json_script:"category_group" }}

{% endblock %}