
{% load static %}
{% load i18n %}
    <hr>
    <footer class="mt-0 md:mt-10">
        <div class="container-fluid foot mt-0 md:mt-50">
            <div class="container my-8 hidden md:flex" style="display: grid;gap: 10rem; grid-template-columns: 1fr 2fr;">
                <div class="cl cl1 w-3/12">
                    <img loading="lazy" src="{% static 'assets/imgs/resources/logo_website-e1652772171833-1.png' %}" alt="footer-logo" style="inline-size: 5rem;">
                </div>
                <div class="fc gap-6 w-9/12 grid gap-4" style="block-size:70vh;margin:0">
                    <div class="flex hoverables" style="width:100%;">
                        <div class="cl cl2">
                            <h1>{% trans 'Let us help you' %}</h1>
                            <ul>
                                <li><a href="#">{% trans 'Help Center' %}</a></li>
                                <li><a href="#">{% trans 'Contact us' %}</a></li>
                                <li><a href="#">{% trans 'Payment Methods' %}</a></li>
                                <li><a href="#">{% trans 'Report a Product' %}</a></li>
                            </ul>
                        </div>
                        <div class="cl cl3">
                            <h1>{% trans 'About Foroden' %}</h1>
                            <ul>
                                <li><a href="./about.html">{% trans 'About us' %}</a></li>
                                <li><a href="#">{% trans 'Terms and Conditions' %}</a></li>
                                <li><a href="#">{% trans 'Dispute Resolution Policy' %}</a></li>
                                <li><a href="#">{% trans 'Privacy Policy' %}</a></li>
                                <li><a href="#">{% trans 'Cookie Notice' %}</a></li>
                            </ul>
                        </div>
                        <div class="cl cl4">
                            <h1>{% trans 'Make money with us' %}</h1>
                            <ul>
                                <li><a href="#">{% trans 'Sell on Foroden' %}</a></li>
                                <li><a href="#">{% trans 'Make Business Contracts' %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr style="border-top: 1px solid #d5d5d5;width:100%;">
                    <div class="flex justify-items-start items-start fc dropdown-foot hide gap-4" style="padding:0;block-size:fit-content;margin:0;align-items:flex-start;">
                        <div class="grid gap-2 w-5/12">
                            <h1>{% trans 'Payment Methods' %}</h1>
                            <ul>
                                <li><a href="#">PayPal</a></li>
                                <li><a href="#">Stripe</a></li>
                                <li><a href="#">Mastercard</a></li>
                                <li><a href="#">ZeeMoney</a></li>
                            </ul>
                        </div>
                        <div class="cl cl3" style="width: 100%">
                            <h1>{% trans 'FAQs' %}</h1>
                            <div class="cl cl3 flex" style="width: 100%;gap: 2rem;">
                                <ul>
                                    <li><a href="#">{% trans 'What is a showroom?' %} </a></li>
                                    <li><a href="#">{% trans 'How to join a showroom' %}</a></li>
                                    <li><a href="#">{% trans 'Get seen in the showroom' %}</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">{% trans 'How to create a store?' %}</a></li>
                                    <li><a href="#">{% trans 'How to create products' %}</a></li>
                                    <li><a href="#">{% trans 'Manage your products' %}</a></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-top: 25px;margin-bottom:25px;">
                <div class="grid md:flex gap-4 items-end" style="justify-content:space-between;margin:.6rem 0;">
                    <div class="grid flex-left gap-2">
                        <!-- <div class="flex-left-top" style="margin-bottom:14px;">
                            <a href="#" style="border:1px solid #ccc;border-radius:5px;padding:10px 15px;">United
                                States
                                . English</a>
                        </div> -->
                        <div class="grid gap-1 md:gap-2 flex-left-bottom grid">
                            <span class="hidden md:grid" style="color:#adacac;">© 2010-2022 Foroden</span>
                            <div class="flex gap-2">
                                <a href="{% url 'app_admin:home' %}">{% trans 'Admin' %}</a>
                                <a href="#">{% trans 'Terms' %}</a>
                                <a href="#">{% trans 'Privacy' %}</a>
                                <a href="#">{% trans 'Legal' %}</a>
                                <a href="#">{% trans 'Accessibility Statement' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-right flex md:grid gap-3 items-center justify-center">
                        <div class="flex-left-top flex gap-4">
                            <i class="ti-facebook"></i>
                            <i class="ti-youtube"></i>
                            <i class="ti-twitter"></i>
                            <i class="ti-instagram"></i>
                            <i class="ti-linkedin"></i>
                            <i class="ti-microphone"></i>
                        </div>
                        <!-- <div class="flex-left-bottom flex" style="justify-content:flex-end;">
                            <img src="{% static 'assets/imgs/resources/apple-logo.jpg' %}" alt=""
                                style="width:80px;block-size:30px;">
                        </div>
                    </div> -->
                    <span class="justify-self-center grid md:hidden" style="color:#adacac;">© 2010-2022 Foroden</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>

    <script>
        $(document).ready(function () {
            // $("#banner").owlCarousel({
            //     autoPlay: 5000, //Set AutoPlay to 3 seconds
            //     responsiveClass:true,
            //     items: 1,
            //     // itemsDesktop: [1199, 3],
            //     // itemsDesktopSmall: [979, 3],
            // });
        });
    </script>

</body>

</html>