
{% load static %}
{% load i18n %}

<style>

    .flex-left-bottom a,
    footer li a {
        color: #717171;
    }

    .flex-left-bottom a {
        padding-inline-end: .4rem;
    }

    .flex-left-bottom a:last-child {
        border-inline-end: unset;
    }

    #footer-small {
        display: none;
    }

    .accordion {
        width: 100%;
    }

    .accordion-collapsible {
        background: transparent;
    }

    .accordion-collapsible:not(:last-child) {
        border-bottom: none;
    }

    .collapsible-header {
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0;
        cursor: pointer;
    }

    .collapsible-header::after {
        content: '+';
        position: relative;
        right: .625rem;
    }

    .collapsible-content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height .8s, opacity 1s;
    }

    .collapsible-open .collapsible-header::after {
        content: '-';
    }

    .collapsible-open .collapsible-content {
        max-height: fit-content;
        opacity: 1;
    }

    .collapsible-content ul li {
        margin: .1rem 0;
    }

    .collapsible-content ul li a {
        font-size: 16px;
        margin: .625rem;
    }

    .collapsible-content ul li a {
        color: #828282;
    }

    @media (max-width: 786px) {
        .advert .section-item-group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        .section-heading h2:first-child,
        .section-heading h2:last-child {
            display: none;
        }

        #footer-large {
            display: none;
        }

        #footer-small {
            display: block;
        }
    }
</style>


    <footer class="mt-4 py-2 md:py-8">
        <div class="container-fluid foot mt-50" id="footer-large">
            <div class="container">
                <div class="fc flex">
                    <div class="flex hoverables" style="width:100%;height:auto;">
                        <div class="cl cl1">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">Popular Features</h1>
                            <ul>
                                <li><a href="#">Stores</a></li>
                                <li><a href="#">Showrooms</a></li>
                                <li><a href="#">Marketplace</a></li>
                            </ul>
                        </div>
                        <div class="cl cl2">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">Payment Methods</h1>
                            <ul>
                                <li><a href="#">Stripe</a></li>
                                <li><a href="#">Square</a></li>
                                <li><a href="#">PayPal</a></li>
                                <li><a href="#">Secure Pay</a></li>
                                <li><a href="#">Google Pay</a></li>
                                <li><a href="#">Mastercard</a></li>
                            </ul>
                        </div>
                        <div class="cl cl2">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">FAQs</h1>
                            <ul>
                                <li><a href="#">What is a store?</a></li>
                                <li><a href="#">What is a showroom?</a></li>
                                <li><a href="#">How do you create a store?</a></li>
                            </ul>
                        </div>
                        <div class="cl cl4">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">Company</h1>
                            <ul>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Management Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-bottom:25px;">
                <div class="flex" style="justify-content:space-between;margin:.6rem 0;">
                    <div class="flex-left">
                        <div class="flex-left-top" style="margin-bottom:14px;">
                            <a href="#"
                                style="border:1px solid #ccc;border-radius:5px;padding:10px 15px;text-decoration:none;">United
                                States
                                . English</a>
                        </div>
                        <div class="flex-left-bottom flex">
                            <span style="margin-inline-end:10px;color: #717171;">© 2010-2022
                                Foroden</span>
                            <a href="./admin/index.html"
                                style="margin-inline-end:10px;margin-inline-start:20px;">Admin</a>
                            <a href="#" style="margin-inline-end:10px;">Terms</a>
                            <a href="#" style="margin-inline-end:10px;">Privacy</a>
                            <a href="#" style="margin-inline-end:10px;">Legal</a>
                            <a href="#" style="margin-inline-end:10px;">Accessibility Statement</a>
                        </div>
                    </div>
                    <div class="flex-right">
                        <div class="flex-left-top">
                            <i class="ti-facebook" style="margin-inline-end:10px;"></i>
                            <i class="ti-youtube" style="margin-inline-end:10px;"></i>
                            <i class="ti-twitter" style="margin-inline-end:10px;"></i>
                            <i class="ti-instagram" style="margin-inline-end:10px;"></i>
                            <i class="ti-linkedin" style="margin-inline-end:10px;"></i>
                            <i class="ti-microphone" style="margin-inline-end:10px;"></i>
                        </div>
                        <div class="flex-left-bottom flex" style="justify-content:flex-end;">
                            <img src="../static/assets/imgs/resources/apple-logo.jpg" alt=""
                                style="margin-inline-end:10px;width:80px;height:30px;">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid foot mt-50" id="footer-small">
            <div class="container" style="margin-block:1.2rem;">
                <div class="accordion">
                    <div class="accordion-collapsible">
                        <div class="collapsible-header">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">Popular Features</h1>
                        </div>
                        <div class="collapsible-content">
                            <ul>
                                <li><a href="#">Stores</a></li>
                                <li><a href="#">Showrooms</a></li>
                                <li><a href="#">Marketplace</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-collapsible">
                        <div class="collapsible-header">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">Payment Methods</h1>
                        </div>
                        <div class="collapsible-content">
                            <ul>
                                <li><a href="#">Stripe</a></li>
                                <li><a href="#">Square</a></li>
                                <li><a href="#">PayPal</a></li>
                                <li><a href="#">Secure Pay</a></li>
                                <li><a href="#">Google Pay</a></li>
                                <li><a href="#">Mastercard</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-collapsible">
                        <div class="collapsible-header">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">FAQs</h1>
                        </div>
                        <div class="collapsible-content">
                            <ul>
                                <li><a href="#">What is a store?</a></li>
                                <li><a href="#">What is a showroom?</a></li>
                                <li><a href="#">How do you create a store?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-collapsible">
                        <div class="collapsible-header">
                            <h1 style="font-size:16px;font-weight:500;text-transform:unset;">Company</h1>
                        </div>
                        <div class="collapsible-content">
                            <ul>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Management Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-bottom:25px;">
                <div class="flex" style="flex-direction:column;">
                    <div class="flex" style="justify-content: center;">
                        <a href="./admin/index.html" style="margin-inline-end:10px;">Admin</a>
                        <a href="#" style="margin-inline-end:10px;">Terms</a>
                        <a href="#" style="margin-inline-end:10px;">Privacy</a>
                        <a href="#" style="margin-inline-end:10px;">Legal</a>
                        <a href="#" style="margin-inline-end:10px;">Accessibility</a>
                    </div>
                    <div class="flex" style="justify-content: center;margin-block-start: .4rem;">
                        <i class="ti-facebook" style="margin-inline-end:10px;"></i>
                        <i class="ti-youtube" style="margin-inline-end:10px;"></i>
                        <i class="ti-twitter" style="margin-inline-end:10px;"></i>
                        <i class="ti-instagram" style="margin-inline-end:10px;"></i>
                        <i class="ti-linkedin" style="margin-inline-end:10px;"></i>
                        <i class="ti-microphone" style="margin-inline-end:10px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'js/scripts.js' %}"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script>
        let collapsibleHeaders = document.getElementsByClassName('collapsible-header');
        let collapsibleSubHeaders = document.getElementsByClassName('collapsible-sub-header');

        Array.from(collapsibleHeaders).forEach((header, i) => {
            header.addEventListener('click', () => {
                Array.from(collapsibleHeaders).forEach(header => {
                    header.parentElement.classList.remove('collapsible-open');
                });
                header.parentElement.classList.toggle('collapsible-open');
            });
        });
    </script>

</body>

</html>