
{% load static %}
    <hr>
    <footer class="mt-0 md:mt-10">
        <div class="container-fluid foot mt-0 md:mt-50">
            <div class="container my-8 hidden md:flex">
                <div class="cl cl1 w-3/12">
                    <img loading="lazy" src="{% static 'assets/imgs/resources/logo_website-e1652772171833-1.png' %}" alt="footer-logo" style="inline-size: 5rem;">
                </div>
                <div class="fc gap-6 w-9/12 grid gap-4" style="height:fit-content;margin:0">
                    <div class="flex hoverables" style="width:100%;">
                        <div class="cl cl2">
                            <h1>Let us help you</h1>
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">How to buy on Foroden</a></li>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Delivery</a></li>
                                <li><a href="#">Delivery Timelines</a></li>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="#">Report a Product</a></li>
                            </ul>
                        </div>
                        <div class="cl cl3">
                            <h1>About Foroden</h1>
                            <ul>
                                <li><a href="./about.html">About us</a></li>
                                <li><a href="#">Foroden Careers</a></li>
                                <li><a href="#">IPR Protection Policy</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Dispute Resolution Policy</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Cookie Notice</a></li>
                                <li><a href="#">Free Delivery</a></li>
                                <li><a href="#">Flash Sales</a></li>
                            </ul>
                        </div>
                        <div class="cl cl4">
                            <h1>Make money with us</h1>
                            <ul>
                                <li><a href="#">Sell on Foroden</a></li>
                                <li><a href="#">Become a Sales Consultant</a></li>
                                <li><a href="#">Become a Logistics Service Partner</a></li>
                                <li><a href="#">Become a Foroden Delivery Agent</a></li>
                                <li>View More<i class="ti-angle-down ti-angle-foot" id="toggle-dropdown-foot"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr style="border-top: 1px solid #d5d5d5;width:100%;">
                    <div class="flex justify-items-start items-start fc dropdown-foot hide gap-4" style="padding:0;height:fit-content;margin:0;align-items:flex-start;">
                        <div class="grid gap-2 w-5/12">
                            <h1>Payment Methods</h1>
                            <ul>
                                <li><a href="#">PayPal</a></li>
                                <li><a href="#">Stripe</a></li>
                                <li><a href="#">Mastercard</a></li>
                                <li><a href="#">ZeeMoney</a></li>
                            </ul>
                        </div>
                        <div class="cl cl3" style="width: 100%">
                            <h1>FAQs</h1>
                            <div class="cl cl3 flex gap-12" style="width: 100%">
                                <ul>
                                    <li><a href="#">What is a showroom? </a></li>
                                    <li><a href="#">How to join a showroom</a></li>
                                    <li><a href="#">Get seen in the showroom</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">How to create a store?</a></li>
                                    <li><a href="#">How to create products</a></li>
                                    <li><a href="#">Manage your products</a></li>
                                    <li><a href="#">More Tutorials</a></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-top: 25px;margin-bottom:25px;">
                <div class="grid md:flex gap-4 items-end" style="justify-content:space-between;margin:.6rem 0;">
                    <div class="grid flex-left gap-2">
                        <!-- <div class="flex-left-top" style="margin-bottom:14px;">
                            <a href="#" style="border:1px solid #ccc;border-radius:5px;padding:10px 15px;">United
                                States
                                . English</a>
                        </div> -->
                        <div class="md:flex grid gap-1 md:gap-3 flex-left-bottom grid">
                            <span class="hidden md:grid" style="color:#adacac;">© 2010-2022 Foroden</span>
                            <div class="flex gap-2">
                                <a href="#">Terms</a>
                                <a href="#">Privacy</a>
                                <a href="#">Legal</a>
                                <a href="#">Accessibility Statement</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex-right flex md:grid gap-3 items-center justify-center">
                        <div class="flex-left-top flex gap-4">
                            <i class="ti-facebook"></i>
                            <i class="ti-youtube"></i>
                            <i class="ti-twitter"></i>
                            <i class="ti-instagram"></i>
                            <i class="ti-linkedin"></i>
                            <i class="ti-microphone"></i>
                        </div>
                        <div class="flex-left-bottom flex" style="justify-content:flex-end;">
                            <img src="../static/assets/imgs/resources/apple-logo.jpg" alt=""
                                style="width:80px;height:30px;">
                        </div>
                    </div>
                    <span class="justify-self-center grid md:hidden" style="color:#adacac;">© 2010-2022 Foroden</span>
                </div>
            </div>
        </div>
    </footer>
    <script>
        const toggleDropdownFoot = document.querySelector('#toggle-dropdown-foot');
        const dropdownFoot = document.querySelector('.dropdown-foot');
        toggleDropdownFoot.addEventListener('click', () => {
            // It looks like tailwind is blocking this class
            dropdownFoot.classList.toggle('hide');
        });
    </script>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>