{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="main-content">
        <div class="cs-grid content-area w-desciption cs-align-start">
            <form action="{% url 'supplier:dashboard-advertise' %}" method="POST" id="advert-form" class="cs-grid br-sm outlined" style="padding: 2rem;--gap:1rem;">
                <h2 style="margin: 0;" class="form-heading cs-text-body cs-font-600 cs-text-secondary">
                    {% trans 'Fill in form to advertise product' %}
                </h2>
                <p class="text-base text-slate-600">* {% trans 'Represents required fields' %}.</p>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                            <div class="cs-flex cs-justify-between cs-content-center cs-text-normal br-sm cs-font-600" style="border: 1px solid rgb(236, 35, 35);color: rgb(236, 35, 35); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                                <p>{{ message }}</p>
                                <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                            <div class="cs-flex cs-justify-between cs-content-center cs-text-normal br-sm cs-font-600" style="border: 1px solid rgb(37, 141, 2930);color: rgb(37, 141, 2930); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                                <p>{{ message }}</p>
                                <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <div class="form-group cs-grid" style="--gap: .5rem;">
                    <div class="cs-flex cs-justify-between" style="padding: 0.5rem 0;flex-wrap: wrap;">
                        <label for="product" class="cs-text-normal" style="color: var(--text-color);">{% trans 'Select Product' %} *</label>
                        <a class="cs-font-normal cs-text-md" href="{% url 'supplier:dashboard-productscreate' %}">New Product? <span class="cs-text-accent cs-font-bold">Create Product</span></a>
                    </div>
                    <input type="text" class="cs-text-normal" name="product" id="product" required list="products" autocomplete="false">
                    <datalist id="products">
                        {% for product in products %}
                            <option value="{{product.name}}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-group cs-grid cs-grid-flow-row" style="--gap: .5rem;">
                    <div class="form-group cs-grid cs-grid-flow-col" style="--gap: .5rem;border-radius: .25rem;" id="date_selection">
                        <div class="form-group cs-grid" style="--gap: .5rem;">
                            <label for="start_date" class="cs-text-normal" style="color: var(--text-color);">{% trans 'Start Date' %} *</label>
                            <input type="date" class="cs-text-normal" name="start_date" id="start_date" required onchange="setDuration()">
                        </div>
                        <div class="form-group cs-grid" style="--gap: .5rem;">
                            <label for="end_date" class="cs-text-normal" style="color: var(--text-color);">{% trans 'End Date' %} *</label>
                            <input type="date" class="cs-text-normal" name="end_date" id="end_date" required onchange="setDuration()">
                        </div>
                    </div>
                    <div class="cs-flex cs-justify-between" style="padding: 0.5rem 0;flex-wrap: wrap;">
                        <p class="cs-font-normal cs-text-md">{% trans "Advertising Period:" %} <span class="cs-text-accent cs-font-bold" id="duration"><span class="count"></span> {% trans "Days" %}</span></p>
                        <p class="cs-font-700 cs-text-accent" style="justify-self: flex-end;">{% trans "1 day = " %} {{ advertising_price }} {% trans "dollars" %}</p>
                    </div>
                </div>
                <div class="form-group cs-grid" style="--gap: .5rem;justify-content: flex-start;">
                    <input class="btn cs-text-white" type="submit" value="{% trans 'Create Advert' %}" style="padding: .7rem 1.5rem;font-size: 1rem;">
                </div>
            </form>

            <div class="description cs-grid br-sm outlined cs-content-start">
                <h3 class="cs-font-bold cs-text-secondary cs-text-body">Guidelines</h3>
                <ul class="cs-font-normal cs-text-normal cs-grid" style="--gap: .5rem;list-style-type:lower-alpha;list-style-position: inside;">
                    <li>{% trans 'Select the desired product by entering the product name.' %}</li>
                    <li>{% trans 'To advertise a new product, you must first create the product.' %}</li>
                    <li>{% trans 'Specify the advertising period by selecting the start date and end date.' %}</li>
                    <li>{% trans 'Please take note of the advertising cost' %}</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        const startDate = document.querySelector('#start_date');
        const endDate = document.querySelector('#end_date');
        document.querySelector("#advert-form").addEventListener("submit", (e) => {

            if ((startDate.value !== null && startDate.value !== undefined) && (endDate.value !== null && endDate.value !== undefined))
            {
                let numOfDates = datediff(parseDate(startDate.value), parseDate(endDate.value));
                if (numOfDates < 1) {
                    e.preventDefault();
                    document.querySelector("#date_selection").style.border = "1px solid red";
                    return;
                }
            }
        })

        const setDuration = () => {
            const duration = document.querySelector('#duration .count');
            
            if ((startDate.value !== null && startDate.value !== undefined) && (endDate.value !== null && endDate.value !== undefined))
            {
                let numOfDates = datediff(parseDate(startDate.value), parseDate(endDate.value));
                if (numOfDates < 1) {
                    document.querySelector("#date_selection").style.border = "2px solid red";
                    document.querySelector("#date_selection").style.padding = ".5rem";
                }
                else {
                    document.querySelector("#date_selection").style.border = "none";
                    document.querySelector("#date_selection").style.padding = "0";
                }
                duration.textContent = numOfDates + 1;
            }
        }

        function parseDate(str) {
            var mdy = str.split('-');   
            return new Date(mdy[0], mdy[1], mdy[2]);
        }

        function datediff(first, second) {
            // Take the difference between the dates and divide by milliseconds per day.
            // Round to nearest whole number to deal with DST.
            return Math.round((second-first)/(1000*60*60*24));
        }

        const setDefaultDate = () => {

            const startDate = document.querySelector('#startDate');
            const endDate = document.querySelector('#endDate');

            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day;

            startDate.value = today;
            endDate.value = today;
        }
        
        setDefaultDate();    

    </script>

    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>

{% endblock %}