{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<script src="{% static 'fullcalendar-6.1.8/dist/index.global.min.js' %}"></script>
<script src="{% static 'js/fullcalendar-6-custom/fullcalendar.js' %}"></script>

<div class="main-content">
    <div class="cs-content-area">
        <div class="content-area" style="display: grid;justify-items: stretch;">
            <div id='calendar' class="full"></div>
        </div>
    </div>
</div>


{% endblock %}