{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="main-content split">
    <div class="content-area card">

        <div class="upper-content-area top-cards" data-context="{{statistics.context_name}}">
            {% for statistic in statistics.results %}
                <div class="top-card flex">
                    <div class="card-content card-content-left">
                        <span><i class="ti ti-money"></i></span>
                    </div>
                    <div class="card-content card-content-right">
                        <h4>{{statistic.name}}</h4>
                        <h6 id="stores">{{statistic.count}}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="lower-content-area">
            <div class="stats-summary-card cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: .8rem;padding: .5rem;">
                <div class="cs-grid cs-justify-between" style="--gap: 1rem;grid-template-columns: 1fr 1fr;">
                    <div id="request-selectors" class="selectors cs-flex cs-align-start" style="--gap: .5rem;">
                        <button style="padding: 0.25rem .75rem;" class="active btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="day">{% trans 'Day' %}</button>
                        <button style="padding: 0.25rem .75rem;" class="btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="week">{% trans 'Week' %}</button>
                        <button style="padding: 0.25rem .75rem;" class="btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="month">{% trans 'Month' %}</button>
                        <button style="padding: 0.25rem .75rem;" class="btn br-sm outlined cs-text-md cs-text-secondary cs-bg-transparent cd-grid " id="year">{% trans 'Year' %}</button>
                    </div>
                </div>
                <div style="display: grid;">
                    <canvas id="requests"></canvas>
                    <span class="cs-text-md cs-font-bold cs-text-secondary" style="color: var(--secondary-color);justify-self: center;">{% trans 'Requests Statistics' %}</span>
                </div>

            </div>
            <div class="stats-summary-card cs-grid cs-bg-white elevated br-sm cs-overflow-hidden outlined" style="--gap: .8rem;padding: .5rem;">
                <div style="display: grid;">
                    <canvas id="users" style="max-block-size: 266px;"></canvas>
                    <span class="cs-text-md cs-font-bold cs-text-secondary" style="color: var(--secondary-color);justify-self: center;">{% trans 'Product Sub Categories Statistics' %}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="right-card card">
            <h2>{% trans 'Top Viewed Products' %}</h2>
            <div class="body">
                <div class="top-selling-product-details">
                    <h4>Cosmetic & Jewellery</h4>
                </div>
                <div class="top-selling-product-details">
                    <h4>Fashion</h4>
                </div>
                <div class="top-selling-product-details">
                    <h4>Home furniture</h4>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}