{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="main-content">
        <div class="content-area">
            <!-- <h3 style="margin: .5rem 0;font-weight:600;">Manage Existing Product</h3> -->
            <!-- <div class="alert card card-info" id="orders-help">
                <i class="ti-close exit"></i>
                <div class="title">
                    <small>{% trans 'Click the "Edit" label' %}</small>
                </div>
                <div class="text">
                    <small>{% trans 'To make changes to your product' %}.</small>
                </div>
            </div> -->
            <div class="card data-table products-table">
                <table id="products" class="display" style="width:100%;margin-top:.5rem;">
                    <thead>
                        <tr>
                            <th>{% trans 'No' %}.</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Category' %}</th>
                            <th>{% trans 'Sub Category' %}</th>
                            <th>{% trans 'Unit Price' %}</th>
                            <th>{% trans 'Created At' %}</th>
                            <!-- <th>{% trans 'Action' %}</th> -->
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>{% trans 'No' %}.</th>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Category' %}</th>
                            <th>{% trans 'Sub Category' %}</th>
                            <th>{% trans 'Unit Price' %}</th>
                            <th>{% trans 'Created At' %}</th>
                            <!-- <th>{% trans 'Action' %}</th> -->
                        </tr>
                    </tfoot>
                </table>
                <div class="table-pagination cs-flex cs-justify-between cs-align-center" style="--gap: 1rem;padding: 0 1rem;">
                    <div class="cs-grid cs-align-center">
                        <p class="cs-text-md" style="color: var(--text-color);">{% trans 'Showing Page' %} <span id="current-page-0"></span> {% trans 'of' %} <span id="max-page"></span>. (<span id="table-item-count"></span> {% trans 'Entries' %})</p>
                    </div>
                    <div class="table-pagination cs-flex cs-justify-end cs-align-center" style="--gap: 1rem;">
                        <button id="previous-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Previous' %}</button>
                        <span id="current-page" class="cs-text-md"></span>
                        <button id="next-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Next' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script>
        // Table
        $(document).ready(function () {
            $('#table-1').DataTable();
        });


        // Open Modal
        const productEditBtns = document.querySelectorAll('.edit');
        productEditBtns.forEach(btn => {
            btn.addEventListener('click', editProduct);

        });

        function editProduct(e) {
            const name = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.textContent
            const category = e.target.previousElementSibling.previousElementSibling.previousElementSibling.textContent
            const price = e.target.previousElementSibling.previousElementSibling.textContent

            const product = {
                name,
                model: "TP-Link Modem 04.4v",
                serialNumber: "25416",
                category,
                price,
                description: "Some description for this particular product"
            };

            // Open Modal
            Modal.show(product);

            // Close Modal
            document.querySelector('#close-modal').addEventListener('click', (event) => {
                if (event.target.classList.contains('ti-close'))
                    Modal.hide(event);
            });
        }

        const closeCard = document.querySelector('.ti-close.exit');
        if (closeCard) {
            closeCard.addEventListener('click', function (e) {
                e.target.parentElement.remove();
            });
        }

    </script>

{% endblock %}