{% extends '../dashboard/utils/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="main-content">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                <div class="cs-flex cs-justify-between cs-content-center cs-text-normal br-sm cs-font-600" style="border: 1px solid rgb(236, 35, 35);color: rgb(236, 35, 35); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                    <p>{{ message }}</p>
                    <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                <div class="cs-flex cs-justify-between cs-content-center cs-text-normal br-sm cs-font-600" style="border: 1px solid hsl(116, 66%, 50%);color: hsl(116, 66%, 50%); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                    <p>{{ message }}</p>
                    <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="content-area">
        <div class="view-sub-tabs">
            <a class="active" href="{% url 'supplier:dashboard-stores' %}">{% trans "Manage Stores" %}</a>
            <a href="{% url 'supplier:dashboard-storescreate' %}">{% trans "Create Store" %}</a>
        </div>
        <div class="bordered data-table products-table">
            <table class="display" id='stores' style="width:100%;margin-top:.5rem;">
                <thead>
                    <tr class="selected">
                        <th>{% trans 'No.' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Products' %}</th>
                        <th>{% trans 'Verified' %}</th>
                        <th>{% trans 'Created At' %}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>{% trans 'No.' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Products' %}</th>
                        <th>{% trans 'Verified' %}</th>
                        <th>{% trans 'Created At' %}</th>
                    </tr>
                </tfoot>
            </table>
            <div class="table-pagination cs-flex cs-justify-between cs-align-center"
                style="--gap: 1rem;padding: 0 1rem;">
                <div class="cs-grid cs-align-center">
                    <p class="cs-text-md" style="color: var(--text-color);">{% trans 'Showing Page' %} <span
                            id="current-page-0"></span> {% trans 'of' %} <span id="max-page"></span>. (<span
                            id="table-item-count"></span> {% trans 'Entries' %})</p>
                </div>
                <div class="table-pagination cs-flex cs-justify-end cs-align-center" style="--gap: 1rem;">
                    <button id="previous-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Previous' %}</button>
                    <span id="current-page" class="cs-text-md"></span>
                    <button id="next-page" class="btn outlined cs-text-md cs-bg-hover-cover br-sm">{% trans 'Next' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal client" id="store-modal">
    <div class="modal-head">
        <h2>{% trans "Store" %}</h2>
        <i class="ti-close" id="close-modal"></i>
    </div>
    <div class="modal-body cs-grid" style="--gap: 1rem;">
        <form action="/" method="POST" id="showroom-form" class="cs-grid br-sm outlined" enctype="multipart/form-data" style="padding: 1rem;--gap: .5rem;">
            <h2 style="margin: 0;font-size: .9rem;" class="form-heading cs-text-body cs-font-600 cs-text-secondary">
                {% trans 'Add Store to Showroom' %} <span style="font-size: .9rem;color: rgb(139, 138, 138);">({% trans "Use down arrow to select showroom" %})</span>
            </h2>
            {% csrf_token %}
            <div class="cs-flex" style="--gap: 1rem;">
                <div class="form-group cs-grid" style="--gap: .5rem;inline-size: 100%;">
                    {% if not showrooms %}
                    <input type="text" class="cs-text-normal" name="showroom" id="showroom" required placeholder="{% trans 'Showroom' %}" list="showrooms" autocomplete="off" disabled="true">
                    {% else %}
                    <input type="text" class="cs-text-normal" name="showroom" id="showroom" required placeholder="{% trans 'Showroom' %}" list="showrooms" autocomplete="off">
                    {% endif %}
                    <datalist id="showrooms">
                        {% for showroom in showrooms %}
                            <option value="{{showroom.name}}" label="{{showroom.name}}">{{showroom.name}}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-group cs-grid" style="--gap: .5rem;justify-content: flex-end;">
                    <input class="btn cs-text-white" type="submit"
                    value="{% trans 'Submit' %}" style="padding: .7rem 1.5rem;font-size: 1rem;">
                </div>
            </div>
        </form>
        <form method="POST" id="product-form" class="cs-grid br-sm outlined" enctype="multipart/form-data" style="padding: 1rem;--gap: .5rem;">
            <h2 style="margin: 0;font-size: .9rem;" class="form-heading cs-text-body cs-font-600 cs-text-secondary">
                {% trans 'Add Product to Store' %} <span style="font-size: .9rem;color: rgb(139, 138, 138);">({% trans "Enter product name" %})</span>
            </h2>
            {% csrf_token %}
            <div class="cs-flex" style="--gap: 1rem;">
                <div class="form-group cs-grid" style="--gap: .5rem;inline-size: 100%;">

                    {% if not showrooms %}
                    <input type="text" class="cs-text-normal" name="product" id="product" required placeholder="{% trans 'Product Name' %}" list="products" disabled="true">
                    {% else %}
                    <input type="text" class="cs-text-normal" name="product" id="product" required placeholder="{% trans 'Product Name' %}" list="products">
                    {% endif %}
                    <datalist id="products">
                        {% for product in products.results %}
                            <option value="{{product.product.name|slice:":40"}}.." label="{{product.product.name|slice:":40"}}..">{{product.product.name|slice:":40"}}..</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-group cs-grid" style="--gap: .5rem;justify-content: flex-end;">
                    <input class="btn cs-text-white" type="submit"
                    value="{% trans 'Submit' %}" style="padding: .7rem 1.5rem;font-size: 1rem;">
                </div>
            </div>
        </form>
    </div>
    {% if not showrooms %}
    <div class="modal-foot cs-grid" style="justify-items: flex-end;">
        <a class="btn cs-bg-success br-sm" style="justify-self: flex-end;" href="{% url 'payment:memberships' %}">{% trans 'Subscribe To Access This Feature' %}</a>
    </div>
    {% endif %}
</div>

<script>
    // Table
    $(document).ready(function () {
        
    });


    // Open Modal
    const rows = document.querySelectorAll('.select');
    rows.forEach(row => {
        row.style.cursor = "pointer";
        row.addEventListener('click', navigateToStore);

    });

    function navigateToStore() {
        location.href = "_create-product.html";
    }

    const closeCard = document.querySelector('.ti-close.exit');
    if (closeCard) {
        closeCard.addEventListener('click', function (e) {
            e.target.parentElement.remove();
        });
    }

</script>

{% endblock %}